[2017-05-09 20:44] hiranya911 opened #21 "Support Running Integration Tests Against Arbitrary Firebase Projects"
Currently the integration test suite can only be run against the `admin-sdks-integration` project, which means only the core Firebase developers can actually run them. It should be made possible to run the integration tests against any project, so that external developers can also test and contribute to the integration test suite.

[2017-05-16 00:27] samtstern opened #24 "FR: Add robot webhook"
URL:
https://us-central1-ossbot-f0cad.cloudfunctions.net/githubWebhook

Content type:
application/json

Secret:
N/A

Select individual events:
  * Issues
  * Pull request
  * Issue comment

[2017-05-17 21:38] hiranya911 commented on #21
This has been fixed and released with v5.0.0

[2017-05-17 21:38] #21 closed

[2017-05-17 22:00] ismailbaskin opened #28 "Deobfuscated Code for database.js"
Is there deobfuscated code for [database.js](https://github.com/firebase/firebase-admin-node/blob/master/src/database/database.js) ?

[2017-05-17 22:06] hiranya911 commented on #28
You should be able to find that at https://github.com/firebase/firebase-js-sdk/tree/master/src/database

[2017-05-18 00:58] #28 closed

[2017-05-18 18:48] #24 closed

[2017-05-27 08:24] nvrrdt opened #31 "'npm install --save firebase-admin' installs and uses dns, dgram and native-dns which are deprecated"
When I do an 'npm run dev' I get missing dependencies, probably based on the fact that dns, dgram and native-dns are deprecated and thus not maintained.

'''
This dependency was not found:

* dns in ./~/firebase-admin/~/isemail/lib/isemail.js

To install it, you can run: npm install --save dns
'''

Thanks for any information to solve this issue.

[2017-05-29 16:57] djom20 opened #32 "FR: UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: Cannot set property 'id' of null"
Hello,

So I'm try to call the key in the snapshot but I get this error:

`UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: Cannot set property 'id' of null`

I'm using firebase-admin: 4.2.1 and nodejs 6.9.1, the firebase product is storage, I'm using MacOx and my code is:

[code]

I have been reading all documentation about the key and I didn't found any

[2017-05-30 20:24] hiranya911 commented on #32
I think this has something to do with your use of `Q`. It doesn't seem to be a problem with the Firebase database client. I'm testing with the following bit of code:

[code]

My database has the following nodes:

[code]
I get the output:

[code]
Seems all right to me.

[2017-05-30 21:08] hiranya911 commented on #32
I tried with the `Q` library as well, and it seems to work fine.

[code]

Output:

[code]

[2017-05-30 21:09] hiranya911 commented on #32
I will close this ticket, since I cannot seem to find a bug here in the Admin SDK code. Please feel free to reopen with more information if you continue to run into problems.

[2017-05-30 21:10] #32 closed

[2017-05-31 23:37] jshcrowthe commented on #31
Hey @nvrrdt the firebase-admin SDK doesn't expose a `dev` script so I don't have any context of the script you're talking about.

Additionally `dns`, `dgram`, and `native-dns` are nowhere in the dependency tree for the Admin Node SDK.

_I validated this by executing the following commands at the root of the pakcage:_
-`npm ls | grep dns`
-`npm ls | grep dgram`
-`npm ls | grep native-dns`

[2017-06-01 20:31] gigocabrera opened #33 "FR: Add sample code that will showcase this new API features"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Windows 10
  * Firebase SDK version: Firebase Admin Node.js SDK (v5.0.0)
  * Library version: 5.0
  * Firebase Product: Admin (auth, database, storage, etc)

### [REQUIRED] Step 3: Describe the problem
I want to use the the Firebase Admin Node.js SDK (v5.0.0) to manage users of my app (add/delete users), but I'm not ab

[2017-06-01 21:10] hiranya911 commented on #33
What about https://firebase.google.com/docs/auth/admin/manage-users#create_a_user and https://firebase.google.com/docs/auth/admin/manage-users#delete_a_user ?

If they don't serve your purpose, please elaborate and we can look into updating our docs accordingly.

[2017-06-01 23:24] rjhuijsman opened #34 "auth.UserRecord is missing 'phoneNumber' field"
* Operating System version: N/A
  * Firebase SDK version: N/A
  * Library version: 5.0.0
  * Firebase Product: Auth

The Cloud Functions for Firebase SDK uses the Firebase Admin SDK as its source for a TypeScript definition of an `auth.UserRecord`. The `auth.UserRecord` currently contains the following fields:
[code]
However, when a Cloud Function is invoked for an Auth user creation that uses pho

[2017-06-02 02:18] gigocabrera commented on #33
I have an ionic+angular app with a firebase backend that is available in the App Store (apple). As I mentioned before I want to use the Firebase Admin Node.js SDK (v5.0.0) to manage users.

Can I create an angular app and incorporate the firebase admin SDK so I can manage users? If so, do you have a sample?

[2017-06-02 05:23] mbleigh commented on #33
The Admin SDK is meant to run high trust operations, almost always on a
server or in a secure environment. In general you would not want to use it
for something like an Ionic app.

On Thu, Jun 1, 2017, 7:18 PM Luis Cabrera <notifications@github.com> wrote:

[2017-06-02 14:59] gigocabrera commented on #33
@mbleigh I'm not trying to use it for an app. I'm trying to build a simple custom console that will run on my local PC so I can manage users of my existing app. My problem is that I'm fairly new to all these technologies that I need a sample app that I can look at and learn so then I can customize it for my needs

[2017-06-02 17:03] jshcrowthe commented on #31
@nvrrdt I'm going to close this for now, if you find any more information on this please let me know!

[2017-06-02 17:03] #31 closed

[2017-06-02 17:20] jshcrowthe commented on #33
@gigocabrera the Node Admin SDK takes dependencies on packages that preclude the possibility of using it in a client environment (i.e. the Node `fs` package). You will need to use the [Firebase JS SDK](https://npm.im/firebase) to have a functioning firebase implementation for your app.

As a workaround for the elevated privilege issue, you could, through rules, give your user (and only your user)

[2017-06-02 20:23] gigocabrera commented on #33
@jshcrowthe thanks.

Maybe someone can point me to a blog post / article from somebody who has implemented the Firebase Admin Node.js SDK successfully.

It would make things easier for developers like me coming from other technologies, to learn by example.

[2017-06-02 21:30] gigocabrera commented on #33
This is exactly what I want to accomplish but I don't know where to start:

-- from https://firebase.google.com/docs/admin/setup --
Create your own simplified admin console to do things like look up Authentication user data or change an Authentication user's email address

[2017-06-02 22:29] hiranya911 commented on #33
[Quickstart samples](https://github.com/firebase/quickstart-nodejs) are usually a good place to start. You can also reach out to [firebase-talk](https://groups.google.com/forum/#!forum/firebase-talk) google group where this kind of questions get more visibility.

[2017-06-03 05:09] nvrrdt commented on #31
@jshcrowthe , sorry for the delay, I couldn't delve in this earlier.
Anyhow: 'npm install --save firebase-admin' works flawlessly
the moment I add 'import * as admin from 'firebase-admin'' I get:
` ERROR  Failed to compile with 11 errors                                                                                                                          7:03:00 AM

These dependencies were not f

[2017-06-05 17:50] jshcrowthe commented on #31
@nvrrdt can you provide me a little context of your use case? Those are all native node libs that should all be available in a Node client. Are you trying to run this in a browser?

[2017-06-05 18:02] nvrrdt commented on #31
@jshcrowthe , it's basically a vue project which I'd like to connect to a firebase backend. I'd like to implement a search field with autocomplete/suggest, for this search field I wanted to use firebase/flashlight to connect to an elasticsearch implementation as explained on firebase/flashlight, which also explains to add firebase-admin to my project.
In case you need my project files, it's [https

[2017-06-06 02:30] anlexN opened #35 "can not install firebase-admin!"
![default](https://cloud.githubusercontent.com/assets/8686739/26811176/bd4a762e-4aa2-11e7-8e5f-6bb1c4fd009e.PNG)
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question

[2017-06-06 05:07] anlexN commented on #35
node version 8.0.0, npm version 5.0.0
it is not about code !!!!!, it is about can't install firebase-admin, ok! can you think about install issue?

[2017-06-06 05:56] jthegedus commented on #35
This is an npm5 issue. There are many regressions with npm5 atm. They're being tracked here https://github.com/npm/npm/issues/16991 . If you don't find that error in the list then you should create a new issue on npm.

[2017-06-06 14:38] nvrrdt commented on #31
@jshcrowthe , I figured out I installed firebase-admin in the wrong directory and I shouldn't even have installed firebase-admin. I now have time to work on this and if I encounter a new problem I will resort to stackoverflow. Thanks anyway and sorry for bothering you.

[2017-06-06 16:56] jshcrowthe commented on #31
@nvrrdt no worries at all! Just as a good rule of thumb, if you are looking to use firebase in a "client" environment (i.e. a web app, mobile app, etc) use the Firebase SDK. The Admin SDKs are more for privileged server clients.

[2017-06-06 23:57] samtstern opened #36 "FR: Source maps for docs"
Add a source map to the doc generation process so that reference docs can link directly into source files for each function/constant/etc.

[2017-06-07 21:36] samtstern opened #37 "FR: find user by phone number"
With the release of phone number authentication many apps will not have email address as a unique key.  It would be very useful to have a 'findUserByPhoneNumber()` call in the admin SDK to match the email one.

[2017-06-07 21:41] bojeil-google commented on #37
Related to this: https://github.com/firebase/firebase-admin-node/issues/34

[2017-06-08 11:58] developerPratik opened #39 "React-Webpack project: Module parse failed in json files when using firebase-admin"
My system specs:
  * Operating System version: Ubuntu 16.05 LTS 64-bit
  * Firebase SDK version: 3.6.10
  * Library version: firebase-admin:4.1.2
  * Firebase Product: firebase-admin

Step 3: Describe the problem

Whenever I try to use firebase-admin in my webpack-react project, it throws a bunch of errors,
"Module parse failed: /path/to/file.json Unexpected token (2:6)
You may need an appropriate

[2017-06-08 15:08] psych0der opened #40 "Google cloud storage signedUrl is not a valid photoURL"
#### System
  * Operating System version: MacOS 10.12.5
  * Firebase SDK version: 3.9.0
  * Library version: 5.0.0
  * Firebase Product: auth

#### Problem
In firebase functions, when using storage hook, Google cloud storage has to be used to generate signed URL for any resource. The signed URL generated by the Google cloud storage cannot be used for photoURL in auth object. When setting that URL,

[2017-06-08 15:17] psych0der commented on #40
Fix is as easy as adding `%` in list of accepted characters in path regex at Line: https://github.com/firebase/firebase-admin-node/blob/master/src/utils/validator.ts#L165

[2017-06-12 17:25] jsayol commented on #37
I was looking into creating a PR for this but it seems like the `getAccountInfo` endpoint of the auth API doesn't yet allow to search users by `phoneNumber`, only `email` and `localId`.

Feel free to comment here if/when that's added and I'll push the PR :)

P.S.: the [documentation for the REST API](https://firebase.google.com/docs/reference/rest/auth/#section-get-account-info) should probably in

[2017-06-12 17:29] bojeil-google commented on #37
Thank you for your help but I plan to implement this when the Auth backend supports it. It is not yet implemented. It is also part of a bigger change which features new API.

[2017-06-12 18:21] hiranya911 commented on #33
I'm going to close this ticket. Please use our firebase-talk google group for any questions about the API and/or usage help.

[2017-06-12 18:21] #33 closed

[2017-06-12 23:16] hiranya911 opened #41 "Update Install Script to Print Warning if Used in a Client Environment"
The `npm install` command should warn the user if the admin SDK is installed in a client environment.

[2017-06-13 08:40] developerPratik commented on #41
what's the proper use-case for firebase-admin? I can't seem to use the Admin sdk on a react web app.

[2017-06-13 17:51] hiranya911 commented on #41
Admin SDK cannot be used in client environments. That includes pretty much all web browser-based runtimes. Admin SDK can only be used in developer-owned, privileged environments.

[2017-06-16 13:54] motss opened #42 "jsonwebtoken is breaking Firebase Admin SDK"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2017-06-16 20:37] hiranya911 commented on #42
What exactly is the problem here? Can you provide more details about the type of error/vulnerability found in jsonwebtoken?

[2017-06-17 02:32] motss commented on #42
@hiranya911 When running `snyk test` command, it will check all the NPM dependencies and it hit the `jsonwebtoken` dependency inside the `firebase-admin` with the error `Invalid error: Invalid version: "https://registry.npmjs.org/@types/jsonwebtoken/-/jsonwebtoken-7.2.0.tgz` and the `snyk` check stops and never able to complete the vulnerability check.

Is this something related to `firebase-admin

[2017-06-17 17:39] hiranya911 commented on #42
I still don't understand what the problem is. Why is [7.2.0](https://github.com/auth0/node-jsonwebtoken/releases/tag/v7.2.0) an invalid version? It is not the latest version available (latest seems to be 7.4.1). But it should be fine to depend on an older version.

[2017-06-18 01:42] jamesdam opened #43 "FR: [Messaging] Add option to retry sending or expose Retry-After header"
According to https://firebase.google.com/docs/cloud-messaging/admin/errors, clients should honor Retry-After header for `messaging/server-unavailable` and `messaging/internal-error`.

However, the MessagingDevicesResponse does not include a Retry-After header.

[2017-06-18 21:31] hiranya911 commented on #43
It is up to the server to decide whether to include that header in the response or not. If it is not present in the response, the client may retry immediately.

[2017-06-19 02:20] jamesdam commented on #43
Thanks, @hiranya911 !

I don't know how I can check if the header exists. The formatted response does not mention it. https://firebase.google.com/docs/reference/admin/node/admin.messaging.MessagingDevicesResponse.

[2017-06-19 18:01] hiranya911 commented on #43
I suppose we need to expose that header in the response somehow. Will look into it.

[2017-06-19 20:00] hiranya911 commented on #40
I'm testing with the following test case, and it seems to pass:

[code]

Can you share the URL you had trouble getting validated?

[2017-06-19 20:31] hiranya911 commented on #40
Looks like it's the `%` characters in the path that are causing problems. For example:

`https://test.com/cat%pic.png`

Can you confirm that this is the problem?

[2017-06-20 05:37] psych0der commented on #40
Exactly: `%` is causing the issue. It seems that google cloud storage is URL encoding certain component, which is, in turn, adding %.

[2017-06-20 07:21] perjerz3434 opened #45 "FR: createUser by specify providerID (facebook.com, google.com)"
I am currently using passportjs with Node.js in firebase functions to create authentication.
The problem is I used Facebook authentication. However when I create account using the following command. It still creates account by email only. There is no provider if I check in console.
[code]
And when I try to sign-in from client side by Facebook with the same email. I cannot sign in since there is em

[2017-06-20 07:34] bojeil-google commented on #45
Yeah, you can't currently create a federated account (such as Facebook, Google, etc) with createUser. Typically users that are migrating from an existing auth system have the need to use this functionality (in case their existing users were Facebook users). In that case the CLI SDK gives you the ability to upload existing Facebook users: https://firebase.google.com/docs/cli/auth#authimport
Regardl

[2017-06-22 22:21] inlined opened #46 "Feature Request: Cloud Function should support user.sendEmailVerification() like client sdk"
[Refiling for user @sun3 from https://github.com/firebase/functions-samples/issues/181]

Feature Request:

The ```user.sendEmailVerification()``` needs to be supported by Firebase Cloud Functions. This is available in client side but not server side. When using Cloud Functions to create new users we also need to automatically send Email Verification before new user can use our apps. This is curren

[2017-06-22 22:43] Sun3 commented on #46
The issue/new feature request is that the ```user.sendEmailVerification()``` function is not available on the firebase admin (firebase cloud functions), but it is available in the client sdk like the one used in angular 4.

From the Documentation when you create a New user. I added the sendEmailVerification() which this function is not available. But it's a must to allow at this time for the new u

[2017-06-27 14:26] sprmn commented on #37
Related to this issue and #34, it would also be useful if we could change a phone number via tha admin sdk. I guess this will also be part of the new API you were referring to? Is there anything we can do to help?

[2017-06-27 16:39] bojeil-google commented on #37
Hang tight, it's all coming soon.

[2017-06-27 17:37] jshcrowthe commented on #39
In a "client" application, you would want to use the [Firebase JS SDK](https:///npm.im/firebase ), not the admin SDK. The admin SDK is not designed to run in a non-server environment.

[2017-06-27 17:41] jshcrowthe commented on #35
@anlexN many of the issues in the original NPM 5.0.0 release have been fixed in the patch releases that followed the launch (currently at 5.0.4)

Please try upgrading your NPM (`npm install -g npm`) and try again. Feel free to re-open if this is still an issue.

[2017-06-27 17:41] #35 closed

[2017-06-27 17:42] #39 closed

[2017-06-28 03:48] jthegedus commented on #35
A quick check reveals it does seem to resolve the problem. npm5.0.3 is what's packaged with node8.1.2 though (the current latest release). So users will still see the issue unless they manually upgrade npm. Hopefully Node release an update soon with the new npm5.0.4

[2017-06-30 20:39] hiranya911 commented on #42
I'm closing this, as it appears this is not a Firebase SDK issue. Check the referenced snyk issue for more context.

[2017-06-30 20:39] #42 closed

[2017-06-30 23:49] hiranya911 opened #48 "Integration Test Failure Caused by Database Rules"
Integration test suite may sometimes fail with the following error:

[code]

This happens when there are custom rules in the realtime database. Changing the rules back to defaults usually fixes the issue:

[code]

The integration test suite should not depend on a specific rules configuration. If such a dependency is needed, the test suite should update the rules config during the setup phase (Java

[2017-07-06 23:20] hiranya911 commented on #40
Fixed

[2017-07-06 23:20] #40 closed

[2017-07-07 15:14] taina0407 opened #49 "Failed to parse response data"
* Operating System version: Ubuntu 16.04
  * Firebase SDK version: ____
  * Library version: 5.0.0
  * Firebase Product: notification

### [REQUIRED] Step 3: Describe the problem
I'm using firebase-admin to fire FCM notifications to iOS and Androids clients. The module work fine but some time throw exception "Failed to parse response data"
I've tried to search but seem no one report it before and

[2017-07-07 18:41] hiranya911 commented on #49
How often does this happen? Do you have a deterministic way to reproduce it?

[2017-07-07 18:54] hiranya911 commented on #49
I have a feeling the above stacktrace has nothing to do with messaging (FCM). I would have expected to see some messaging related files or classes in the stacktrace. The error clearly originated at [HttpRequestHandler](https://github.com/firebase/firebase-admin-node/blob/master/src/utils/api-request.ts#L104) which is used by the entire SDK to make HTTP calls. But if the invocation originated at me

[2017-07-07 19:08] taina0407 commented on #49
Thank for your fast reply @hiranya911
I'm sorry that I'm tried to but not able to find a correct way to reproduce it. It happened for me 16 times over 2 months. My app did send around 12k requests over that time.

I think this error may cause by the networking problem, but if you can improve the error messages that would be great. So we can determine should retry the request or not.

![image](http

[2017-07-10 18:02] hiranya911 commented on #48
This has been implemented. Integration tests overwrite the database rules with the defaults now. If this is deemed too invasive, we can implement a warning+prompt mechanism in the future.

[2017-07-10 18:02] #48 closed

[2017-07-11 00:54] Crazometer opened #53 "Improve index.d.ts"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: any
  * Firebase SDK version: any
  * Library version: latest
  * Firebase Product: database

### [REQUIRED] Step 3: Describe the problem

`index.d.ts` sometimes has `any` where not required

e.g

`admin.database().ref('someref').once('value')` is `Promise<any>` when it should return the same type as the `successCallba

[2017-07-11 17:24] hiranya911 commented on #53
This has been fixed in the database code a few days ago:

https://github.com/firebase/firebase-js-sdk/commit/a8919cdd16f3a4811efcc8736d2f167955f54047

[2017-07-11 18:06] hiranya911 opened #54 "Update Realtime Database Code"
Retrieve the latest Realtime Database client code from from https://github.com/firebase/firebase-js-sdk

Related to #52

[2017-07-11 18:07] hiranya911 commented on #53
This will be fixed when #54 is addressed.

[2017-07-11 18:07] #53 closed

[2017-07-11 21:17] hiranya911 commented on #49
I have updated the error message. I'll try to get this improvement released in a few days.

You're probably right about this being a network issue. We'll know more once we have more details in the error message.

[2017-07-13 10:06] AdriVanHoudt opened #56 "@types/jsonwebtoken dependency"
Why is @types/jsonwebtoken a dependency and not a dev dep?
See https://github.com/firebase/firebase-admin-node/blob/master/package.json#L28

[2017-07-13 15:43] kelle62819 opened #57 "FR: Add support for checkActionCode and applyActionCode to auth() implementation"
I tried making a custom email action handler in a firebase cloud function and found that these methods weren't available with the firebase-admin-node implementation.

[2017-07-13 16:51] bojeil-google commented on #57
Yeah you need to use the client SDK (require('firebase')) for that.

[2017-07-13 16:55] bojeil-google commented on #57
Just to clarify, we don't see a need to add those to the admin SDK. This is meant to be consumed on the client side. If you insist on using them in the backend, simply require the client SDK as I mentioned.

[2017-07-13 16:55] #57 closed

[2017-07-13 17:13] hiranya911 commented on #56
I believe it is required to support custom token minting and ID token verification in Firebase Auth.

[2017-07-14 07:22] AdriVanHoudt commented on #56
But those are just typescript typedefs no? I can't see them being required (but I can be wrong ofc)

[2017-07-14 09:07] kelle62819 commented on #57
The reason I want to do this on the backend is because I want to make updates to the user record without them having to authenticate on the client side. In the previous iteration I had the app polling to see if the email had been verified, but this seems pretty clunky to me. I would much rather have a webhook triggered on account validation that updates their user profile. Ideally the angularfire2

[2017-07-14 09:47] kelle62819 commented on #57
I did get this working. But in my use case I have to include both the client and admin modules. Seems like a lot of unnecessary duplication. Thanks for the help.

[2017-07-14 16:49] bojeil-google commented on #57
Hey @kelle62819, it seems you have your own custom email action handler:
https://firebase.google.com/docs/auth/custom-email-handler
You can easily detect the emailVerified change by using real-time database. In your custom landing page (client side), on applyActionCode, you need to set some boolean emailVerified for a user specific database node that you listen to in your other clients to detect t

[2017-07-16 08:38] rkpradeep20 commented on #46
Yes, would like this feature in cloud functions. user.sendEmailVerification()

[2017-07-20 09:07] brunolemos opened #59 "FR: Validate phone number in the server"
I'd like to suggest a way to validade the phone number in the server.
Something like `validatePhoneNumber(verificationId, verificationCode)` (which returns the phone number, for example) would be great.

I'm having a hard time because I need to create the account in the server using `customToken`. With facebook it was easy because we have the facebook `accessToken`, but with phone I don't see how

[2017-07-20 09:21] brunolemos commented on #59
What I'm currently doing, which is a ugly workaround:

- On the server, create a temporary account in my postgres database with the phone number provided (unvalidated)
- Create a firebase custom token with the incremental uid received from the postgres database
- Link firebase account with the phone using linkWithCredential (had to install `firebase` package in the server, before it was only `fire

[2017-07-20 16:06] bojeil-google commented on #59
I am having a hard time understanding your use case. We are working on adding the ability update/create accounts with phone numbers with admin privileges: https://github.com/firebase/firebase-admin-node/pull/58
Typically a user signs in with phone number on the client. After sign-in, you can send the Firebase ID token to your server, and there would be a phone number in that token which you can tr

[2017-07-20 23:14] brunolemos commented on #59
@bojeil-google the use case is that if it's created in the client, the user uid will be something like `uJSh399dakms`, but the project I'm on was unfortunately implemented in a way that the uid must be the same as the postgres database, e.g. `12345`.

So separating phone validation from account creation would be awesome.

[2017-07-20 23:25] hiranya911 commented on #59
This sounds similar to #46 (Except with phone numbers, instead of email)

[2017-07-20 23:31] bojeil-google commented on #59
This is a very specific custom use case.
To summarize, you want the ability to do phone authentication but retain the ability to provide your own user ID for the created user.
I will suggest one solution:
1. Do the phone auth verification process on the client. At the end of the flow, you have a phone number, verification ID and verification code.
2. Send those to your server if this is a new user

[2017-07-20 23:43] brunolemos commented on #59
@bojeil-google Thanks, that's exactly what I'm doing at the moment. Initially I found it "wrong" to have to put the client sdk in the server, but it's working fine. Also makes me wonder if signing in/out users in the server frequently won't cause some conflicts, because the app is used by some hundreds concurrently.

[2017-07-20 23:46] brunolemos commented on #59
@hiranya911 it's a bit similar, yes.

[2017-07-21 00:00] bojeil-google commented on #59
Yeah I see that issue. You would need to use the user reference returned via `signInWithCustomToken` promise and ignore `currentUser` or listening to `onAuthStateChanged`. The performance may not be optimized but you should be OK. I will relay your request to the Auth team. As @hiranya911 mentioned, we've had some other requests for client side API on the admin SDK side of things. Some are priorit

[2017-07-21 00:17] brunolemos commented on #59
@bojeil-google Thanks! Hope they understand and agree to work on it.

[2017-07-25 20:14] hiranya911 commented on #34
This was released today: https://firebase.google.com/support/release-notes/admin/node#5.1.0

[2017-07-25 20:14] #34 closed

[2017-07-25 20:15] hiranya911 commented on #37
This was released today: https://firebase.google.com/support/release-notes/admin/node#5.1.0

[2017-07-25 20:15] #37 closed

[2017-07-26 20:34] hiranya911 opened #62 "FR: Provide Stronger Type Checking for createUser() and updateUser() Methods in Auth"
These methods currently accept arbitrary collections of properties. It is better to support a more strongly typed signature. For example:

`UserRecord createUser(req?)`

where `req` is a type defined as follows:

[code]

[2017-07-27 20:19] therynamo opened #63 "Unable to Proxy Firebase Url"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: macOs Sierra 10.12.5
  * Firebase SDK version: shouldn't make much of a difference in this issue
  * Library version: ^5.1.0
  * Firebase Product: `database`

### [REQUIRED] Step 3: Describe the problem

When attempting to use `firebase-admin`s `initializeApp` function, the URL is strictly enforced. I'm sure this is in

[2017-07-27 20:34] hiranya911 commented on #63
This bit of logic actually comes from the firebase-js-sdk: https://github.com/firebase/firebase-js-sdk/blob/master/src/database/core/util/libs/parser.ts

We are simply distributing the minified version of that code with the Admin SDK (at least for now --
 this may change in the future). For now can you report this requirement in that repo?

[2017-07-27 20:34] therynamo commented on #63
Sounds great, thanks @hiranya911!

[2017-08-07 09:43] gNiKnet opened #66 "Snapshot properties (fetching data) not working after query."
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2017-08-08 19:55] hiranya911 commented on #66
I think, in the first case you're reading from the `values/a`, so you get the object `{randomValue: "set", sorter: 1}` as the result. In the second case you're reading from `values`, so you get `{a: {randomValue: "set", sorter: 1}}` as the result. You should be able to access the fields as `snapshot.val().a.randomValue`.

This behavior seems correct to me.

[2017-08-08 20:48] gNiKnet commented on #66
The problem is that I cannot know that "a" will be the result and it should not always. I am trying to **query**. I found a hack to solve this.

https://stackoverflow.com/questions/45543072/firebase-admin-database-snapshot-data-after-query/45577725#45577725#answer-45577725

I used Object.keys(snapshot.val())[0], which just does not seem like a nice thing to do to me. Anyways thanks for you help, I

[2017-08-08 21:07] gigocabrera commented on #33
From the links below I was able to learn how to use this new API and much much more.

https://www.youtube.com/watch?v=LOeioOKUKI8&t=813s
https://blog.realworldfullstack.io/real-world-app-part-12-cloud-functions-for-firebase-8359787e26f3
https://github.com/firebase/functions-samples/tree/master/authorized-https-endpoint

I hope this helps any other developer like me coming from a different technolo

[2017-08-09 09:57] #66 closed

[2017-08-14 22:43] hiranya911 commented on #62
Fixed.

[2017-08-14 22:43] #62 closed

[2017-08-15 01:58] hiranya911 opened #70 "TypeScript Error When Importing GCS Types to index.d.ts"
In v5.2.0 we added Cloud Storage support to the Admin SDK. As a part of this we made a few changes to the `index.d.ts` file:

[code]

Turns out this is not supported properly in TypeScript. It triggers the following error in downstream apps:

[code]

Simply having the import statement at the top-level of the file is sufficient to trigger the error.

**Possible Solutions**

1. Not expose the GCS `B

[2017-08-15 03:53] byrondover commented on #70
Confirmed, 5.2.0 is borked. 😞

[code]

My vote would be for solution #1. In the mean time, reverting to 5.1.0 fixes the issue.

[2017-08-16 07:20] Skillnter opened #72 "angular-universal | firebase-admin | code: 'app/invalid-credential' |socket hang up on"
[REQUIRED] Step 2: Describe your environment

  * Operating System version: Windows 10
  * Firebase SDK version: 5.1.0
  * Library version:  <What?>
  * Firebase Product: Cloud Messaging

 [REQUIRED] Step 3: Describe the problem
[code]
I run this code through node and it work but when i add it in angular-universal

file.. it give the following error..
[code]
I checked the time (read at many place

[2017-08-16 18:26] hiranya911 commented on #70
This has been fixed in #71. Expect a 5.2.1 patch release soon.

[2017-08-16 18:26] #70 closed

[2017-08-21 07:26] rarkins opened #74 "Fix npm metadata for firebase-admin package"
### Describe your environment

Not Applicable

### Describe the problem

#### Steps to reproduce:

view http://registry.npmjs.org/firebase-admin and notice that legacy `casetext` URLs are still present

You should fix/update the repository and the license fields in `package.json`.

[2017-08-22 10:46] taina0407 commented on #49
Hi @hiranya911 ,

Seem like the output error still not enough information to trace the problem :(

`FCM sending message failed { Error: Failed to parse response data: "SyntaxError: Unexpected end of JSON input". Raw serverresponse: "". Status code: "200". Outgoing request: "POST fcm.googleapis.com/fcm/send"
    at FirebaseAppError.FirebaseError [as constructor] (/node_modules/firebase-admin/lib/ut

[2017-08-22 17:29] hiranya911 commented on #49
This is somewhat useful. I can check with the FCM team whether this is a server-side issue. I think this is some low-level issue though -- a loss of connection or a connection reset.

[2017-08-22 19:28] moander opened #75 "Storage event is missing auth info"
The database trigger event contains auth info about the user generating the event. The same auth info would be very useful to have in the storage onChange events as well.

[2017-08-22 19:41] hiranya911 commented on #75
Please report this at https://github.com/firebase/firebase-functions

[2017-08-22 19:41] #75 closed

[2017-08-24 22:01] hiranya911 commented on #72
Does it work locally, without angular?

[2017-08-24 22:23] hiranya911 commented on #72
I just tried your repro steps, but I don't get any credential errors. Here's what I get:

[code]

I'm using a fake `registrationToken`, so the request eventually fails with the following error:

[code]

This means the request to the FCM server was actually authenticated and processed correctly. I'm on Ubuntu Linux, with latest Admin SDK (v5.2.1). Can you try this on a different environment and see

[2017-08-24 22:26] hiranya911 commented on #63
I will close this ticket, since this is already been tracked in firebase-js-sdk project.

[2017-08-24 22:26] #63 closed

[2017-08-25 12:09] Skillnter commented on #72
@hiranya911  can you try with a real token? Is there any configuration needs to be done on firebase console?

[2017-08-25 15:21] moander opened #77 "TypeError: Cannot read property 'navigator' of undefined"
I experience this error when running mocha with --use_strict argument

Version 4.2.1
node v6.11.2
mocha v3.5.0

[code]

[2017-08-25 16:55] hiranya911 commented on #72
I'm not able to build this new repo:

[code]

I recommend you use a library like https://www.npmjs.com/package/global-request-logger to log the HTTP/S calls made by the SDK, and see  what's going on. Based on the error message you've shared in the original post, your app doesn't even make a call to FCM servers. It fails before that, while trying to obtain an OAuth2 token from the credential. You c

[2017-08-25 17:03] hiranya911 commented on #77
What exactly are you trying to achieve? If you want to run Admin SDK test suites just follow the instructions at https://github.com/firebase/firebase-admin-node/blob/master/CONTRIBUTING.md#running-tests

[2017-08-25 17:59] Skillnter commented on #72
@hiranya911  repo updated... cookie error fixed.. please check it now....

[2017-08-26 01:45] hiranya911 commented on #72
New build errors...

[code]

From server.ts:
[code]

The library is installed:
[code]

[2017-08-26 09:47] moander commented on #77
It's my own test cases that fails to run.

All tests referencing firebase-admin fails with this error.
On Fri, 25 Aug 2017 at 19:03, Hiranya Jayathilaka <notifications@github.com>
wrote:

[2017-08-26 21:51] djom20 commented on #33
Hi, I have a similar case, I don't can find any docs about the login with an user in the firebase admin, someone know how to make it?

[2017-08-26 22:49] hiranya911 commented on #33
Admin SDK does not support user logins, and it should not be used for end user operations due to security reasons.

[2017-09-01 00:14] justinrosenthal opened #80 "Value of FirebaseAppError.code is unexpected"
In the `FirebaseAppError` constructor, it prepends the string `app/` to the error code before calling `super`.  This makes it very difficult to look at an instance of `FirebaseAppError` at runtime and determine which error code it has.

For example:
[code]

Is there a suggestion for how to deal with this? I couldn't find an example elsewhere in the codebase.

[2017-09-01 00:28] hiranya911 commented on #80
Can't we rely on `FirebaseAppError` to always behave this way? If so we can test for equality with `'app/' + code` or at least check for `err.code.endsWith(code)`. I'm not sure why we do this error code prefixing business, but it seems to be the convention followed in the whole SDK (See `FirebaseAuthError` and `FirebaseMessagingError` for example).

[2017-09-01 00:37] justinrosenthal commented on #80
Indeed there are ways to check as long as you know the inner workings of `FirebaseAppError` (though you'd prefer not to litter the magic string `/app` all over the codebase), but for the uninitiated developer, it's not obvious why my code above doesn't work.

Before I went ahead and implemented a conditional other than `=== <code>` I wanted to ask what the maintainers suggest.

[2017-09-04 07:31] CoreyCole opened #81 "Feature Request: Mock authenticated user for unit testing"
### Describe your environment

  * Operating System version: OSX El Capitan 10.11.6 (15G1421)
  * Firebase SDK version: 5.0.0
  * Library version: 4.3.0
  * Firebase Product: auth

### Describe the problem

I'm using firebase-admin to authenticate requests made to my express server. I'm looking to write unit tests for my routes, but I'm blocked on testing routes that require authentication.

####

[2017-09-05 19:36] cappittall opened #82 "TypeError: admin.auth(...).getUserByPhoneNumber is not a function"
Here the code at index.js (briefly)

[code]
[code]

[2017-09-05 19:49] hiranya911 commented on #82
Which version of Admin SDK are you using? `getUserByPhoneNumber()` is only available v5.1.0 is up.

[2017-09-06 05:07] cappittall commented on #82
@hiranya911 Yea you right, That's work now. Thank u.

[2017-09-06 05:09] #82 closed

[2017-09-07 23:27] #74 closed

[2017-09-07 23:34] hiranya911 commented on #81
I think you already have a couple of options here:

1. Create a mock ID token and pass it in to your test routes. See how we do this in our [unit tests](https://github.com/firebase/firebase-admin-node/blob/master/test/resources/mocks.ts#L154).
2. Create a custom token (`admin.auth().createCustomToken()`), and then exchange it for an ID token using the Firebase client SDK. We do this in our [integr

[2017-09-11 18:29] esparkman opened #84 "firebase-admin dependency errors"
* Operating System version: macOS 10.12.6
  * Firebase SDK version: 5.2.1
  * Library version: 5.2.1
  * Firebase Product: admin

I'm seeing some dependency issues.
firebase-admin: 5.2.1
[code]

[2017-09-11 18:50] katowulf commented on #84
Are those dependencies in fact installed? Is ./~/.../ the right path when referenced from build/dev-server.js? What does the yarn config file look like? There's a lot more to include here before we can help with debugging.

[2017-09-11 19:05] esparkman commented on #84
This was on a brand new repo. Should I have to install dependencies by hand? That doesn't seem right.

[2017-09-11 20:08] hiranya911 commented on #84
Are you trying to use `firebase-admin` in a client-side or browser environment? That is not supported. Some of the missing modules (fs, net etc.) are only available in server-side Node.js environments.

[2017-09-18 05:20] Crazometer commented on #70
@hiranya911 can you investigate option 2? Would help to make the storage lib more usable.

[2017-09-19 17:34] hiranya911 commented on #70
@Crazometer Yes, I can take a look.

Perhaps somebody who better understands the dependency model of Node.js/TypeScript can explain to us what this change implies to the overall operation of the SDK.

[2017-09-21 22:32] #81 closed

[2017-09-21 22:46] hiranya911 commented on #70
@Crazometer I just sent out #87 to implement the 2nd option. If you can try it out, and give us some feedback that would be great.

[2017-09-22 09:57] bondz opened #88 "Snyk vulnerability report: low severity"
Testing the current version of this module `firebase-admin@5.2.1` with snyk/snyk results in a low severity warning and makes it exit with an error.

This can be resolved by updating `jsonwebtoken@7.1.9` to `jsonwebtoken@7.4.1`.

[Vulnerability report](https://snyk.io/test/npm/firebase-admin/5.2.1)

#### Steps to reproduce:

`snyk test firebase-admin`

[2017-09-26 18:44] firebaseatdj opened #89 "FIREBASE WARNING: Exception was thrown by user callback. Error: test"
* Operating System version:
       macOS Sierra 10.12.6
       node/6.11.1

  * Firebase SDK version:
    "firebase": "4.4.0",
    "firebase-admin": "5.2.1",

  * Library version:
  * Firebase Product: database

When an exception is thrown from a user callback (inside .once or .then)
the exception is raised as a uncaught exception event instead of
calling the .catch function.

[code]

This behavio

[2017-09-27 00:04] #84 closed

[2017-09-27 00:05] hiranya911 commented on #72
I'm closing this since I couldn't repro this with the publicly available version of angular.

[2017-09-27 00:05] #72 closed

[2017-09-27 09:03] cmdhema opened #91 "Process not terminated."
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2017-09-27 17:11] hiranya911 commented on #91
SDK initialization (`admin.initializeApp()`) starts some background tasks, which keep the Node process alive. Call [`app.delete()`](https://firebase.google.com/docs/reference/admin/node/admin.app.App#delete) to clean up and ensure graceful termination of all background tasks.

[2017-09-27 17:11] #91 closed

[2017-09-27 21:00] hiranya911 commented on #89
Could you please report this at https://github.com/firebase/firebase-js-sdk?

[2017-09-27 21:04] hiranya911 commented on #80
I'm going to resolve this since `PrefixedFirebaseError` introduced in #85 makes error code checking easier.

[2017-09-27 21:04] #80 closed

[2017-09-27 21:06] hiranya911 commented on #49
Starting from v5.3.0 Admin SDK retries HTTP requests on low-level errors. That should help with this too.

[2017-09-29 05:16] code-tree commented on #57
It seems like many people suggest saving the user's email address on the client-side to the database, which obviously works well if the applyActionCode() is processed client-side. But this appears to be a security hole, as the user can save a different address to the database than the one that was actually verified. The only way to ensure the address that is saved to db is the same as the one that

[2017-09-29 06:27] bojeil-google commented on #57
If you are using client side real time database to propagate that the email was verified, you will only use that to notify the signed in user, but you will call `currentUser.reload()` and then check `currentUser.emailVerified`. That would be the source of truth and not the db event change which is unauthenticated.

Quick update on this issue, we now provide the ability to pass a continue URL after

[2017-09-29 08:22] code-tree commented on #57
@bojeil-google In my case one user books another user, and an email is sent on behalf of user A to user B. User A triggers a cloud function which needs to know user B's verified email address. So I have to store each user's verified email address in database to allow for this.

Solutions on the web seem to involve doing this client-side, which I assume would allow setting any address if hacked.

(

[2017-09-29 18:42] bojeil-google commented on #57
I don't know how one user 'books' another user. Email verification is not a mechanism to send sign up invites. A user has to first sign up before sending an email verification. If you are having a user sign up on another user's behalf, then it is a security issue.

[2017-09-29 22:10] code-tree commented on #57
Sorry, I mean two user's who have both already signed up (and my app checks that they have both verified their email addresses). User A is booking a tutoring session with user B, and the app sends an email on user A's behalf to user B.

[2017-10-01 23:28] tikurahul opened #92 "firebase-admin-node needs to declare a dependency on @types/google-cloud__storage"
### [REQUIRED] Step 2: Describe your environment

  * Operating System macOS 10.13 (High Seirra)
  * Firebase Admin Node 5.3.0
  * Firebase Product: Firebase Functions

### [REQUIRED] Step 3: Describe the problem

`firebase-admin` needs to declare a dependency on `@types/google-cloud__storage` for TypeScript projects.

#### Steps to reproduce:

* Define a Typescript project which depends on `fireb

[2017-10-02 13:30] DzmitryU opened #93 "AWS Elastic Beanstalk deploy failed"
* Operating System version: CentOS
  * Firebase SDK version: 5.3.0
  * Firebase Product: Cloud Messaging

I use AWS Elastic Beanstalk for my application deployment.
Using of firebase-admin library causes deployment failures:

`ERROR: Failed to run npm install. Snapshot logs for more details.
ERROR: [Instance: i-068bd9d30a1d8df4b] Command failed on instance. Return code: 1 Output: (TRUNCATED)...pt/

[2017-10-02 17:51] hiranya911 commented on #92
We declared `@types/google-cloud__storage` as a dev dependency since it never gets referenced during actual runtime. We have been asking TypeScript developers to install it separately as needed. But perhaps we should make it a regular dependency so the TypeScript developers get a better experience out of the box.

[2017-10-02 18:15] hiranya911 commented on #93
@DzmitryU Can you share the contents of `/var/log/eb-activity.log`?

[2017-10-02 19:36] tikurahul commented on #92
That would be awesome. It's easy enough to install it. But consumers should not have to install types that are a dependency for firebase-admin-console as this list of types increase.

[2017-10-02 20:33] hiranya911 commented on #92
Does your code make any references to Cloud Storage types? Perhaps you can post your package.json and a code snippet?

[2017-10-02 21:57] tikurahul commented on #92
[code]

This is what it looks like. I redacted a few uninteresting parts.

I had to add `@types/google-cloud__storage` to my list of `devDependencies` for the compiler to be happy.

[2017-10-03 08:55] DzmitryU commented on #93
@hiranya911 Sure
`
  npm ERR! Linux 4.4.51-40.60.amzn1.x86_64
  npm ERR! argv "/opt/elasticbeanstalk/node-install/node-v6.10.0-linux-x64/bin/node" "/opt/elasticbeanstalk/node-install/node-v6.10.0-linux-x64/bin/npm" "--production" "rebuild"
  npm ERR! node v6.10.0
  npm ERR! npm  v3.10.10
  npm ERR! path /tmp/deployment/application/node_modules/firebase-admin/node_modules/sshpk/bin\sshpk-conv
  npm

[2017-10-03 18:20] AVVS opened #96 "cant update firebase admin due to `bun` transient dependency"
Related issue is here - https://github.com/googleapis/nodejs-firestore/issues/21
Stream utility - `bun` that pins node engine to 0.10.x, yarn doesnt like it and its right to do it so. Latest release depends on the firestore, hence cant update the module

[2017-10-03 20:17] PhEEP commented on #96
The `bun` admin has updated dependencies, up to Google now to update their package.json?
https://github.com/naomik/bun/issues/7

[2017-10-03 22:00] schmidt-sebastian commented on #96
We just push a new version of @google-cloud/firestore that fixes this issue. We are working on updating the Admin SDK at this point.

[2017-10-03 23:14] hiranya911 commented on #92
This should be fixed v5.4.0 and up.

[2017-10-03 23:15] #92 closed

[2017-10-04 06:16] tonila opened #99 ".info/connected does not change to false when offline"
### Environment

Debian buster
Node.js v 8.5.0
firebase-admin v ^5.0.0

#### Steps to reproduce:

1. Start application and wait for console log "Firebase connected!"
2. Go offline (switch off wifi or remove lan cable etc.)

When internet connection is disabled, application should print "Firebase disconnected".
It seems, it never does!

#### Relevant Code:

[code]

[2017-10-05 20:20] damianobarbati commented on #77
+1 for this bug when running with `--use_strict`

[code]

[2017-10-05 23:27] hiranya911 commented on #93
I don't think this is a problem in the Admin SDK. It's unclear why the Beanstalk environment looks for the sshpk binary within firebase-admin. It looks like others have run into similar issues:

https://forums.aws.amazon.com/thread.jspa?messageID=787343

I'd recommend reaching out to AWS Beanstalk support forums for some guidance.

[2017-10-05 23:28] hiranya911 commented on #56
We might be able to get rid of it. I'll try it out and if all goes well fix it in a future release.

[2017-10-09 01:28] coreybutler commented on #46
The [docs](https://firebase.google.com/docs/auth/extend-with-functions?authuser=0) make it seem like its possible to verify a new user's email address with the firebase email validation using a cloud function. Lack of this feature _forces_ developers to use an external service (which requires an upgraded paid plan). Requiring a third party dependency for something Firebase already does well is clu

[2017-10-09 03:17] bojeil-google commented on #46
Hey @coreybutler, the email verification Firebase Auth sends is not a welcome nor a goodbye email (the link you pointed it out). Nor should it be used for that.

You also have the option to send an email verification client side for free. So if you want to send an email verification, you can always do it for free.

Let's keep these issues separate (sending email verifications, vs sending other per

[2017-10-09 15:01] gotmikhail opened #102 "Sending string values vs. objects"
Operating System version: CentOS
Firebase SDK version: 5.4.1
Firebase Product: Cloud Messaging

https://github.com/firebase/firebase-admin-node/blob/fc45c4f5da404e21934cbd9f5a4e7116cb744f0a/src/messaging/messaging.ts#L715

Is there any particular reason why we're restricting the values of the `key:value` pairs in `data` to just `string`s?

If calling `https://fcm.googleapis.com/fcm/send` directly,

[2017-10-09 16:09] coreybutler commented on #46
@bojeil-google - thanks.

Purely for context, my "app" doesn't have a front end. In my case, I'm using a cloud function to serve as a Docker Authentication Proxy... 100% server-side. Users are added directly through the Firebase console.

If this is a separate issue (which is fine), the docs should clarify. Perhaps indicate what limitations exist. A document titled "Extend Firebase Authentication

[2017-10-09 16:18] YamanSehzade opened #103 "Cannot find module node-v46-win32-ia32\grpc_node.node"
### Environment
  * Operating System version: Windows 10 x64
  * Firebase SDK version: 4.5.0
  * Library version: 5.4.1
  * Meteor version: 1.5.2.2
  * npm version: 5.2.0

### Problem

I get the following error when server starts:

main.ts:
[code]

picture of error:
![whatsapp image 2017-10-09 at 17 30 11](https://user-images.githubusercontent.com/22771125/31347448-b4ef4176-ad1c-11e7-99e6-c3d87e7b

[2017-10-09 17:37] hiranya911 commented on #103
@YamanSehzade Can you try the instructions available in https://stackoverflow.com/questions/46153099/unable-to-install-grpc-binaries?

[2017-10-09 18:41] YamanSehzade commented on #103
@hiranya911 thank you so much. that's work.

i have little question too..
` firebase.storage().ref().child('test/').put(soundBufferArray, { contentType: 'audio/mpeg' })`
this code works in firebase. Is there a similar method in admin-firebase?

[2017-10-09 18:44] YamanSehzade commented on #103
and could you close this tag please ? I could not find how to close it

[2017-10-09 19:50] hiranya911 commented on #103
`admin.storage().bucket()` returns a reference to a bucket. And here are the API docs for the bucket: https://googlecloudplatform.github.io/google-cloud-node/#/docs/storage/1.2.0/storage/bucket

[2017-10-09 19:51] #103 closed

[2017-10-10 08:10] shauntrennery opened #104 "Error when deploying to AWS Lambda (Node 6.10.3)"
I'm getting a "Unable to import module" error when deploying v5.3.0 or above to AWS Lambda. The error log is cryptic but it does contain reference to "firebase-admin/node_modules/grpc/src/node/src/grpc_extension.js:30:15"

All works as expected when downgrading to v5.2.1.

[2017-10-10 09:26] bojeil-google commented on #46
Hey @coreybutler, to help unblock you, you can always use the client SDK to send the email verification from a Firebase Function. You'd need to require firebase module.
On user creation, you do the following:
1. get the `uid` of the user created from the onCreate trigger.
2. Using admin SDK, mint custom token via `createCustomToken` for that user.
3. Using client SDK, `signInWithCustomToken` using

[2017-10-10 15:50] PoiScript commented on #46
+1, for now, I'm sending verification email by hitting [the restful api](https://firebase.google.com/docs/reference/rest/auth/#section-send-email-verification). What a mess..

[2017-10-10 16:29] srameshr opened #105 "Unable to deploy to AWS EBS"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: AWS Ubuntu Linux 16
  * Firebase SDK version: 5.4.2
  * Library version:
  * Firebase Product: Messaging (Admin sdk)

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:
``` npm install --save firebase-admin``` and run ```eb-deploy```
The deploy fails with:
[code]

Here is my package.json
[code]

[2017-10-10 16:47] srameshr commented on #104
@shauntrennery Same here! I did downgrade ```firebase-admin``` lib to ```5.2.1``` but no luck. How did you solve it?
https://github.com/firebase/firebase-admin-node/issues/105

[2017-10-10 17:21] hiranya911 commented on #105
Can you check if grpc package is installed under node_modules?

[2017-10-10 17:21] shauntrennery commented on #104
@srameshr I'm sorry, my solution was simply downgrading to 5.2.1. No other changes were needed.

[2017-10-10 17:22] srameshr commented on #104
Have you done any changes to files in .ebextensions?

[2017-10-10 17:22] hiranya911 commented on #104
v5.2.1 doesn't depend on Firestore/grpc. @srameshr what is the exact error you get with v5.2.1?

I've pinged the Firestore SDK team about the grpc error. Awaiting their response.

[2017-10-10 17:24] shauntrennery commented on #104
@srameshr I did not. 100% sure.

[2017-10-10 17:24] wilhuff commented on #104
GRPC requires native code. There's some discussion about how to make this work here https://github.com/grpc/grpc/issues/6443

[2017-10-10 17:26] srameshr commented on #104
@hiranya911 Let me deploy v5.2.1 again and check the logs, in the meanwhile I will update the question with my package.json file.

[2017-10-10 17:32] hiranya911 commented on #102
The FCP server [API reference](https://firebase.google.com/docs/cloud-messaging/http-server-ref#downstream-http-messages-json) states:

[code]

[2017-10-10 17:32] hiranya911 commented on #102
@shasd can you also please take a look?

[2017-10-10 17:34] srameshr commented on #105
How do I check the contents of node_modules folder in ebs? In my local node_modules folder I see the ```grpc``` lib.

[2017-10-10 17:40] srameshr commented on #104
@hiranya911 It's the same. Even on 5.2.1 it gives me the same error.

[2017-10-10 17:42] hiranya911 commented on #104
That doesn't make any sense. grpc wasn't a dependency until v5.4.0. Have you tried deleting your node_modules directory, and installing v5.2.1 on a fresh set up?

[2017-10-10 17:44] srameshr commented on #104
@hiranya911 AWS EB is a nightmare. I removed ```firebase-admin``` from my package.json and deployed a new build and it still says ```gprc``` is not found.

I will restart my env and check the logs.

[2017-10-10 17:52] hiranya911 commented on #77
We simply reuse the database code provided in https://github.com/firebase/firebase-js-sdk

However, we depend on a fairly old version of it. I'm hoping upgrading to the latest version of database code might help alleviate some of these issues (database code underwent some major improvements recently, including TypeScript integration). Will keep this thread posted.

[2017-10-10 17:59] hiranya911 commented on #104
@shauntrennery can you share any detailed logs you have when you were experiencing this issue? We would like to get a better handle of this problem, and see how AWS users can be impacted.

[2017-10-10 18:03] shauntrennery commented on #104
@hiranya911 Here is the log from CloudWatch:

[code]

As mentioned, all I need to do to resolve the issue was to downgrade to version 5.2.1. No other changes were needed.

[2017-10-10 18:05] hiranya911 commented on #104
Thanks @shauntrennery. FWIW you should be able to get by with v5.3.0 as well.

[2017-10-10 18:19] srameshr commented on #104
@hiranya911 I ssh into my eb machine and see that, ```package.json``` does not include ```firebase-admin``` and node-modules does not have firebase admin but still my latest deployment logs show the same error.

[2017-10-10 18:43] hiranya911 commented on #104
@srameshr Please share your logs. Perhaps we can try to trace down why it tries to load grpc. But given that Admin SDK is out of the picture, it's probably some other dependency you're using.

[2017-10-10 18:51] srameshr commented on #104
@hiranya911 Yes, I will. Just running my tests against 5.3.0 on production. After that I will get the logs.
My previous comment was a result of some caching fault I guess. But I am sure, grpc error came from including firebase-admin module > 5.3.0

[2017-10-10 20:06] zyzski commented on #99
experiencing similar behavior. set to offline mode in network tab it goes disconnected -> connected immediately.

`
16:04:12.402 connected: false
16:04:12.530 connected: true
`

[2017-10-10 21:42] YamanSehzade commented on #93
Hi,

I am using meteor server and i have same error;

Do you have any suggestion ? @DzmitryU

[2017-10-10 22:28] hiranya911 commented on #93
This might be related: https://github.com/npm/npm/issues/9633#issuecomment-192328724

[2017-10-11 07:24] DzmitryU commented on #93
@YamanSehzade Hi!
I've just moved from firebase-admin to fcm-node. It's build on callbacks instead of promises, but there is no problems with deployment.

[2017-10-12 16:13] bagintz opened #107 "require("firebase-admin").FieldValue is undefined"
* Operating System version: Firebase cloud functions
  * Firebase SDK version: n/a
  * Library version: node.js:5.4.2
  * Firebase Product: node admin & firestore

`var FieldValue = require("firebase-admin").FieldValue;`

in cloud functions index.js (as per https://firebase.google.com/docs/firestore/manage-data/delete-data) is showing as undefined.  Which leads to an error when trying to delete fr

[2017-10-12 19:33] bagintz commented on #107
This is resolved by replacing:

`var FieldValue = require("firebase-admin").FieldValue;`

with

`var FieldValue = admin.firestore.FieldValue;`

Any ideas why (and why it isn't in the official docs)?

[2017-10-12 20:52] hiranya911 commented on #107
It is in the documentation: https://firebase.google.com/docs/reference/admin/node/admin.firestore.FieldValue

All Firestore types are exposed from the `admin.firestore` namespace. You can also do:

[code]

[2017-10-12 20:52] #107 closed

[2017-10-12 20:53] bagintz commented on #107
@hiranya911 do you know where I should send a request for Firebase to change/update their documentation I originally followed:

https://firebase.google.com/docs/firestore/manage-data/delete-data

?

[2017-10-12 22:59] hiranya911 commented on #107
@bagintz Thanks for pointing this out. Please use the "Send Feedback" option on the top right of the page.

[2017-10-13 00:25] inlined commented on #46
BTW, I'm trying to catch examples of sub-optimal Promise usage in the wild and wanted to point out the one in this thread, CC @Sun3 Promise code should almost never repeatedly nest. These aren't callbacks anymore:

[code]

This code should hopefully be more readable. It also fixes two bugs:

1. `user.sendEmailVerificaiton` wasn't being returned, so the outer promise was resolving early to `undefin

[2017-10-14 08:54] ysfjwd opened #108 "Issue while loading with typescript"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2017-10-14 11:54] ysfjwd commented on #108
closing it, i believe the bug is not with this package, but the way my project is configured.

[2017-10-14 17:12] sweetcoco commented on #46
@bojeil-google While that would work to unblock developers who need this urgently, its an incredibly elaborate workaround once you figure in the need for service account certs for minting custom tokens... in my case where i have multiple environments where i would need to manage certs based on environment, its just a lot mental overhead. It would be nice if cloud functions didn't need service acco

[2017-10-16 05:40] bojeil-google commented on #46
The feature is on our list and we acknowledge its importance. We just have a lot of feature requests and many are currently critical to developers and not possible client side or admin side. I would prioritize those higher.

If you are having a hard time minting custom tokens, you can just send the ID token to an HTTP endpoint you host in Firebase Functions and use the REST API to send the email v

[2017-10-16 13:14] PutziSan commented on #104
same error here, can confirm that it works with firebase 5.3.0 as expected (for me).

[2017-10-16 15:13] sweetcoco commented on #46
@bojeil-google Thanks a ton!

[2017-10-16 18:35] zinzinday commented on #108
It warn by tslint?

[code]

Work find with Ts )

[2017-10-16 18:36] hiranya911 commented on #104
@PutziSan can you also share your logs? More info we have, easier it will be for us to resolve this.

And just FYI, there is some work in progress to fix this. We are trying to get to a state where the Admin SDK doesn't always try to import Firestore/grpc. This requires:

1. Separating Firestore type definitions into a separate module.
2. Lazy loading the Firestore namespace (`admin.firestore`).

[2017-10-16 20:30] ysfjwd commented on #108
@zinzinday you are absolutely right. I figured it out yesterday. The quick-start repo i cloned was transpiling via webpack. I undid that, and transpiled via tsc and the problem went away. I did say in my last comment "closing it" but forgot to close. My bad.

[2017-10-16 20:30] #108 closed

[2017-10-16 20:32] ysfjwd commented on #108
on a totally unrelated subject, to run this inside electron, i had to compile from source for electron .. here is my .env file

[code]

[2017-10-16 21:54] coreybutler commented on #46
@bojeil-google - sorry for the delayed response. Are you suggesting the firebase client SDK can be used from Node (i.e. within the function)? Just to reiterate, I have no front end and no browser, so all logic must be encapsulated within the Firebase function (which is what I was trying to do). Step 3 is what I'm questioning the viability of. I thought the client SDK relied on browser-specific cap

[2017-10-17 02:09] jpamorgan commented on #104
@hiranya911 do you foresee a fix coming anytime soon to get Firestore running on AWS Lambda with this grpc dependency?

[2017-10-17 04:49] hiranya911 commented on #104
@schmidt-sebastian @wilhuff can you comment on the status of Firestore/grpc support on AWS Lambda environment?

[2017-10-17 16:45] murgatroid99 commented on #104
One possible cause of this problem with gRPC is running the installation on a different platform than you are deploying on. The important things to consider are Node version (the major version has to match), operating system (Linux vs Windows vs Mac), and architecture (32 bit vs 64 bit vs ARM). If you can't easily do that, you can force it to install the right binary by passing additional argument

[2017-10-17 19:14] wilhuff commented on #104
@jpamorgan There's no fix for running Firestore on Lambda. Firestore uses gRPC, and gRPC only supports node.js via native code. At this point we recommend dockerizing your deployments. We're working on a write-up on how to do this, but I can't promise a timeline.

[2017-10-17 21:49] PutziSan commented on #104
Just same error like the ones from @shauntrennery  (attached below).
Does anyone noticed the blog post from https://aws.amazon.com/de/blogs/compute/nodejs-packages-in-lambda/ , have no time yet for a closer look, but this may give a hint.

[code]

[2017-10-18 07:17] zgosalvez opened #109 "Unit Testing: Module did not self-register on 5.4"
### Environment

  * Operating System version: macOS High Sierra 10.13
  * Firebase SDK version: 4.5.2
  * Library version: 5.4.2
  * Firebase Product: any

### Problem

#### Steps to reproduce:

1. Create a project with Cloud functions enabled.
2. Have at least the following dependencies:
  - "firebase": "^4.5.2",
  - "firebase-admin": "^5.4.2",
  - "firebase-functions": "^0.7.1",
  - "jasmine":

[2017-10-18 22:51] samtstern commented on #104
I am currently working on a guide for how to do this (as @wilhuff said).  However the meat of it is that you need to use `docker` to install your dependencies.

If you `rm -rf node_modules` and then use this command:

[code]

Your dependencies will be installed in a way that makes them compatible with Lambda's node 6.10 runtime.  I have successfully written data to Cloud Firestore from AWS Lambda.

[2017-10-19 15:07] olzaye opened #111 "ERROR: Request had insufficient authentication scopes for firebase Dynamic link Analytics Rest API"
Hi everyone, I  get a problem when I call the GET method for firebase dynamic link analytics rest API. Please can anyone help me ? Here is my code my error which get:

Here is the error that I get already. and I can't fin the resolve. I search for just 3 days.

accessToken **ya29.El_pBGRUPsQIqLbkJ-N3q3NR0ZBCQCT1Gd2spr65eEjjwNpx0NLsz609gG0GlMexW3S1fNjy6aQb_Ef5Nlfu6DkRjJ8gdAzRU6pc-xwY6dKRTIlY6SoHyio

[2017-10-19 16:42] chinovader commented on #111
Hi @olzaye, same issue here.

According to [this documentation](https://developers.google.com/identity/protocols/googlescopes), I think that this scope **`https://www.googleapis.com/auth/firebase`**, must be included in [auth/credential.ts](https://github.com/firebase/firebase-admin-node/blob/master/src/auth/credential.ts#L272) for Firebase Dynamic Links API, v1 to work

[2017-10-19 17:24] samtstern commented on #104
Here's a full writeup:
https://medium.com/@samstern_58566/how-to-use-cloud-firestore-on-aws-lambda-4bf6d3a473d9

[2017-10-19 22:13] olzaye commented on #111
Hi @chinovader , thank you for your response. I will try it and let you know. I add this scope into serverAccountKey and I still the same error but now what you write make sense. Thank you.

[2017-10-19 22:42] chinovader commented on #111
Hi @olzaye, I have added the scope to the [file I mentioned before](https://github.com/firebase/firebase-admin-node/blob/master/src/auth/credential.ts#L272). You can test it adding it directly to the resulting  file, under your project folder, `./node_modules/firebase-admin/lib/auth/credential.js`

This is working for me:

    CertCredential.prototype.createAuthJwt_ = function () {
        var cla

[2017-10-20 06:28] olzaye commented on #111
Hi @chinovader, I get the same error I put the scope undo credantia.js folder it's not working.

[2017-10-20 08:47] chinovader commented on #111
Hi @olzaye,
Just in case, I have updated my comment to make it more clear.
I have tested the possible fix with your code, and it is working well for me. (I am using version 5.4.2 of the firebase-admin, by the way)
Have you tried to copy the file attached?

I hope it helps

[2017-10-20 08:55] olzaye commented on #111
Yes, I replace with the current credantial.js or I put to the scope by myself. None of them have fixed my problem. I don't get it I was sure that I missed the scope?

[2017-10-20 09:00] olzaye commented on #111
Here is what I am doing :
1) I open the cmd which is configured.
2) I wrote this to cmd: node C:\Users\olcay.sonmez\Desktop\google_access_token.js
3) Before I do this, I already change the credantial.js which you send me.
and after that get the same error.

Shall I change  something in google console api or in firebase console ?

[2017-10-20 09:40] chinovader commented on #111
No, no further configuration is needed in google/firebase console.
(Your credentials are correct or else you would see a **401 - UNAUTHENTICATED** error)

Can you log the json web token to check if it is correctly generated?

    CertCredential.prototype.createAuthJwt_ = function () {
        var claims = {
            scope: [
                'https://www.googleapis.com/auth/firebase',

[2017-10-20 11:04] olzaye commented on #111
I will check it out. But I look what you send me and it looks very different what I get:
**My access Token**
ya29.El_qBPsgXIYwPnNXsJU0bng_3Dzn4GzERPOsiTgUMyXmF39qli0Q2rSNjjoGEhRjPYb2b0ygZ6jGh476gm5nnYhTT8FCgPYQpo-reBAC912WkgewAnjmymc0aDs13rZIiQ

[2017-10-20 11:28] chinovader commented on #111
That is your access token, that is requested by the lib with a **jwt** generated previously,
with the proper scope set. What we need to check is the **jwt**

The credential.getAccessToken() in your code, calls the function createAuthJwt_ in the lib file credential.js. Just copy and paste the code of my previous comment in the proper place of the file credential.js (as you did before to add the sco

[2017-10-20 11:32] olzaye commented on #111
okay I see, I found the web token right now and there is the scope defined which you said before
![capture](https://user-images.githubusercontent.com/10119983/31819040-75aca2b2-b5a3-11e7-9583-e73769574e0f.PNG)
.

[2017-10-20 11:35] chinovader commented on #111
There you have it. I see that the scope `https://www.googleapis.com/auth/firebase` is missing.

[2017-10-20 11:36] olzaye commented on #111
But I don't get it, I wrote it. Here
![capture](https://user-images.githubusercontent.com/10119983/31819163-1f06f7c2-b5a4-11e7-8c89-ef93509a1307.PNG)

[2017-10-20 12:02] chinovader commented on #111
I don't get it either; it is weird, you have this two scopes
[code]
in the array, but both are missing in the output...

[2017-10-20 12:51] olzaye commented on #111
Can it be a different credential.js file cause I changed inside ProgramFiles/nodejs/...../auth/credential?

[2017-10-20 13:21] mbrevda opened #113 "5.4 regression"
###  Describe your environment

  * Operating System version: AWS Lambda (node4.3)
  * Firebase SDK version: 5.4
  * Library version: _____
  * Firebase Product: auth, database

### Describe the problem
Since 5.4  `package.json` is read dynamically at run time. When bundling with Browserify, the package.json is not available at the path the code is expecting it to be, and hence an uncaught excepti

[2017-10-20 14:10] #113 closed

[2017-10-20 14:33] chinovader commented on #111
I am not very used to how does nodejs work in windows platforms. It looks like you have the module installed globally in your system.

Anyway, according to your screenshot, you wrote this line inside the file,

console.log("token " + token);

and your console is displaying the token you show me, right?

`token eyJ...`

My recommendation is that you always install modules local to your project.
You

[2017-10-20 14:52] olzaye commented on #111
Yeeeey :) Finally I got the my results. I am really gald to your attention. You help a lot. Thank you.

[2017-10-20 15:32] chinovader commented on #111
I am glad to hear that.
Keep in mind that this is only  workaround.
Let see what the firebase team says about this issue.

Regards

[2017-10-20 19:16] hiranya911 commented on #104
I've published an RC at https://storage.googleapis.com/firebase-admin-node/firebase-admin-5.4.3-rc0.tgz

@shauntrennery @srameshr can you run some tests with it on AWS and let us know if that resolves your issue? This should allow you to at least use the latest Admin SDK without bumping into any gRPC module loading problems.

[2017-10-20 19:24] benhurott opened #115 "self signed certificate in certificate chain error"
* Operating System version: [Docker PM2](https://hub.docker.com/r/keymetrics/pm2/)
  * Firebase SDK version: 5.2.1
  * Library version: _____ (???)
  * Firebase Product: database (auth, database, storage, etc)

When use express with HTTPS we facing this error: `0|www      | FIREBASE WARNING: {"code":"app/invalid-credential","message":"Credential implementation provided to initializeApp() via the \

[2017-10-20 20:27] hiranya911 commented on #115
Try the instructions at https://stackoverflow.com/questions/10888610/ignore-invalid-self-signed-ssl-certificate-in-node-js-with-https-request and see if that helps.

[2017-10-20 20:35] benhurott commented on #115
Hi @hiranya911,

When a try it, the error now is: `0|www      | FIREBASE WARNING: {"code":"app/invalid-credential","message":"Credential implementation provided to initializeApp() via the \"credential\" property failed to fetch a valid Google OAuth2 access token with the following error: \"socket hang up\"."}`

I try some other solutions for this error message but none of them works...

[2017-10-20 20:48] hiranya911 commented on #99
I've verified that this issue occurs with latest RTDB code as well. Reported at https://github.com/firebase/firebase-js-sdk/issues/249. Lets track the progress there.

[2017-10-20 20:48] #99 closed

[2017-10-20 21:01] hiranya911 commented on #115
Have you tried syncing your clock? Can you also share more details about your code and environment?

[2017-10-20 21:05] hiranya911 commented on #49
@taina0407 did you get a chance to try your implementation with Admin SDK v5.3.0 or higher? Does it help alleviate the problem?

[2017-10-20 21:17] hiranya911 commented on #111
We will add the scope to the SDK. But I don't think I can recommend this usage of our Credentials API. It's mainly used by other components in the SDK, and hence have the minimum set of scopes that the SDK requires. Also `getAccessToken()` is an expensive method when called directly. SDK does some token caching internally, which amortizes this cost. But directly calling it circumvents all that.

[2017-10-20 23:45] benhurott commented on #115
We are investigating if is some issue with our infrastructure.

For now we have these informations:
* Firebase works in dev, on my machine independently HTTP or HTTPS.
* Firebase works on my machine, inside a PM2 Docker container.
* Firebase not works inside PM2 Docker container running on production VM (Ubuntu 16.04).

[2017-10-21 04:05] taina0407 commented on #49
@hiranya911 I already upgrade to v5.3.0 and it seem the problem stop happen for 1 month already, so I think it   resolved now. Thanks

[2017-10-21 04:05] #49 closed

[2017-10-21 07:04] #111 closed

[2017-10-21 23:11] pulyaevskiy opened #116 "Invalid database URL causes Node process to get stuck"
* Operating System version: macOS 10.12.6 (Sierra)
  * Firebase SDK version: 5.4.2
  * Library version: 5.4.2
  * Firebase Product: database
  * Node version: v8.1.0

### Invalid database URL causes process to get stuck

#### Steps to reproduce:

If `databaseUrl` is malformed in any way then Node process gets stuck and does nothing. No error is reported and it seems to never timeout.

#### Relevan

[2017-10-22 10:00] thiemnd commented on #77
error same with me
TypeError: Cannot read property 'navigator' of undefined

[2017-10-23 04:38] inlined commented on #46
Yes, the client SDK works in Node. We actually use the Client SDK in Node as part of `firebase-tools`, so this is pretty unlikely to change any time soon.

[2017-10-23 08:20] bradennapier commented on #104
This is pathetic... i dont care about your firestore bs and you break the app completely --- webpack is not a tiny little solution that no one uses... how about an actual solution for this?

[2017-10-23 08:46] srameshr commented on #104
@hiranya911 I did try it. It broke again.
I cant do it again because I dont have a dev version of EB stalk. My production server runs there. As of now I will stick with 5.3.0 without any updates.

[2017-10-23 14:53] benhurott commented on #115
Resolved!

Our infraestructure was blocking some google services.
Closing =).

[2017-10-23 14:53] #115 closed

[2017-10-23 15:08] samtstern commented on #104
@bradennapier glad the new package is working for you.  Please be respectful when discussing issues on Github, we try to be honest about our mistakes and fix them when we break something.

[2017-10-23 20:20] JochenDB commented on #45
@bojeil-google @hiranya911 Is there a timeline for this? Is there a suggested workaround? I can't keep doing a CLI action to keep syncing my users.

[2017-10-23 20:48] bojeil-google commented on #45
Hey @JochenDB, we don't have a timeline for this. I will keep this post updated when I have an update. Most developers only need this feature for migration purposes and the CLI SDK is sufficient for that. That said, we will still support this.

[2017-10-23 21:24] hiranya911 commented on #88
Fixed

[2017-10-23 21:24] #88 closed

[2017-10-24 17:39] hiranya911 commented on #104
Thanks everybody who helped test this fix. It is now released: https://firebase.google.com/support/release-notes/admin/node#5.4.3

[2017-10-24 17:39] #104 closed

[2017-10-24 17:40] hiranya911 commented on #105
This should be fixed now: https://firebase.google.com/support/release-notes/admin/node#5.4.3

We no longer load Firestore/gRPC packages unless `admin.firestore()` is called explicitly.

[2017-10-24 17:40] #105 closed

[2017-10-24 17:42] hiranya911 commented on #109
This should be fixed now: https://firebase.google.com/support/release-notes/admin/node#5.4.3

We no longer load Firestore/gRPC packages unless `admin.firestore()` is called.

[2017-10-24 17:42] #109 closed

[2017-10-24 20:13] AnthonyNahas opened #118 "NodeJS crashes while running in cloud due to --> Error: Failed to import the Cloud Storage client library for Node.js."
Cloud
 * Operating System version: cloud - Heroku PAAS NodeJS
  * Firebase SDK version: 5.4.3
  * Library version: 5.4.3
  * Firebase Product: auth,storage

Local
 * Operating System version: MacOS 10.11.6
  * Firebase SDK version: 5.4.3
  * Library version: 5.4.3
  * Firebase Product: auth,storage

### Problem

I am using firebase-admin with nodejs in order to authenticate users and manage the st

[2017-10-24 21:59] hiranya911 commented on #118
Can you check if the code is actually installed under `@google-cloud/storage`?

Also share your full stack trace. The one above seems truncated.

[2017-10-24 22:28] hiranya911 commented on #118
It is also interesting that you have `firestore` and `common` installed in your local set up (which is expected), but not in heroku. I wonder if your installation was interrupted somehow.

[2017-10-24 22:51] pulyaevskiy commented on #116
Is anyone watching this repository?

[2017-10-24 23:10] pulyaevskiy commented on #116
@hiranya911 thanks for getting back and for the link! Just needed to get some feedback here.
I'll see if I can find some time for a PR.

[2017-10-25 06:28] AnthonyNahas commented on #118
Hi, i will close the issue since i found that the problem is related to npm engine and not to firebase-admin sdk.

## Observation and solution:
i am running node v 8.5.0 on my local machine as well as in the cloud. The only difference between the two states, is the npm engine! On my local OS, npm is running with the latest version 5.5.1 and on heroku npm is running under the version 5.4.0.
To Fix

[2017-10-25 06:28] #118 closed

[2017-10-25 12:48] saminiemi opened #119 "Firestore Realtime listener drops a connection and does not reconnect"
* Operating System version:  Nodejs (Alpine based) docker container, node:8.7.0-alpine
  * Firebase SDK version: 5.4.2
  * Library version: @google-cloud/firestore 0.8.2
  * Firebase Product: Firestore

We have a simple Firestore Realtime listener running on Docker container at Google Container Engine. Few times, listener for some reason have lost a connection and does not reconnect. Updates (sets

[2017-10-25 16:17] bitlab-code opened #120 "The email address is already in use by another account"
I report an issue opened on firebase-functions becouse it seem an firebase-admin issue
[(issue)](https://github.com/firebase/firebase-functions/issues/111#issuecomment-334257334)

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: MacOS Sierra
  * Firebase SDK version: ^5.2.1
  * Library version: _____
  * Firebase Product:  auth

### [REQUIRED] Step 3: Describe the pr

[2017-10-25 17:20] hiranya911 commented on #119
This should probably be reported at https://github.com/googleapis/nodejs-firestore

@schmidt-sebastian can you take a look?

[2017-10-25 17:30] bojeil-google commented on #120
Hey @bitlab-code, this works as expected. The "multiple accounts with the same email address" applies to different providers. You can have multiple users with different providers but the provider on one has the same email as another provider on another user. So you can have a email/password user, another Google user with the same email and each user will have different `uid` as expected. However,

[2017-10-25 17:56] dschnelldavis opened #121 "npm update firebase-admin fails with ENOENT: no such file or directory, rename"
I think I have the same issue as posted [here](https://github.com/npm/npm/issues/18916) for NPM. However, I have not had this issue with any other packages, so I think the problem is firebase-admin version 5.4.3 (version 5.4.2 works fine), not NPM.

#### System info
Mac OS: 10.12.6
Node: 8.6.0
NPM:  5.5.1
firebase-admin: 5.4.2 -> 5.4.3
Installed NPM Packages:

#### Install Error
Running `npm updat

[2017-10-25 18:05] thakkaryash94 commented on #121
I faced the same issue. try to remove `node_modules` and install again. It worked for me.

[2017-10-25 18:52] dschnelldavis commented on #121
Issue Template:

### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue. - YES

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Mac OS 10.12.6
  * Firebase SDK version: 5.4.2 installed—attempting to install 5.4.3
  * Library version: 5.4.2 installed—attempting to install 5

[2017-10-25 19:47] hiranya911 commented on #121
What if you directly install the latest version of firebase-admin, instead of going the update route? Can't you just specify firebase-admin 5.4.3 as a dependency in your `package.json`?

[2017-10-25 20:01] dschnelldavis commented on #121
Yes, that works. This definitely appears to be a problem _updating_, not installing.

Based on @thakkaryash94's and @hiranya911's comments, I unlocked my version of firebase-admin (changing it in package.json from "5.4.2" to "^5.4.2"), deleted my `node_modules` directory again, and did a clean `npm install`. And this time it re-installed everything without error.

Apparently the problem last time

[2017-10-25 20:19] hiranya911 commented on #121
Thanks @dschnelldavis for the update.

I was able to reproduce the issue with `npm update`, but have no idea what caused it or how to fix it. The most likely reason I can think of is that the `npm-shrinkwrap` files shipped with the 2 versions have slightly different formats (likely due to the releases being packaged from 2 versions of NPM). We've been thinking about pulling the shrinkwraps from th

[2017-10-25 22:59] dschnelldavis commented on #121
Actually, if your theory is correct, this may no longer be an issue.

Assuming the change in `npm-shrinkwrap` caused the problem (which seems reasonable), then users of version 5.4.3 or above will never have this problem again (unless you change the npm-shrinkwrap file formats again in a future version).

The only people who will encounter this bug are people with version 5.4.2 or earlier who are

[2017-10-26 00:51] #120 closed

[2017-10-26 04:53] zgosalvez opened #122 "Unit Testing: The default Firebase app does not exist."
### Environment

  * Operating System version: macOS High Sierra 10.13
  * Firebase SDK version: 4.6.0
  * Library version: 5.4.3
  * Firebase Product: any

### Problem

#### Steps to reproduce:

1. Create a project with Cloud functions enabled.
2. Have at least the following dependencies:
  - "firebase": "^4.6.0",
  - "firebase-admin": "^5.4.3",
  - "firebase-functions": "^0.7.1",
  - "jasmine":

[2017-10-26 04:54] zgosalvez commented on #109
Thank you so much, @hiranya911. This resolved this issue, but a new one emerged. Please see #122.

[2017-10-26 05:13] hiranya911 commented on #122
How did you test on 5.4.0, 5.4.1 and 5.4.2 if you were affected by #109?

[2017-10-26 05:17] zgosalvez commented on #122
@hiranya911, I just stated it as a fact, that I had to go back to 5.3.0 for the issue to disappear.

[2017-10-26 05:20] hiranya911 commented on #122
As far as I can see the only admin SDK related code is the `require()` statement, and the `admin` namespace passed to `DeltaSnapshot`. Is that correct? Do you call `admin.initializeApp()` anywhere? If not can you add that and see if it resolves the issue?

[2017-10-26 05:25] zgosalvez commented on #122
@hiranya911, Yes I do. I updated the snippets above to reflect this.

[2017-10-26 05:29] hiranya911 commented on #122
Is this guaranteed to run **before** `DeltaSnapshot()` or `onUserEmailWrite()` is called?

[2017-10-26 06:11] zgosalvez commented on #122
@hiranya911, Yes. `admin.initializeApp()` will always be called before those two functions. I updated the snippet above for more clarity.

[2017-10-26 06:44] hiranya911 commented on #122
I'm not familiar with the libraries you're using. What does `spyOn(admin, 'initializeApp')` do? Also is there a way to get a stacktrace of the original error (the error that caused the promise rejection)? This error occurs when something tries to access the default Firebase app before it's initialized (see https://github.com/firebase/firebase-admin-node/blob/master/src/firebase-namespace.ts#L116).

[2017-10-26 07:13] zgosalvez commented on #122
@hiranya911, it mocks/stubs to avoid the error. Please see [Mocking functions.config() and admin.initializeApp()](https://firebase.google.com/docs/functions/unit-testing#mocking_functionsconfig_and_admininitializeapp) for reference, albeit it's using Mocha instead of Jasmine.

Thank you for the insight, I misdiagnosed the location of the issue. I've updated the snippets above to show the exact loc

[2017-10-26 07:47] hiranya911 commented on #122
I tried the official samples (using Mocha and Sinon) with the latest Admin SDK, and it works fine.

[code]

[2017-10-26 07:50] zgosalvez commented on #122
@hiranya911, please try invoking `admin.auth().updateUser(userId, {email: email});` this is where the issue was after going through the code again.

[2017-10-26 07:51] bitlab-code commented on #120
Ok @bojeil-google  many thanks for the explanation.

[2017-10-26 07:53] hiranya911 commented on #122
Ok, it makes more sense now. You shouldn't be able to call `admin.auth()` without initializing the default app first (which is mocked out in the test cases). I slightly modified the official sample from Cloud Functions by adding a call to `admin.auth().updateUser()`, and now I get the following error:

[code]

But this occurs in both 5.3.0 and 5.4.3 for me. I can't see how this could have ever wor

[2017-10-26 07:55] zgosalvez commented on #122
@hiranya911, in my updated snippet above, I have a spy/stub for `admin.auth().updateUser()`. I presume that get's called as expected on 5.3.0.

[2017-10-26 07:57] hiranya911 commented on #122
Ok. In the latest admin SDK `admin.auth` is not a function, but a getter. See https://github.com/firebase/firebase-admin-node/blob/master/src/firebase-namespace.ts#L284

You need to update your tests/stubs accordingly.

[2017-10-26 08:08] hiranya911 commented on #122
Following worked for me in mocha/sinon world:

[code]

[2017-10-26 08:16] hiranya911 commented on #122
@zgosalvez Please update your stubs accordingly. All namespaces except `admin.database` are now exposed as getters that return functions. Soon, we will also expose `admin.database` in the same fashion (see #112).

[2017-10-26 08:16] #122 closed

[2017-10-26 08:29] zgosalvez commented on #122
Man, that took a while. I'm so glad it got resolved today. Thank you again for the guidance @hiranya911! For anyone who wants a reference in Jasmine:
[code]

[2017-10-26 17:58] schmidt-sebastian commented on #119
@saminiemi We have retry logic in place to handle this specific situation. If you can reproduce this failure regularly, do you mind turning on debug logging and sending us the logs from just before this occurred?

You can do this as follows:
[code]

[2017-10-28 05:04] saminiemi commented on #119
Thanks @schmidt-sebastian . We did like suggested and here is the result:
[code]

Seems to be something to do with authentication. Hope this helps and if there is any information you would like me to provide, please let me know.

[2017-10-28 08:57] saminiemi commented on #119
I can also confirm that most of the time listener survived just fine:

[code]

[2017-10-30 06:36] saminiemi commented on #119
We also have caught following error:
[code]
And this. We have paid plan, so I wonder which quota this might be.
[code]

[2017-10-31 12:14] kaueDM commented on #39
@jshcrowthe sorry for revive this issue, but i need to remove other users from my reactjs admin dashboard. How can i do it if  `firebase-admin` is server-only?

[2017-10-31 17:44] hiranya911 commented on #39
You should implement the user delete logic as a server-side script or a cloud function, and then get your react app to invoke that endpoint. Pass the ID token from the app to the server endpoint, where it can be validated using the admin SDK.

[2017-11-02 21:18] brentahiti opened #125 "Events called synchronously after write operation"
* Operating System version: OS X 10.12.6
  * Node version: 6.9.1
  * Library version: 5.4.3
  * Firebase Product: database

Basically, child_added/child_changed events (listened on locally) are called synchronously after `.set()` or `.update()` for example.

I'm not sure if it's made by design, but I find this behavior counterintuitive. I would expect code right after a set to be run before any ev

[2017-11-02 22:18] hiranya911 commented on #125
This is [by design](https://firebase.google.com/docs/database/admin/save-data#section-writes-offline).

The whole point of an async programming model is there are no guarantees concerning the order of events. The only guarantees you should rely on are the ones documented at https://firebase.google.com/docs/database/admin/retrieve-data#section-event-guarantees

[2017-11-02 22:18] #125 closed

[2017-11-02 23:57] brentahiti commented on #125
@hiranya911 thanks for the answer. I do understand how the async programming model works. However, the nature of write operations by default is asynchronous unless expressed otherwise in documentation. The firebase documentation doesn't mention anything about this curious behavior.

Again, I'm not referring to the order of events, but rather to the fact that `.set()` and other write operations sho

[2017-11-03 00:35] hiranya911 commented on #125
Given the following events:

A: User code calls `ref.set()`
B: Data is written to the remote database
C: Local events (`ref.on()`) fired

The SDK guarantees that B and C take place sometime after A. Beyond that no assumptions should be made regarding the order of B and C. B actually does take place on a separate tick from A. A and C might run on the same tick.

[2017-11-03 01:03] brentahiti commented on #125
In which use case would A and C running on the same tick make sense? `setImmediate()` could be used to run C after A no?

[2017-11-03 03:35] jkildea commented on #119
Hi, is to an update on this issue? Was the solution found?

[2017-11-03 04:56] hiranya911 commented on #125
That's not relevant. Client code should never rely on the order of events, and different events getting scheduled on the same tick vs multiple ticks. That's all implementation details, and the SDK can handle them in anyway it wishes. The only guarantees provided are:

* B happens after A
* C happens after A

I think the API docs for [set()](https://firebase.google.com/docs/reference/admin/node/adm

[2017-11-06 03:42] greenido opened #126 "FR: Add util function "encodeAsFirebaseKey""
I keep copy/paste this util function in every project I'm doing...
It might be useful to other developers as it's a common task to create a proper key out of data like: email, phone, name etc'.

#### Relevant Code:

[code]

[2017-11-06 14:50] VinceOPS commented on #121
Hi guys. Just to share my experience as I've been through the exact same error using npm v4.6.1 with `npm install --save firebase-admin` (last version being 5.4.3 at the present time).

I had to update npm to npm 5 (v5.5.1) to install the package.

Cheers!

[2017-11-07 11:47] eskan opened #127 "UserRecord is missing isAnonymous"
Hi firebasers,
when using admin.auth().listUsers() it returns a list of userRecord
https://github.com/firebase/firebase-admin-node/blob/master/src/auth/user-record.ts
but this one missed the isAnonymous boolean property the USer interface has : https://firebase.google.com/docs/reference/node/firebase.User#isAnonymous
Is it wanted ? if yes is there a way to find it's an anonymous user ?
Regards,
Cy

[2017-11-07 15:23] Bamieh opened #128 "missing `kid` in `createCustomToken` token header"
### [REQUIRED] Step 2: Describe your environment

  * Library version: `"firebase-admin": "5.4.3"`
  * Firebase Product: auth (auth, database, storage, etc)

### [REQUIRED] Step 3: Describe the problem

The `createCustomToken` function does not add `kid` to the header of the jwt token. This makes me unable to use the token in many applications (i have to sign in with the username and password usin

[2017-11-07 17:11] Bamieh commented on #128
@firebase-oss-bot hmmmmm 🤔

[2017-11-07 17:29] bojeil-google commented on #128
How do you use a custom token to "sign in with the username and password using `firebase` rather than `firebase-admin`"?

[2017-11-07 17:40] bojeil-google commented on #127
`isAnonymous` is only a client side construct. If a user is created with `signInAnonymously`, this flag is set to true (client side only).
For example you can use `createUser` and just create a user without any profile info (no email, phone, password, etc). Would that be considered anonymous? How about if you create a user with just an email? What about a custom auth user? You could also unlink al

[2017-11-07 17:51] #127 closed

[2017-11-07 17:55] hiranya911 commented on #128
@Bamieh The only meaningful thing you can do with a custom token is to pass it to one of the [`signInWithCustomToken()`](https://firebase.google.com/docs/auth/admin/create-custom-tokens#sign_in_using_custom_tokens_on_clients) methods provided by the client SDKs. This will send the token to a Firebase auth backend server, which does not care if the `kid` header exists. For this reason it is [not re

[2017-11-07 18:51] eskan commented on #127
Hi thanks for answers,
as i understood anonymous is a connection mode and user created with signInAnonymously are tagged **anonymous** in firebase console.
I can't find way to createUser() without choosing a provider. I thought anonymous was a special king of connection tagged in firebase database.
I will check that providerId is an empty array that should do the job.
Thanks again,

[2017-11-08 09:15] Bamieh commented on #128
Our backend uses `firebase-php` which calls the method `\JWT::decode` to verify firebase user tokens, this method (provided by firebase) checks for the `KID`.

My intent was to create a user via admin auth, then create a token for that uid, and send it to the backend to access the services.

I started using the admin auth in the first place because the web auth focus a limit of a 100 user creation

[2017-11-08 11:08] Kiozak opened #130 "_stream_writable unable to resolve modules"
Describe your environment

  * Operating System version: ubuntu 17.10
  * Firebase SDK version: lastest
  * Nodejs version : 7.9.0
  * Npm version : 5.5.2
  * Library version: lastest
  * Firebase Product: database  (auth, database, storage, etc)

 Describe the problem
  Well this is my problem , i tried to re-install the module more than 10 time , but the error still pop-up
![error](https://user-

[2017-11-08 18:15] hiranya911 commented on #130
It looks you're trying to use `firebase-admin` in a React Native mobile app. `firebase-admin` is not supported in client-side frameworks like React native. It is for server-side use only.

[2017-11-08 18:15] #130 closed

[2017-11-08 18:25] hiranya911 commented on #128
It sounds like you're doing the right thing now: using the custom token in a client SDK to sign in, and obtain an ID token. The ID token can be verified in the server side.

Verifying custom tokens in user code is not a supported use case, as they are meant to be verified by the Firebase auth backend servers only.

[2017-11-08 18:25] #128 closed

[2017-11-08 18:25] hiranya911 commented on #128
It sounds like you're doing the right thing now: using the custom token in a client SDK to sign in, and obtain an ID token. The ID token can be verified in the server side.

Verifying custom tokens in user code is not a supported use case, as they are meant to be verified by the Firebase auth backend servers only.

[2017-11-08 23:01] hiranya911 commented on #121
Thanks all for the comments. We have removed the shrinkwrap file, and future releases will not ship with one. This should not cause issues in the future.

[2017-11-08 23:01] #121 closed

[2017-11-08 23:02] hiranya911 commented on #54
Fixed

[2017-11-08 23:02] #54 closed

[2017-11-09 09:00] Kiozak commented on #130
oh i see thank you a lot

[2017-11-09 11:22] Bamieh commented on #128
@hiranya911 okay, can you clarify what exactly you mean by "Firebase auth backend servers only"? Our backend uses firebase auth, doesnt that make it qualified for such token?

[2017-11-09 15:27] adamduren opened #132 "FR: Make databaseAuthVariableOverride work for Firestore"
From what I understand databaseAuthVariableOverride does not work for Firestore. This was important in the real time database to make sure that scripts don't execute with unchecked permissions. Is there an alternative for Firestore?

[2017-11-09 16:53] saminiemi commented on #119
Hello!

@schmidt-sebastian any update on this one? We are still getting this regularly, at least once in a day. Tried it also on Debian-based docker container, with same result.

Most of the time error log looks like this:
[code]

[2017-11-09 17:24] bojeil-google commented on #128
The custom Auth token is only meant to be consumed by the Firebase Auth backend server. The public certificate for a project is not exposed as a result.
So the flow works as follows:
1. Mint custom token with your private key
2. send custom token to Firebase Auth backend via `signInWithCustomToken` API.
3. Auth backend verifies it with your allocated cert.
4. A Firebase Auth refresh token and ID t

[2017-11-09 18:39] hiranya911 commented on #132
I believe there's some ongoing work to support this. @mikelehen should know more.

[2017-11-09 18:52] schmidt-sebastian commented on #119
These log statements are very helpful. Our retry logic considers these streams as healthy once it is able to send out a network package ("Marking stream as healthy"). Unfortunately, just because the TCP layer accepts our packages, doesn't necessarily indicate that the outbound network link is active. We may have to retry more aggressively. I will kick off an internal discussion.

[2017-11-09 20:45] sqra commented on #119
Hi. I have the same problem. With onSnapshot method.
[code]

Firebase console:
[code]

And earlier today:

[code]

Please solve this issue. I making app which I have to give to the client next week !  All last days I spent over looking for bugs in my application but nothing found.

[2017-11-09 22:50] mikelehen commented on #132
cc/ @mcdonamp

This is a good feature request and we've had some internal discussions about how we might try to support this in the future, but it will probably not be something we can accommodate in the near term unfortunately.

[2017-11-09 23:32] mcdonamp commented on #132
The near term recommendation that I offer is: have your function [mint a custom auth token](https://firebase.google.com/docs/auth/admin/create-custom-tokens) and then use the client libs instead of the admin ones.

In the future, we're seeing how we could either:

- Bake this functionality into the SDK
- Add a side-channel to accept a second credential (the user credential) in addition to the serv

[2017-11-09 23:58] adamduren commented on #132
Yea, that was the first thought I had but the js-sdk is incompatible with nodeper  https://github.com/firebase/firebase-js-sdk/issues/221.

[2017-11-10 00:12] mikelehen commented on #132
@adamduren You are correct.  We may have a solution for that in the next week or two though. Stay tuned.

[2017-11-10 18:36] hiranya911 opened #134 "Fix Database Statistics Reporting"
Database statistics reporting is broken in v5.5.0 release.  Root cause details and more context are available at https://github.com/firebase/firebase-js-sdk/issues/314

[2017-11-10 19:05] schmidt-sebastian commented on #119
We are aiming to push a release that addresses these network issues within the next two weeks.

[2017-11-12 14:19] myandrienko opened #135 "Firestore cursor methods not working with document snapshots"
* Firebase SDK version: 5.5.0
  * Firebase Product: firestore

I'm using Firebase Admin SDK in Firebase Cloud Functions environment. I noticed that `firebase.firestore.Query` cursor methods, such as `startAt`, `startAfter` etc, are not working correctly when called with `DocumentSnapshot` as argument.

Collection `test` is populated with the following documents:

**a:** `{ v: "a", sort: 1 }`
**b:*

[2017-11-12 15:14] myandrienko commented on #135
BTW, the same code works fine with Firebase Javascript SDK:

[code]

Output:

[code]

[2017-11-12 16:08] myandrienko commented on #135
Oh, I found a [note](https://firebase.google.com/docs/firestore/query-data/query-cursors#use_a_document_snapshot_to_define_the_query_cursor) in documentation saying that these methods are not supported Node.js client. I'm now closing this issue.

A viable replacement for me is [`offset`](https://cloud.google.com/nodejs/docs/reference/firestore/0.9.x/Query#offset) method. I think [documentation for

[2017-11-12 16:08] #135 closed

[2017-11-14 11:14] stychu commented on #102
yeah Im also curious aboyt this. Im facing the problem how to send my data payload from server to the client. Any suggestions on how to stringify/parse the payload automatically so i dont have to remember that data payload can be set as
[code]
and it will be stringified or somthing.

rather than always remeber to make this as string ?

[code]

[2017-11-14 14:54] mesqueeb commented on #77
I got the same error, however, I don't even use strict.

I just did all these steps:

1. `git clone https://github.com/firebase/firebaseui-web.git`
2. `cd firebaseui-web`
3. `npm install`
4. `npm run build`

And then I get this bug.
However, when installing from NPM directly and `require()` from the node_modules it works fine.

[2017-11-14 18:23] adamduren opened #136 "Wrong "typings" key in package.json after monorepo refactor."
## Reproduction steps
See [repo](https://github.com/adamduren/firebase-typings-issue) to reproduce.

## Description

The path for typings is missing the `cjs` directory.

[code]

Should be
[code]

Noticed in the following places:

 * https://github.com/firebase/firebase-js-sdk/blob/master/packages/app/package.json#L50
 * https://github.com/firebase/firebase-js-sdk/blob/master/packages/messaging/pa

[2017-11-14 18:23] adamduren commented on #136
Moved to `firebase-admin-node` from https://github.com/firebase/firebase-js-sdk/issues/318.

[2017-11-15 18:28] peterwiebe opened #137 "admin.intializeApp returns Raw server response"
* Operating System version: Nodejs (Alpine based) docker container, node:8.7.0-alpine
  * Firebase SDK version: 5.4.3
  * Library version: 0.8.2
  * Firebase Product: Auth

I am trying to initialize the connection to my Firebase application using admin.intializeApp with the credentials that were provided when downloading the private key in the service accounts tab of the Firebase console. The resu

[2017-11-15 18:53] hiranya911 commented on #137
`admin.initializeApp()` is a local operation, and doesn't make any network calls. You will have to debug your app, and see what the underlying error is. It is likely to do with your use of environment variables. Can you show the code where you instantiate those constants?

[2017-11-15 18:57] peterwiebe commented on #137
@hiranya911 figured it out. I put quotes around the private key for the yaml file that shouldn't have been there.

[2017-11-15 18:57] #137 closed

[2017-11-16 18:42] #119 closed

[2017-11-17 13:08] saminiemi commented on #119
Thanks @schmidt-sebastian . That is great news!

Hopefully this new version of googleapis/nodejs-firestore is included to firebase-admin-node soon 👍

[2017-11-17 18:30] schmidt-sebastian commented on #119
We are targeting a release next week.

[2017-11-17 20:28] karthikgollapudi commented on #93
@DzmitryU @YamanSehzade `fcm-node` works because it changes the `firebase-admin` dependency to `4.2.1`. It would be a quicker fix to just change the version of `fire-base-admin` you're using as long as all the features still work.

[2017-11-18 00:02] McStuffins opened #138 "Type names not found"
* Operating System version: Windows 10: 1709
  * Library version: 5.5.0
  * Firebase Product: Firestore

`npm install firebase-admin`

try to use the sdk

have these errors show up:
![errors](https://user-images.githubusercontent.com/23535075/32974120-d46a3cb0-cbc9-11e7-8d33-c6fa36cfbb33.PNG)

[2017-11-18 13:56] 0x80 commented on #136
@adamduren How do you work around this issue?

I've tried adding them to my tsconfig includes, but that doesn't seem to cut it.

[code]

[2017-11-18 14:24] 0x80 commented on #136
Ah I get it now I think.

skipLibCheck only works if you don't explicitly add those *.d.ts files to you own files list, because then they're not considered external lib anymore. Using the skipLibCheck without listing the files at least lets me compile my own code.

But of course this is still a problem, because now all checks for all external modules are disabled.

[2017-11-19 16:32] raDiesle commented on #136
already solved? It's closed, but still I get this issue and I do not see referenced code-fix.

[2017-11-19 16:33] adamduren commented on #136
Issue appears open for me

[2017-11-21 17:10] KevinMind opened #143 "firebase-admin throws dependency error"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: macOs 10.13.1 High Sierra
  * Firebase SDK version: 4.2.1 and 5.4.0 (tried both, both threw same error
  * Library version: ?
  * Firebase Product: firebase-admin

### [REQUIRED] Step 3: Describe the problem

React app trying to connect to firestore through firebase-admin.

const admin = require('firebase-admin');

thr

[2017-11-21 17:16] esparkman commented on #143
@KevinMind I was having the same issue. I had an issue open that has since been closed I'll referenece it for you #84 . The short of it is, if you're trying to use firebase-admin in a Frontend framework(React, Vue, etc) it is not supported. firebase-admin is supported only on server side implementations.

[2017-11-21 18:26] #143 closed

[2017-11-21 23:43] hiranya911 commented on #138
This should be fixed in 5.5.1. We no longer use the typings provided by `@firebase/database`.

[2017-11-21 23:43] #138 closed

[2017-11-21 23:44] hiranya911 commented on #136
This should be fixed in the 5.5.1 release. We no longer use the typings from `@firebase/database`.

@jshcrowthe is working separately on getting the typings of `@firebase/database` sorted out. Hopefully we will be able to consume them in the admin SDK in the future.

[2017-11-21 23:44] #136 closed

[2017-11-21 23:48] hiranya911 commented on #77
Can somebody try this with a recent Admin SDK release (5.5.0 or higher)? We now use the latest database code from the JS SDK.

[2017-11-22 00:42] mesqueeb commented on #77
I solved it by adding the built `firebaseui.js` file to the ignore list of `.babelrc`

[2017-11-22 18:38] stevejcox opened #144 "ThenableReference returning PromiseLike - should be Promise?"
It looks like when the RTDB were put back in with pr: https://github.com/firebase/firebase-admin-node/pull/140 the interface of ThenableReference changed form extending `Promise<any>` to `PromiseLike<any>`.

Is there a reason for this?

PromiseLike does not include a catch declaration for typescript - and so is causing an error. I believe this should be Promise<any> ?

[2017-11-22 18:58] hiranya911 commented on #144
`PromiseLike` is what is used in [JS SDK](https://github.com/firebase/firebase-js-sdk/blob/master/packages/firebase/app/index.d.ts#L450), where the RTDB code actually resides.

@jshcrowthe wdyt?

[2017-11-27 10:52] trungnguyendev opened #146 "Can't resolve"

[2017-11-27 18:47] hiranya911 commented on #146
@trungnguyendev I don't see the description here. Looks like you edited it out. From the email notification delivered by Github it seems you were seeing errors like:

[code]

This usually indicates you're trying to use `firebase-admin` in a client-side framework like React. This is not supported. Please update the issue with more details, if you need further help.

[2017-11-27 18:47] #146 closed

[2017-11-27 23:16] hiranya911 commented on #89
Moved to https://github.com/firebase/firebase-js-sdk/issues/333

[2017-11-27 23:16] #89 closed

[2017-11-27 23:18] hiranya911 commented on #77
I'm going to close this since there hasn't been any updates from the reporter in a while. I also believe this may have been fixed by our recent upgrade of the RTDB client code. Feel free to comment/reopen if the problen reappears.

[2017-11-27 23:18] #77 closed

[2017-11-29 20:35] alfredoizjr opened #147 "Module not found: Error: Can't resolve"
I using Angular v4
I install npm install firebase-admin, but when I try to use this I get this error

[code]

[2017-11-29 21:52] baawithme commented on #119
Are you sure it solved that bug? Cuz I'm still having it

[2017-11-29 22:05] hiranya911 commented on #147
Admin SDK cannot be deployed on client-side web frameworks like Angular. It can only be used in trusted server-side environments. See https://medium.com/@hiranya911/firebase-the-server-side-story-1f89064e9c16 for some additional details.

[2017-11-29 22:05] #147 closed

[2017-11-30 00:40] schmidt-sebastian commented on #119
I just relaxed our retry condition even further. If you have a chance, do you mind patching in https://github.com/googleapis/nodejs-firestore/pull/82 ? Thanks.

[2017-12-04 12:10] SiestaMadokaist opened #150 "Program doesn't terminate when running FCM.sendToDevice in nodejs."
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2017-12-04 14:44] tsuijten opened #151 "FR: Add platform specific Cloud Message attributes"
### Environment

  * Operating System version: Node
  * Firebase SDK version: 5.2.1
  * Library version: 5.2.1
  * Firebase Product: Cloud Messaging

### Problem

You can send platform-specific keys as described here: https://firebase.google.com/docs/cloud-messaging/concept-options

However, the SDK doesn't allow this. When I try to send `android` or `apns` specific data with `sendToDevice` I get

[2017-12-04 16:45] stevejcox commented on #144
Just following up on this, @jshcrowthe - push() seems to return a ThenableReference rather than a Promise. Is there a reason for this? ThenableReference doesn't have declarations for catch, so not totally sure why it wouldn't be a Promise too?

[2017-12-04 21:22] hiranya911 commented on #150
This is because Admin SDK starts background tasks. You need to call [`app.delete()`](https://firebase.google.com/docs/reference/admin/node/admin.app.App#delete) if you wish to ensure graceful termination of the process.

[2017-12-04 21:22] #150 closed

[2017-12-06 18:14] ofrobots opened #153 "Start testing against Node 8 and 9"
Hi Folks, over at my PR (#265) I noticed that the tests are run against Node 4, 5, 6, 7. Is there a reason for not testing against the actual LTS and Current releases (8.x and 9.x respectively).

BTW, Node 5 and 7 are no longer supported upstream. You can stop testing against those.

[2017-12-08 15:55] SiestaMadokaist commented on #150
may I ask one more thing?
is it safe to have an cloudfunction endpoint that looks something like:
`// some initialization code`
const FCM = admin.messaging();
module.exports.sendToDevices = functions.https.onRequest((req, res) => {
    const { tokens } = req.body;
    FCM
      .sendToDevice(tokens, payload)
      .then(() => {res.send("OK")} )
      .catch(() => { res.send("FAIL")});
})

[2017-12-08 18:22] hiranya911 commented on #150
Given that you're calling `res.send()` in each possible case, I believe it's fine.

[2017-12-08 22:17] hiranya911 commented on #153
@jshcrowthe WDYT?

[2017-12-08 23:08] hiranya911 commented on #153
I actually got a test failure on Node 9: https://travis-ci.org/firebase/firebase-admin-node/builds/313726251

[2017-12-12 10:03] leonardpunt opened #154 "NSP vulnerability 532"
### [REQUIRED] Step 2: Describe your environment
Any environment.

### [REQUIRED] Step 3: Describe the problem
NSP finds vulnerability [532](https://nodesecurity.io/advisories/532) in this package: `firebase-admin@5.5.1 > jsonwebtoken@7.4.3 > joi@6.10.1 > moment@2.18.1`.

Updating jsonwebtoken to 8.0.0 should fix the vulnerability.

#### Steps to reproduce:
[code]

[2017-12-12 19:14] blackxored opened #155 "FR: Ability to link accounts via admin SDK"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: macOS Sierra
  * Firebase SDK version: 5.5.1
  * Library version: N/A
  * Firebase Product: admin

### [REQUIRED] Step 3: Describe the problem

We need the ability to link a new provider to a user via the Admin SDK, this is currently not exposed.

#### Relevant Code:
[code]

[2017-12-12 19:19] bojeil-google commented on #155
The APIs you are proposing are client APIs. There is no concept of `currentUser` in the admin SDK.

If you wish to run this from the admin SDK, you can use the client node.js SDK.

[2017-12-12 21:29] AnthonyNahas opened #156 "Upload via FirbaseStorage - Issue: Firebase/Storage in the console"
## Environment

  * Operating System version:  MacOS High Sierra 10.13.2
  * Firebase SDK version: 5.5.1
  * Library version: 5.5.51
  * Firebase Product: storage

## Description:

I am using `firebase-admin` module on the server side with NodeJS in order to manage the authentication process, the storage and more.

I am facing only problem with the firebase storage product!
I am able to upload the

[2017-12-13 09:14] blackxored commented on #155
The problem is, apologies if it’s something that’s obvious but I just can’t
find it, it’s that the client SDK wouldn’t allow me to sign in with a token
that’s been generated on another client (i.e by a mobile app that passes
this token to my server).

--
Best Regards,

Adrian Perez
https://adrianperez.codes

On December 12, 2017 at 8:19:17 PM, bojeil-google (notifications@github.com)
wrote:

[2017-12-14 10:42] nivida opened #157 "FR: Function to remove all users from firebase"
* Firebase SDK version: 5.5.1
* Firebase Product: admin

## Feature Request
It would be nice to have a function like ``deleteAllUsers()`` for the Admin SDK. Currently, I'm testing a user-import that runs over the Google Cloud Functions. It's a bit annoying because I have to delete all the imported users by hand after each import for testing another dataset.

[2017-12-14 13:21] jpreynat opened #158 "FR: Improve auth.createUser to support importing users from a different service"
After migrating our app from Heroku to a fully hosted Firebase application, we need to migrate our users database and login capabilities to this new Firebase app.
However, we want our migration to be incremental, since our DB contains 400000+ users.

We have been successfully testing this approach manually with [`firebase-tools`'s `auth:import` command](https://firebase.google.com/docs/cli/auth).

[2017-12-14 17:44] bojeil-google commented on #158
Similar functionality is on our list of features to support. Stay tuned.

[2017-12-14 17:49] avishalom commented on #157
Note the existence of :
https://firebase.google.com/docs/reference/admin/node/admin.auth.Auth#listUsers
See usage in:
https://firebase.google.com/docs/auth/admin/manage-users#list_all_users
You can programmatically delete all users.

[2017-12-14 18:03] hiranya911 commented on #157
@bojeil-google wdyt? Is this something we should consider supporting? To me it sounds like a niche, and for those users who want it we can always suggest the solution mentioned by @avishalom above.

[2017-12-14 19:01] bojeil-google commented on #157
Thanks for the request. I will relay this to the Auth team. +1 to @avishalom's suggestion.
I agree with @hiranya911 that this sounds like a niche. I don't think it's a common use case. Most developers that want to delete their users would typically be deleting their project. In that case, all users are automatically deleted in the process.

[2017-12-15 03:46] Manidos opened #159 "Realtime DB events don't work when subscribed to from Admin SDK"
Operating System version: Ubuntu 16.04
Firebase SDK version: 4.8.0
Library version: 5.5.1
Node version: 7.8.0
Firebase Product: database

Hey! Yesterday my server with Admin SDK stopped working. After a little investigation it turns out that events don't fire anymore. For example, the following code neither fails or succeedes (the process is running forever). It is run on a local dev server:

[cod

[2017-12-15 04:16] Manidos commented on #159
After enabling [logging](https://firebase.google.com/docs/reference/admin/node/admin.database#.enableLogging) the cause is known -- `your server time is not properly synced`

[2017-12-15 04:16] #159 closed

[2017-12-15 07:51] nivida commented on #157
@avishalom thats my actually solution over the cloud functions
@bojeil-google yeah it is an special use case but i think that i'm not the only one with this use case. Thank you for your reply :)

[2017-12-15 13:46] phra opened #160 "exposing getters breaks mocks with es6 imports"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: linux
  * Firebase SDK version: 3.16.0
  * Library version: 5.5.1
  * Firebase Product: auth, database

### [REQUIRED] Step 3: Describe the problem

i use [this technique](https://railsware.com/blog/2017/01/10/mocking-es6-module-import-without-dependency-injection/) to mock dependencies imported via es6 imports without

[2017-12-15 13:56] phra commented on #160
a potential solution is cited here: https://stackoverflow.com/a/33169197

[2017-12-15 18:12] hiranya911 commented on #160
`spyOnProperty()` is now the recommended way to mock/stub Admin SDK namespace methods when using Jasmine. There are equivalent mocking techniques for Sinon. See #122 for a related discussion and code samples.

[2017-12-15 18:12] #160 closed

[2017-12-20 05:56] mpilalex opened #165 "Exception during save data to firestore from cloud function"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2017-12-20 19:05] hiranya911 commented on #165
Firestore and Functions teams have been investigating this. See https://groups.google.com/forum/#!msg/firebase-talk/oza-JZMtXlo/DpFGz9BHCQAJ for the ongoing discussion. Stay tuned for an update.

[2017-12-21 07:06] esprehn opened #168 "Not clear how to set channel for messaging"
There's value mentions of android_channel_id in some stackoverflow posts, but nothing in the docs or in this repo. How do you set the channel? The console has a field for it even though the API makes no mention of it.

[2017-12-22 20:00] hiranya911 commented on #168
`NotificationMessagePayload` type is defined as follows:

[code]

Since it allows arbitrary keys, I would expect that if you just add `android_channel_id` under notification, it will just work.

[2017-12-22 20:00] #168 closed

[2017-12-22 22:33] esprehn commented on #168
Can something be added to the docs? It's strange the web console has a field for this and nothing is mentioned in the docs for how to do it programmatically.

[2017-12-27 12:02] jaroki commented on #157
I'm facing the same issue, while doing test import of several thousand users. Using the admin api to  delete them, you're quickly faced with the "Exceeded quota for deleting accounts." error message. Attempting to figure out the right amount of throttling is pain in the neck.

[2017-12-27 18:44] deremer opened #169 "Admin SDK orderByChild().equalTo sometimes returns null"
Originally raised on SO at: https://stackoverflow.com/questions/47931563/admin-sdk-orderbychild-equalto-sometimes-returns-null

We have a fixed list of data where each item in the list has a display_date in a format like this...

![image](https://user-images.githubusercontent.com/772290/34390100-8ef6cbe2-eb0b-11e7-8ba1-c5f3111523d8.png)

We run a query to retrieve results that have a display_date

[2017-12-27 18:57] hiranya911 commented on #169
Database code resides at https://github.com/firebase/firebase-js-sdk. Please report this there.

[2017-12-27 18:57] #169 closed

[2018-01-04 11:15] FranciscoGileno opened #172 "Installing the npm package firebase-admin throws a 403 error on node-v59-darwin-x64.tar.gz"
* Operating System version: Mac OS High Sierra
  * Firebase SDK version: 3.16.0
  * Firebase Product: functions

Trying to install firebase-admin on my functions folder and getting a 403 error:

[code]

Anyone can help me?

Thanks.

[2018-01-04 17:46] schmidt-sebastian commented on #172
Thanks for pointing this out. We are currently looking into this.

[2018-01-04 17:51] schmidt-sebastian commented on #172
This is actually the intended behavior. GRPC 1.6.6 was not compiled for Node 9, as it predates Google's support for Node 9. We fall back to compiling GRPC from source (as you can see in your logs) and your NPM install should succeed.

[2018-01-04 17:51] #172 closed

[2018-01-05 05:57] RaedJarrar opened #173 "FR: Add device group management support to the node admin SDK"
Looks like the Admin NodeJS SDK only allows sending messages to device, group and topics. Device group management is not included though. so developers would need to use the the android APIs to do this (https://firebase.google.com/docs/cloud-messaging/android/device-group#managing-device-groups-on-the-app-server). It seems a bit fragmented, so it would be nice if the Admin SDK supports both areas

[2018-01-05 09:55] micksatana opened #174 "Unit Test: FirebaseTokenGenerator verifyIdToken failed on Node.js 8"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-01-05 17:41] hiranya911 commented on #174
We've seen this on Node 9, but not on 8 -- https://travis-ci.org/firebase/firebase-admin-node/jobs/313749376

In any case I believe it's a problem with tests/mocks rather than an actual bug. Will keep an eye on for it. If you have any suggestions as to how to fix it, please share with us.

[2018-01-05 22:04] hiranya911 commented on #156
You might have to set a few additional properties for the console to work as expected in this case. @katfang do you have any idea what's going on here?

[2018-01-06 17:06] flatirontek commented on #173
+1

[2018-01-06 20:49] dosapati opened #177 "adding firebase-admin failing npm install"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: __MAC OS___
  * Firebase SDK version: ___5.7.0__
  * Library version: _____
  * Firebase Product: _messaging____ (auth, database, storage, etc)

### [REQUIRED] Step 3: Describe the problem
npm install is failing
npm install --save firebase-admin
npm ERR! Darwin 17.3.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin

[2018-01-07 00:04] hiranya911 commented on #177
This is likely an issue in your environment (or your package.json file). Works fine in the 2 environments I tested (Mac and Linux). For instance:

[code]

[2018-01-07 00:04] #177 closed

[2018-01-07 00:32] dosapati commented on #177
this is a issue resulted due to a major incident happened at npm registry

Several Packages Missing from the Registry
--
Incident Report for npm, Inc.

Identified
--
Several packages including "require-from-string" are currently unavailable. We are aware of the issue and are working to restore the affected user and packages. Please do not attempt to republish packages, as this will hinder our prog

[2018-01-08 07:22] AnthonyNahas commented on #156
I would be really thanksful if you could provide min. an example and more info regarding this bug

[2018-01-09 00:54] #154 closed

[2018-01-09 03:25] schmidt-sebastian opened #178 "Can not access to customClaims object into firestore security rules auth.token.customProp."
Moving issue here from Firestore Node SDK: https://github.com/googleapis/nodejs-firestore/issues/97

[2018-01-09 03:37] bojeil-google commented on #178
I doubt this is a Admin SDK bug. Otherwise we would have noticed this a lot earlier.
I speculate the reporter of the bug is not refreshing the ID token before checking the Firebase security rules.

[2018-01-09 04:22] hiranya911 commented on #178
I agree. @mpilalex can you share your code for setting the custom claims, and your security rules?

[2018-01-09 05:46] githubroman commented on #178
He speak about access auth.token.customprop from security rules file of firestore

[2018-01-09 18:57] hiranya911 commented on #174
I'm going to resolve this as cannot reproduce. We regularly test on Node 8 now (#175), and CI hasn't detected any issues in unit tests for Node 8.

[2018-01-09 18:57] #174 closed

[2018-01-09 18:58] #56 closed

[2018-01-10 09:39] simenbrekken opened #179 "Differentiating between invalid and expired tokens when verifying"
### Environment

  * Operating System version: MacOS High Sierra 10.13.1 (17B1003)
  * Firebase SDK version: 5.7.0
  * Library version: 5.7.0
  * Firebase Product: auth

### Description

There's currently no robust way to detect if an id token is invalid or has expired when performing verification via `auth().verifyIdToken` other than checking if the actual `error.message` contains the string "exp

[2018-01-10 18:19] hiranya911 commented on #179
Sounds reasonable to me. @bojeil-google what do you think? Shall we introduce a new `auth/id-token-expired` error code? (we already have `auth/id-token-revoked`, so there's precedent for something like this)

[2018-01-10 18:24] bojeil-google commented on #179
In general, I think it is a good idea but I think this could be a breaking changes. Developers may be expecting the current error code for both. If we add a new error code, they would basically miss it (they won't be catching it). I suggest we keep this until the next major version bump.

[2018-01-11 07:49] simenbrekken commented on #179
While waiting for the next major version bump would it be possible as per my second suggestion to surface the original `TokenExpiredError` as `error.errorInfo.name` in the meantime?

[2018-01-11 19:59] hiranya911 commented on #179
It's going to be hard to justify an API change that will become unnecessary a few months later. What if we modify the error message (`errorInfo.message`) to some constant value for the moment?

[2018-01-13 08:42] simenbrekken commented on #179
How about `${message} (auth/id-token-expired)` so the same constant can be reused when it's introduced as a separate error type?

[2018-01-13 21:00] hiranya911 commented on #179
Yes, that sounds reasonable. @simenbrekken would you be able to give us a patch?

[2018-01-16 08:01] simenbrekken commented on #179
Certainly. I'll have a patch ready this weekend.

[2018-01-16 21:26] hiranya911 commented on #126
We don't expose this type of data cleaning operations in any of our SDKs. Different developers may wish to handle these cases differently, and there's no meaningful way to enforce a global policy in the SDK with regard to these.

[2018-01-16 21:26] #126 closed

[2018-01-16 21:28] hiranya911 commented on #153
Testing on Node 8 is now in place.

[2018-01-16 21:28] hiranya911 commented on #155
Closing this since the developer hasn't followed up. It's better to use Stackoverflow for this type of queries.

[2018-01-16 21:28] #155 closed

[2018-01-17 03:53] edjayks opened #184 "Random grpc "Stream removed" in cloud function"
### [READ] Step 1: Are you in the right place?
YES

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Firebase Cloud Function
  * Firebase SDK version: 5.8.0
  * Library version: _____
  * Firebase Product: Firestore

### [REQUIRED] Step 3: Describe the problem
Querying firestore document from cloud function sometimes results in "Stream removed" error, and the discuss

[2018-01-17 04:08] hiranya911 commented on #184
See #182

[2018-01-17 04:08] #184 closed

[2018-01-17 16:36] resmall opened #185 "Getting auth/argument-error instead of auth/user-token-expired"
### Describe your environment
  * Operating System version: Linux Mint 18
  * Firebase SDK version: 5.8.0
  * Library version: 5.8.0
  * Firebase Product: auth

### Describe the problem
#### Steps to reproduce:
When calling the `verifyIdToken(token)` function with an expired token, the exception code it throws is not the expected.
It throws a `auth/argument-error` but with the message stating that

[2018-01-17 17:57] bojeil-google commented on #185
Looks like a duplicate of https://github.com/firebase/firebase-admin-node/issues/179

[2018-01-17 18:09] hiranya911 commented on #185
Correct. Lets close this and track via #179.

[2018-01-17 18:09] #185 closed

[2018-01-18 18:48] #179 closed

[2018-01-19 22:20] lm1 opened #191 "Firestore update is broken starting 5.5.1"
Starting with firebase-admin 5.5.1 when performing an update within firestore transaction which contains both new nested fields and deletes some nested fields in the document, the new fields are silently dropped.

  * Operating System version: Win10
  * Firebase SDK version: 3.16.0
  * Library version: 5.5.1
  * Firebase Product: firestore

For example having a document which contains objects entr

[2018-01-20 06:14] hiranya911 commented on #191
@schmidt-sebastian can you take a look?

[2018-01-21 00:58] jayenashar commented on #127
in my case, the provider was firebase, though there was no provider data.  it was created anonymously using the firebase sdk.  i find it a little inconsistent that the client-side sdks lets you create/check anonymous users, but not the server-side sdks.  i'm not sure this is future-proof, but here's how i check it in java:

            return "firebase".equals(userRecord.getProviderId()) &&

[2018-01-22 05:09] bojeil-google commented on #127
I do not know what the criteria is for labeling users anonymous in the Console but I do know the criteria for the client SDK. Basically, any user that is signed in using `signInAnonymously` will be initially labeled anonymous, until a provider is added to the user's list of provider data giving the user the ability to sign back in. You could set an email, display name, photoURL and the user would

[2018-01-22 12:05] Birowsky commented on #91
@hiranya911 what is the appropriate approach to send notifications in service like AWS Lambda or Firebase Functions, where it is imperative to end all activities ASAP? Closing the calling `delete` on the firebase instance seems way less than ideal. It can easily be forgotten.

[2018-01-24 18:47] schmidt-sebastian commented on #191
Hi! Thanks for sending this over. Firebase Admin 5.5.1 pulled in Firestore 0.10.x, which contains some changes to how we process nested maps, so this issue sounds pretty scary. It does, however, not reproduce for me:

[code]

This prints the following for me on 0.10.2:

[code]

and

[code]

Can you enable logging and send us your logs? You can pass `console.log` to here: https://github.com/googlea

[2018-01-26 22:40] andrioli opened #196 "Wrong type definition for UserRecord"
### Describe your environment

  * Operating System version: any
  * Library version: 5.8.1
  * Firebase Product: admin

### Describe the problem

The types definitions of `UserRecord` is inconsistent with the [documentation](https://firebase.google.com/docs/reference/admin/node/admin.auth.UserRecord). For instance, the `displayName` and `photoUrl` may be `null` but in the interface `UserRecord` i

[2018-01-26 23:05] hiranya911 commented on #196
Those properties are always present on the object assigned to `null`. That's different from being optional. Therefore I believe the current type defs are correct.

[2018-01-26 23:14] hiranya911 commented on #153
Closing this since we have Node 8 CI set up now. We can add Node 9 in the future.

[2018-01-26 23:14] #153 closed

[2018-01-26 23:15] hiranya911 commented on #151
This is being implemented at #187

[2018-01-26 23:16] andrioli commented on #196
No, in this case the type must be union type: `string|null`

On Fri, Jan 26, 2018, 9:05 PM Hiranya Jayathilaka <notifications@github.com>
wrote:

[2018-01-26 23:18] hiranya911 commented on #102
Perhaps look into TypeScript? Our type definitions enforce this correctly:

[code]

[2018-01-26 23:19] hiranya911 commented on #93
I believe a lot of the gRPC issues are now resolved, or has known workarounds. Other issues are app or platform specific and need to be debugged independently.

[2018-01-26 23:19] #93 closed

[2018-01-26 23:31] schmidt-sebastian commented on #191
Closing this issue for now as we can't reproduce this. Please ping us should this happen again.

[2018-01-27 00:23] andrioli commented on #196
And this is not true, with the following code I can generate `undefined` values by simply creating an user direct from firebase console admin.

[code]

Generated logs:
<img width="619" alt="screen shot 2018-01-26 at 10 19 14 pm" src="https://user-images.githubusercontent.com/499182/35465969-10b9ba52-02e7-11e8-9bea-1c0861da0773.png">

So I think this issue can be reopened.

[2018-01-27 00:49] hiranya911 commented on #196
Fair enough. Over to @bojeil-google for a resolution. What should be the right behavior here. Other Admin SDKs (Java, Python etc) return `null` values here. But those languages also don't have a notion of `undefined`.

[2018-01-27 01:26] bojeil-google commented on #196
We currently set these directly from the raw JSON response:
https://github.com/firebase/firebase-admin-node/blob/master/src/auth/user-record.ts#L164

Hence why they are undefined.

We could OR that to null to be consistent with the documentation and the client SDK: https://firebase.google.com/docs/reference/js/firebase.UserInfo#displayName

If we do this, the types would be string | null.

The iss

[2018-01-27 14:55] lm1 commented on #191
The same testcase fails for me when using deletion sentinels in place of empty object literals, i.e.:
[code]
this produces:
[code]
and

`{ users: {}, entries: {} }`

Please re-open.

[2018-01-29 15:45] Ziph0n commented on #191
I'm also facing this issue

My database structure:

[code]

If I'm running this:

[code]

The "new" database structure is:

[code]

I'm using firebase-admin 5.8.1

[2018-01-29 15:50] lm1 commented on #191
@Ziph0n I think this behavior is actually expected, use `{ ['data.pro.subscribed']: false }` for nested field update.
I'm only seeing the issue with deletion sentinel in play.

[2018-01-29 16:10] Ziph0n commented on #191
@lm1 Indeed, thank you.

The Firebase team might want to update their documentation. They indeed mention the "dot notation"  but isn't present in the example below: https://firebase.google.com/docs/firestore/manage-data/add-data#update_fields_in_nested_objects

[2018-01-29 17:36] ofrobots commented on #153
Is there rationale for not starting to test against Node 9 immediately? Node 9 is the "current" version of Node, and as you can see from the [charts here](https://nodesource.com/node-by-numbers), Node 9 is already has significant usage.

Either way, I don't believe you've adequately addressed the original issue I opened that requested testing on both 8.x and 9.x. Either this bug should be reopened

[2018-01-29 18:53] degroote22 commented on #132
I'd love to be able to continue to use my existing validation rules on the server.
It really helps me on keeping the database consistent and monomorphic...
I guess that validation based only on the data format is not possible without also taking into account authentication rules and permissions, right?
Do you guys have any news to share with us? Thanks.

[2018-01-29 19:15] mcdonamp commented on #132
@degroote22 this is still a topic in active discussion, see https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/google-cloud-firestore-discuss/GYROSnxlKro/XZeejWfPAwAJ for some more thoughts.

[2018-01-29 19:25] jshcrowthe commented on #144
I am probably the wrong guy for the "why?" question here. I'll reassign to @schmidt-sebastian who can probably give us a better clue of what is going on.

[2018-01-29 22:45] schmidt-sebastian commented on #191
It's part of the update call to update the value of the field `favorites.color`.

[2018-01-30 00:03] #191 closed

[2018-02-02 12:01] rhodgkins commented on #45
@bojeil-google it would also be great if when this gets implemented its also included in the `updateUser` function too. It would be create if we could add providers to an existing user (as far as I'm aware currently only available on the client side SDK)!

[2018-02-03 21:02] ezos86 commented on #144
@stevejcox
I notice this too. If I push a null value into a location. I don't get a .catch(function(error)} - even though firebase couldn't make the insert into the DB. in the browser, it would return a console error, but the node SDK just treats the .then not a .catch.

[2018-02-08 17:20] soryy708 opened #204 "Deleting a file from firebase storage"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-02-08 19:14] hiranya911 commented on #204
There's no `refFromURL()` method on Bucket. Here are the API docs: https://cloud.google.com/nodejs/docs/reference/storage/1.5.x/Bucket

Here's a delete example from our tests: https://github.com/firebase/firebase-admin-node/blob/master/test/integration/storage.spec.ts#L60

[2018-02-08 19:14] #204 closed

[2018-02-09 05:22] mikeal opened #205 "CreateCustomToken() in Cloud Functions"
I'm not actually sure if this is a feature request or something that I can do given some kind of special configuration of the admin in Cloud Functions.

By default, when I try to use the admin in Cloud Functions to CreateCustomToken() I get:

[code]

If there is a way to make this work today I'd love to do it. If not, consider this a feature request :)

[2018-02-09 19:07] hiranya911 commented on #205
You can make it work by shipping a service account credential with your function and using it when calling `admin.initializeApp()`. There's a long standing feature request to support this feature without explicit service accounts.

[2018-02-09 19:09] hiranya911 commented on #205
Official sample: https://github.com/firebase/functions-samples/blob/master/username-password-auth/functions/index.js#L91

[2018-02-09 19:09] #205 closed

[2018-02-12 11:01] THPubs opened #207 "There are 3 vulnerable dependencies according to nsp"
Hi, this package has three vulnerable dependencies according to nsp. Namely, `mime`, `request` and `hawk` which come from the packages `@google-cloud/storage@1.5.2`. Please check and update them.

[2018-02-12 11:02] THPubs commented on #207
Reported in the `@google-cloud/storage` package: https://github.com/googleapis/nodejs-storage/issues/134 . Please update this package when they fix the issue.

[2018-02-12 17:47] bojeil-google commented on #158
It's in the pipeline. A few things came up like refresh token revocation which was higher priority for security reasons.

[2018-02-13 02:37] shadow1349 commented on #105
@hiranya911
This still doesn't work for me. I can't deploy to EB if I have firebase-admin greater than 4.2.1

I have to use firestore for my project, are there any workarounds?

[2018-02-13 03:09] rtkhanas commented on #105
@shadow1349 I switched from NPM to yarn on EB and it works great now.

[2018-02-13 03:13] shadow1349 commented on #105
@rtkhanas I'm afraid I can't switch my whole company over to yarn

[2018-02-13 03:49] rtkhanas commented on #105
@shadow1349 anyway the problems looks like NPM is installing some dependencies to a wrong folder on AWS. Maybe, not really related to firebase-admin-node, but more to NPM itself.

[2018-02-13 12:17] bgordon-incomm opened #208 "."
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-02-13 12:17] #208 closed

[2018-02-13 23:00] THPubs commented on #207
The package `@google-cloud/storage` has been updated with new dependencies! Can you please update yours to include the latest version of it?

[2018-02-14 02:13] hiranya911 commented on #207
Cutting too close to the release currently in progress. Will include in the following patch release.

[2018-02-14 05:33] THPubs commented on #207
@hiranya911 Great thnaks!

[2018-02-14 19:16] mandisaw commented on #173
+1 This would also allow users to drop the legacy server API altogether (and long-lived auth keys).

[2018-02-14 21:55] nicoqh commented on #173
Is device group management even supported by the new v1 protocol? I can't find any references to it.

* "Basic management of device groups [...] is usually performed via the app server. See the legacy HTTP protocol reference for a list of supported keys." [source](https://firebase.google.com/docs/cloud-messaging/js/device-group)
* "Using the FCM app server protocols, you can build message requests

[2018-02-14 22:15] hiranya911 commented on #151
This is available with the new `messaging.send()` method that was released today: https://github.com/firebase/firebase-admin-node/releases/tag/v5.9.0

[2018-02-14 22:15] #151 closed

[2018-02-17 23:08] eudago opened #210 "what's happen with signInWithEmailAndPassword?"
Why delete method signInWithEmailAndPassword, is not possible sign in with a nodejs server?

[2018-02-17 23:12] bojeil-google commented on #210
`signInWithEmailAndPassword` was never supported in the Admin SDK. You would need to use the `firebase` client library in order to do so.

[2018-02-17 23:16] eudago commented on #210
And use two dependences only for one feature?

[code]

[2018-02-17 23:25] bojeil-google commented on #210
Please explain your use case. If you just want to sign in a user. You should just stick to the client SDK.

Firebase Admin SDK has no sign-in APIs and is meant for user management and administrative purposes. The client API is designed for the former.

[2018-02-17 23:35] eudago commented on #210
I will create a api (/login aka /signin) because I use the firebase only on the server.

My only solution is use firebase web sdk in my nodejs server?

[2018-02-18 02:48] hiranya911 commented on #210
Admin SDKs are used to implement privileged server-side use cases, and therefore do not support client authentication operations. You should use the Web SDK, and get your end users to authenticate directly from their web browsers (Node.js server is not required for this). If you wish to execute some privileged operation on your Node.js server on behalf of an end user, you can get them to send thei

[2018-02-18 09:53] #210 closed

[2018-02-19 19:19] LanceSamaria opened #211 "Firebase and Firebase-admin Modules won't let me access the .auth() object on them to use the accompanying methods"
**Describe your environment:**
-2011 Macbook Pro
-OS High Sierra v10.13.3
-Sublime Version 3.0, Build 3143
-Node 7.8.0
-Firebase package v4.6.0
-Firebase-admin package v5.4.3
-Firebase Database, Firebase Storage

First let me say that I contacted the Firebase Technical Support team https://firebase.google.com/support/contact/troubleshooting/ about this issue and I also posted a question on Stackov

[2018-02-19 23:11] avishalom commented on #211
Have a look at https://firebase.google.com/docs/admin/setup
and https://firebase.google.com/docs/auth/admin/create-custom-tokens#create_custom_tokens_using_the_firebase_admin_sdk

for `createCustomToken()`

As for the client part, did you try `signInWithCustomToken()` ?

(You can also have a look at how this is used in the integration tests) in https://github.com/firebase/firebase-admin-node.

[2018-02-20 00:26] hiranya911 commented on #211
`firebase-admin` exports the `auth()` function as you would expect:  https://github.com/firebase/firebase-admin-node/blob/master/src/index.d.ts#L57

See how it's been used in our integration tests to create custom tokens: https://github.com/firebase/firebase-admin-node/blob/master/test/integration/auth.spec.ts#L281

It also shows up in IDE suggestions as far as I can tell (tested with latest VS Co

[2018-02-20 00:26] #211 closed

[2018-02-20 01:40] LanceSamaria commented on #211
@hiranya911 someone else on SO suggested VSCode. I haven't used that before nut I'm watching some tutorials now. If I understand you correctly even though .auth() doesn't appear on the auto complete when using Sublime 3, I can still go ahead and use .auth() with the methods I need by manually typing it and them and they will still work?

[2018-02-20 01:51] hiranya911 commented on #211
@LanceSamaria yes, it will work. You can also check the installed JS files to verify this. For example I see the following in my `node_modules/firebase-admin/lib/firebase-namespace.js` file:

[code]

This means the `auth()` function exists in the installed Admin SDK library. If you get any runtime errors, report them back here and we can take a look.

[2018-02-20 02:28] LanceSamaria commented on #211
@hiranya911 Thank you very much. Everything is working fine now. Enjoy your day! :)

[2018-02-22 23:24] erichiggins commented on #157
I ran into this same issue this week when writing a cron job to delete inactive anonymous users.

It'd be useful for the Admin SDK to provide bulk-action methods for tasks like deleting multiple users.  Even in the Firebase function samples, you can see [an example of the complexity that developers are forced to implement](https://github.com/firebase/functions-samples/blob/master/delete-unused-acc

[2018-02-22 23:36] bojeil-google commented on #157
Acknowledged, your concerns are valid. We have plans to provide a bulk delete API.

[2018-02-23 14:52] pimatco commented on #177
Not working, I'm having the same problem

[2018-02-23 22:49] #207 closed

[2018-02-26 17:26] JuergenSimon opened #215 "TypeError: Cannot assign to read only property 'toJSON' of object 'Error'"
* Operating System version: macos 10.12.6, Node 9.5.0
  * Firebase SDK version: 5.9.0
  * Library version: 4.10.1
  * Firebase Product: admin (auth, database, storage, etc)

### [REQUIRED] Step 3: Describe the problem
Installed firebase-admin using instructions here: https://www.npmjs.com/package/firebase-admin
Added firebase-admin to a module as instructed using:
[code]

in a module in a loopback

[2018-02-26 18:23] hiranya911 commented on #215
What happens if you try this without loopback?

[2018-02-26 18:27] JuergenSimon commented on #215
Sorry, that does not compute. This is a loopback application (basically it's a express application). I can't just run the car without the motor.

[2018-02-26 18:29] hiranya911 commented on #215
Try it without loopback to see if it's a loopback-specific issue.

[2018-02-26 19:10] #134 closed

[2018-02-27 11:53] eddieajau opened #217 "nsp advises prototype pollution attack vulnerability in the `hoek` dependency"
### [READ] Step 1: Are you in the right place?

Yes

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: OSX 10.12.6
  * Firebase SDK version: 5.9.0
  * Library version: ??
  * Firebase Product: ??

### [REQUIRED] Step 3: Describe the problem

nsp alerts a Prototype pollution attack  vulnerability in the `hoek` dependency.

See https://nodesecurity.io/advisories/566

##

[2018-02-27 12:55] JuergenSimon commented on #215
Alright, so I tried this simply (in an extra file):

[code]

And I got no exception.

[2018-03-02 11:09] jesperlandmer opened #222 "no such file or directory, open '...grpc/node_modules/dashdash/node_modules/assert-plus/package.json.3046197349'"
### [REQUIRED] Step 2: Describe your environment

  * Environment: Vagrant 1.8.6
  * Platform: Node.js 8.9.4
  * Firebase SDK version: 5.8.1
  * Library version: NPM
  * Firebase Product: functions

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Setted up the functions directory like this:

`$ firebase init functions`
`$ cd functions`

Installed the dependencies (i.e. fireb

[2018-03-04 14:43] christopherread commented on #178
Hello, I am also having trouble accessing my customClaims in my Cloud Firestore rules. The claims are being set, but `request.auth.token` doesn't have them when accessed inside my Firestore rules. The Firestore rules are difficult to debug, so I am not sure what I am doing wrong.

Firebase Function setting the claim:
[code]

Example Firestore rule function:
[code]

[2018-03-04 14:53] christopherread commented on #178
Ignore me, it does work, I just had to log my user out and then in again!

[2018-03-04 18:10] bojeil-google commented on #178
Forcing token refresh should suffice, after you the custom claims are set. In web: `firebase.auth().currentUser.getIdToken(true)`.

[2018-03-04 19:19] dgadelha opened #223 "FR: Shallow Support"
### Environment

  * Operating System version: Google Cloud Functions
  * Library version: 5.9.1
  * Firebase Product: Database

### Description

Is there any way we can implement `shallow` in Database Admin Node.js SDK for usage with `.ref(ref).once('value')`?

### Relevant Links:

https://firebase.google.com/docs/database/rest/retrieve-data#shallow

https://github.com/firebase/firebase-admin-pyt

[2018-03-05 19:11] hiranya911 commented on #223
This cannot be supported on the websocket interface as far as I know. You can follow up at https://github.com/firebase/firebase-js-sdk where the RTDB client code is developed, but the answer is most likely no.

[2018-03-05 19:11] #223 closed

[2018-03-05 23:10] Shashaness commented on #121
OS X 10.12.x

1) sudo rm -rf /usr/local/lib/node_modules
2) Install Stable Node.js from https://nodejs.org/dist/v8.9.4/node-v8.9.4.pkg
3) sudo npm install --unsafe-perm -g firebase-tools
4) firebase init <setup a new firebase deployment with functions and hosting)
5) firebase serve --only functions,hosting

The key for me was to completely delete node_modules directory from /usr/local/lib, and rei

[2018-03-07 02:11] manishtpatel opened #224 "FR: support createCustomToken using default google credentials"
Firebase functions need custom credentials to use createCustomToken() for now. Looks like a missing functionality, we need to manage different credentials for each environment just to use createCustomToken(). There is no reason to not support createCustomToken() using default google credentials.

[2018-03-07 02:13] manishtpatel commented on #224
In a second thought could be encryption of the token issue with different credentials.

[2018-03-07 02:18] hiranya911 commented on #224
@manishtpatel This is in our roadmap. Can't provide a specific timeline yet, but please know that this is definitely something we wish to support.

[2018-03-08 14:54] yoiang opened #225 "Updatable node-forge 0.7.1 dependency has noted ReDOS vulnerability"
* Firebase SDK version: <5.0.0 - 5.9.1

`node-forge`, a dependency of `firebase-admin` and other Firebase libraries, has a reported ReDOS vulnerability reported February 15, 2018 and described here: https://github.com/digitalbazaar/forge/issues/563

As mentioned in the issue this vulnerability has been fixed in `node-forge@0.7.4`.

[2018-03-12 10:07] enricribas opened #228 "Deploy issues, syntax errors in firebase-admin?"
### [READ] Step 1: Are you in the right place?

I think so.

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: _?_the web?___
  * Firebase SDK version: _____
  * Library version: _5.8.2____
  * Firebase Product: n/a_____ (auth, database, storage, etc)

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

firebase deploy --only functions -P production

[2018-03-12 10:59] evenmatrix commented on #228
Same issue here after function is deployed and tried to be executed :

"firebase-admin": "^5.8.2",

/user_code/node_modules/firebase-admin/node_modules/sntp/lib/index.js:19
exports.time = async function (options = {}) {
                     ^^^^^^^^

SyntaxError: Unexpected token function
    at createScript (vm.js:56:10)
    at Object.runInThisContext (vm.js:97:10)
    at Module._compile (module.

[2018-03-12 13:20] ykolomiets opened #229 "FR: replace instanceof Array with Array.isArray"
https://github.com/metarhia/impress/issues/805

[2018-03-12 16:54] hiranya911 commented on #229
Sounds reasonable. Will try to get it done for the next release.

[2018-03-12 17:25] hiranya911 commented on #228
What version of NPM are you using? Can you also try `npm ls sntp` and share the output? Here's what I get (for the given `package.json`):

[code]

According to this sntp and hawk are dependencies for `sendgrid` and not `firebase-admin`. However, in this case NPM installed the latest version (5.10.0) of `firebase-admin` in my project. This is because your `package.json` specifies the dependency as

[2018-03-13 09:15] enricribas commented on #228
Thank you, I apologize, seems the issue is with sendgrid. I removed 'sendgrid' and left 'sendgrid/@mail' and was able to deploy to firebase.

I wonder if @hiranya911 is also using sendgrid?

[2018-03-13 15:47] enricribas commented on #228
ok, closing, removing sendgrid solved my problem.

[2018-03-13 15:47] #228 closed

[2018-03-13 21:46] ryanpbrewster opened #230 "Release 5.10.0 changed behavior of admin.database.enableLogging(true)"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: linux
  * Firebase SDK version: v5.10.0
  * Firebase Product: database

### [REQUIRED] Step 3: Describe the problem

In release v5.9.1, `admin.database.enableLogging(true)` enables logging messages for the database websocket connection. In release v5.10.0 this no longer works.

#### Steps to reproduce:

[code]

In v5.9

[2018-03-13 22:11] hiranya911 commented on #230
@schmidt-sebastian did something change in the latest RTDB code?

[2018-03-13 22:29] schmidt-sebastian commented on #230
We changed the underlying logging framework with https://github.com/firebase/firebase-js-sdk/pull/473

We will look into these missing logs.

[2018-03-14 21:23] #230 closed

[2018-03-16 17:18] bojeil-google commented on #158
Hey folks, this was released yesterday:
https://github.com/firebase/firebase-admin-node/releases/tag/v5.11.0
The guide is located here:
https://firebase.google.com/docs/auth/admin/import-users

[2018-03-16 17:19] #158 closed

[2018-03-16 17:20] bojeil-google commented on #45
Hey folks, the `importUsers` API was released yesterday:
https://github.com/firebase/firebase-admin-node/releases/tag/v5.11.0
The guide is located here:
https://firebase.google.com/docs/auth/admin/import-users

[2018-03-16 17:20] #45 closed

[2018-03-19 22:13] pontius-g commented on #144
When we use .catch() for .push() - SDK tells we're wrong!
When we don't - debugger tells - we didn't .catch() an error from Promise!
Think, it's better for push() to become a promise...
Or please, offer more elegant suggestion.

[2018-03-20 02:28] fantapop opened #235 "New Messaging api doesn't support condition topic negation"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-03-20 03:21] hiranya911 commented on #235
Seems to be a problem with the backend API. I can reproduce it with the HTTP API directly. I've notified the FCM team.

[2018-03-20 17:58] schmidt-sebastian commented on #144
The ES6 type definition for PromiseLike is as follows:

[code]

This is a little hard to read, but it basically states that you can register an error callback as the second argument to your .then() callback. You can try something like this:

[code]

Note that the RTDB JS SDK uses PromiseLike in some cases to keep backwards compatibility.

[2018-03-20 21:21] pontius-g commented on #144
Thanks a lot, my bad to not following a reference.
I'll try your solution instead of "temporary .push() replacement" - .set(this.db.createPushId(), data)

[2018-03-25 16:02] pmosconi opened #238 "FR: Reduce npm module size"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: any
  * Firebase SDK version: 5.11.0
  * Library version: 5.11.0
  * Firebase Product: auth (auth, database, storage, etc)

### [REQUIRED] Step 3: Describe the problem

I recently migrated firebase-admin from version 4.x to 5.x and found a huge size increase in the modules that are installed: they are now around 100MB

[2018-03-25 18:10] ibrahimduran opened #239 "FR: export as namespace admin; in declaration file"
I've been trying to use admin.auth.DecodedIdToken in my global declaration file but I've found out that [`export = admin`](https://github.com/firebase/firebase-admin-node/blob/master/src/index.d.ts#L581) only exports types in `admin` without nested namespaces. I did a quick research and learned that `export as namespace admin;` can be used to whole namespace.

Is there any particular reason for no

[2018-03-26 17:22] #229 closed

[2018-03-26 22:39] hiranya911 commented on #217
Cannot fix this at this level, since the dependency is coming through Firestore/gRPC. We are already using the latest available versions of those dependencies:

[code]

I'd recommend reporting this at https://github.com/grpc/grpc-node. They can probably fix this by simply bumping their hawk dependency to something more recent.

[2018-03-26 22:39] #217 closed

[2018-03-26 22:53] ibrahimduran commented on #239
I need to extend Express Request object to support user property on authenticated requests but currently DecodedIdToken interface is not accessible in a declaration file.

my_typing.d.ts
[code]

[2018-03-26 23:00] hiranya911 commented on #239
Following seems to work for me (at least my IDE is happy with it):

[code]

[2018-03-26 23:26] #144 closed

[2018-03-27 07:54] ibrahimduran commented on #239
VSCode also does not complain about it but I think it's because using top-level import statements causes a file to be treated as a source file. So as I know it's not possible to import from module in a global declaration file, in such case it breaks the whole declaration.

Compiler throws `Property 'user' does not exists on type 'Request'.` error for code above.

[2018-03-27 17:14] acanimal opened #241 "Using sendSignInLinkToEmail on the server side"
Hi,
I'm working on an app that uses email-link to log users and a custom NodeJS API to work with some data.

The problem is we have the need to use `auth.sendSignInLinkToEmail` on the server side, once we have checked some parameters stored on DB.

Is there any way to run `auth.sendSignInLinkToEmail` on NodeJS like in the firebase client SDK?

[2018-03-27 17:17] bojeil-google commented on #241
No there is not. You will need to include the client library to send the email from a server environment.

[2018-03-27 18:35] acanimal commented on #241
Thanks

[2018-03-27 18:35] #241 closed

[2018-03-27 20:20] #225 closed

[2018-03-27 23:27] diegofrata opened #242 "FR: Search users by name or email address"
I'd love to be able to search users by their display name or part of a display name, but I also can't see any reason not to allow the search to be done by email address (eg. finding all users with a gmail.com email).

Right now my only option is to list all users and do the work manually. It's wasteful and won't scale. Ultimately it would also be worth to be able to perform simple queries such as

[2018-03-27 23:53] hiranya911 commented on #239
We use imports in our typings file: https://github.com/firebase/firebase-admin-node/blob/master/src/index.d.ts#L17

[2018-03-28 09:21] ibrahimduran commented on #239
Yes, I'm aware of that import statements are used in modules declaration files. As I said:

By source file what I really mean is module file. Module files have their own scope and have to be directly imported to use them as said in [Microsoft/TypeScript#5506](https://github.com/Microsoft/TypeScript/issues/5506#issuecomment-153254151).

What I'm really trying to achieve here is extend the Express.R

[2018-03-28 09:24] pmosconi commented on #238
Thanks, unfortunately @google-cloud/firestore saves me only 500KB.

[2018-03-28 15:14] deremer opened #243 "FR: idempotency_key for messaging.send()"
### Describe your environment
`"firebase-admin": "~5.11.0"`
We use RTDB, Auth, Analytics, Storage, Messaging, PubSub

### Describe the problem
It'd be useful if the messaging() product could include an `idempotency_key` for a message we wish to send to a user.

We use Firebase Functions to respond to RTDB events to send push notifications to users. Occasionally, we receive an error from the FCM se

[2018-03-28 16:56] hiranya911 commented on #238
If `grpc` and `google-gax` are installed at top-level you can remove them too. In general you can remove the following if you're not using Firestore or GCS:

[code]

[2018-03-28 17:06] hiranya911 commented on #243
I filed this as a feature request for the FCM team internally. Thanks for the feature request.

[2018-03-28 17:06] #243 closed

[2018-03-28 17:09] hiranya911 commented on #243
Btw, also look at collapsible messages support available for Android and APNS: https://firebase.google.com/docs/cloud-messaging/concept-options#delivery_options

[2018-03-28 17:54] deremer commented on #243
Thanks! That actually will help for some of our user cases and we’ll look to implement it!

Unfortunately I don’t think it’d fix the scenario where a cloud function is retrying indefinitely…

Thanks for your help on this!

Cheers,
David

--- 
David DeRemer

PHONE: +1 (646) 801-6385
WEB:  https://goposse.com ( https://goposse.com/ )
BLOG:  https://blog.goposse.com ( https://blog.goposse.com/ ) 

IN

[2018-03-29 15:55] pmosconi commented on #238
Much better now, thanks for your help.

[2018-03-29 15:55] #238 closed

[2018-03-31 04:37] soumak77 commented on #81
@CoreyCole You can try out this library which I maintain: https://github.com/soumak77/firebase-mock

It supports all your needs for mocking your use case including authentication, firebase http functions, tokens, and more

[2018-04-03 16:45] kumarkeviv opened #247 "Firebase AdminSDK in AWS Lambda (module initialisation error: Error)"
### Describe your environment

  * Operating System version: AWS Lambda
  * Firebase SDK version: 5.11.0
  * Firebase Product: Firestore

### Describe the problem
I have been trying to connect my lambda function with Firestore DB using Admin SDK but its throwing error "module initialisation error: Error"

Its clearly an issue with Firesbase admin sdk, as every-time I comment this component, the re

[2018-04-03 16:54] hiranya911 commented on #247
Are you using Docker to deploy your function?

[2018-04-03 17:16] kumarkeviv commented on #247
No, I am installing the dependency in local folder along with my code. Later uploading the zipped folder to lambda function via console.

[2018-04-03 17:51] hiranya911 commented on #247
You have to use Docker to use Firestore clients in AWS Lambda: https://medium.com/@samstern_58566/how-to-use-cloud-firestore-on-aws-lambda-4bf6d3a473d9

[2018-04-03 17:51] #247 closed

[2018-04-03 19:31] rwmb commented on #46
I have the latest version of the admin sdk but I don't see this feature implemented. Do we still have to login as the user in order to send the verification?
If so, I couldn't find a solution or reason for this issue to be closed.
Thanks a lot.

[2018-04-03 19:34] hiranya911 commented on #46
This issue is not closed.

[2018-04-03 19:47] rwmb commented on #46
Oh ok, my bad. I saw the reference and mistaken it for an action in this issue.
Thank you @hiranya911
So +1 for this feature 👍

[2018-04-04 07:13] acanimal commented on #242
The alternative I follow is store some user information in firebase database to allow better searches.

[2018-04-05 10:34] tfonfara opened #248 "Planned v5.12.0 release"
Hi @hiranya911,

when did you plan to release v5.12.0 of the SDK? I'm really looking forward to it because of the changes in your recent pr https://github.com/firebase/firebase-admin-node/pull/236 😊

Cheers

[2018-04-05 17:06] hiranya911 commented on #238
`firebase-admin` has always been a dependency for the Cloud Functions for Firebase SDK. There's no module re-install cost in GCF, and I believe the same applies for AWS. Although AWS have other constraints that need to be worked around: https://medium.com/@samstern_58566/how-to-use-cloud-firestore-on-aws-lambda-4bf6d3a473d9

[2018-04-05 17:52] hiranya911 commented on #248
@tfonfara This just went out: https://firebase.google.com/support/release-notes/admin/node#5.12.0

[2018-04-05 17:52] #248 closed

[2018-04-05 18:58] MerryOscar commented on #238
Ok thanks for clarifying yeah I managed to get Firestore working on Lambda. I'll give Firebase Cloud Functions a try and see if I can eliminate the timeouts.

[2018-04-06 00:14] zgosalvez opened #250 "UNMET PEER DEPENDENCY"
* Operating System version: OSX 10.13.4, Node 6.11.5
  * Firebase SDK version: 4.12.1
  * Library version: 5.12.0
  * Firebase Product: firebase-functions

Upgrade to firebase-admin 5.12.0 in package.json. Then run `npm install`.

[code]

[2018-04-06 00:24] hiranya911 commented on #250
As you can see the firebase-functions has a dependency on `firebase-admin@~5.11.0`. Which means it won't work with 5.12.0. You should stick to 5.11.0. Report this at https://github.com/firebase/firebase-functions if you wish to follow up further, but there's nothing we can do in `firebase-admin` to resolve this.

[2018-04-06 00:24] #250 closed

[2018-04-06 09:56] alixaxel opened #251 ""failed to parse app options file" on admin.initializeApp()"
### Environment

  * Operating System: Ubuntu 14.04 LTS
  * Firebase SDK: 5.11.0
  * Library: 1.0.0
  * Firebase Product: SDK / Cloud Functions

### Problem

After upgrading to Firebase Functions 1.0.0 as described in the [migration guide](https://firebase.google.com/docs/functions/beta-v1-diff), and migrating the way `admin.initializeApp()` is called, the project no longer deploys correctly.

See

[2018-04-06 10:04] alixaxel commented on #251
Solved by downgrading `firebase-tools`: https://github.com/firebase/firebase-tools/issues/725#issuecomment-379171518.

[2018-04-06 10:04] #251 closed

[2018-04-06 14:25] kumarkeviv commented on #247
Hi @hiranya911

Thanks for the quick response, I am trying to use the suggested solution but it doesn't seems to be working.

Every-time, I follow the steps  listed in blog, its resulting in empty node_modules folder, even though the code executes properly.

Also I tried to directly import the package as you mentioned here in #104
"I've published an RC at https://storage.googleapis.com/firebase-ad

[2018-04-06 16:42] ndkcha opened #252 "firebase-admin 5.12.0 fails to compile with tsc"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: OSX 10.11.3
  * Firebase SDK version: 5.12.0
  * Library version: _____
  * Firebase Product: firebase-admin for node.js (auth, database, storage, etc)

### [REQUIRED]

[2018-04-06 17:05] hiranya911 commented on #252
Compiles fine for me. Make sure GCS typings (`@types/google-cloud__storage` package) are installed and visible to tsc. That is the `typeRoots` are defined correctly in the project config.

[2018-04-06 17:05] #252 closed

[2018-04-06 17:15] ndkcha commented on #252
I have `@types/google-cloud_storage` package installed. and here is my tsconfig file.
Can you check if it is correct or not?

![screen shot 2018-04-06 at 1 11 50 pm](https://user-images.githubusercontent.com/8328240/38434440-561500fc-399c-11e8-863d-bd326d6fda7f.png)

[2018-04-06 17:35] rwpino commented on #252
I have the same issue

[2018-04-06 18:03] hiranya911 commented on #252
You have specified `types` in the config. This means only `reflect-metadata` types are visible to the compiler.

See https://www.typescriptlang.org/docs/handbook/tsconfig-json.html

[code]

[2018-04-06 18:10] ndkcha commented on #252
Even when i add,`
"types": [
            "reflect-metadata",
            "google-cloud__storage"
        ],
` it returns me the same error.

[2018-04-06 20:29] rwpino commented on #252
I add

[code]

to my package.json with the firebase-admin

`"firebase-admin": "^5.12.0",`

and I m having the same issue,

my tsconfig look like

[code]

in the typescript website says if you don't include _typeRoots_  parameter the @types will be added automatically

[2018-04-08 15:13] perqin opened #253 "FR:Support proxy for local testing"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: `Linux archlinux 4.15.15-1-ARCH #1 SMP PREEMPT Sat Mar 31 23:59:25 UTC 2018 x86_64 GNU/Linux`
  * Library version: 5.12.0
  * Firebase Product: Cloud Messaging

### [REQUIRED] Step 3: Describe the problem

My local computer is behind proxy so the Node.js Admin SDK can't send the request to FCM server. It will be great

[2018-04-08 15:29] pantos27 opened #254 "Initialiaze from FIREBASE_CONFIG environment variable"
Can you give an example of the data that should be in the FIREBASE_CONFIG environment variable when calling initializeApp
I see that there should be an object in the 'credential' property
But it also checks for a method called 'getAccessToken'

**firebase-app.js:203**
[code]

How can I create this method through the environment variable string?

[2018-04-08 17:49] xfernandez opened #255 "The uid must be a non-empty string with at most 128 characters ."
I am in a node.js project and I am trying to use the new ImportUsers account in order to add users signing up using Facebook.

Now the error that returns the method it's: The uid must be a non-empty string with at most 128 characters.

Then I understand that the uid that I am generating is not good. Then... I am asking for a quick advice, to understand if I have to generate any 128 character uuid

[2018-04-08 18:39] hiranya911 commented on #255
@xfernandez There's no built-in method for generating UIDs. You can generate them in anyway you like.

Please use Stackoverflow for usage questions such as this. Use the GitHub repos for bug reports and other questions directly related to the SDK code.

[2018-04-08 18:39] #255 closed

[2018-04-08 18:41] hiranya911 commented on #254
You cannot set credential via `FIREBASE_CONFIG`. It is for setting other Firebase options (databaseURL, projectId etc). SDK will resort to using Application Default Credentials when initialized in this manner.

You can find some detailed info at https://medium.com/google-cloud/firebase-separating-configuration-from-code-in-admin-sdk-d2bcd2e87de6

[2018-04-08 18:41] #254 closed

[2018-04-09 11:00] mkozl opened #256 "RegExp fail for FB profile picture URL in validator.isURL"
#### System

  * Operating System version: any
  * Library version: 5.11.0
  * Firebase Product: auth

#### Steps to reproduce:

Create new user account with photoURL:  'https://lookaside.facebook.com/platform/profilepic/?asid=1573869239329573&height=100&width=100&ext=1523514938&hash=AeRYcBMjHUJiXvR4'

#### Code:

[code]

#### Error:
[code]

#### Additional info

I'm working on service with Fireba

[2018-04-09 11:50] kumarkeviv commented on #247
@hiranya911 adding more asset and error log.

`Unable to import module 'index': Error
at Function.Module._resolveFilename (module.js:469:15)
at Function.Module._load (module.js:417:25)
at Module.require (module.js:497:17)
at require (internal/module.js:20:19)
at Object.<anonymous> (/var/task/index.js:4:22)
at Module._compile (module.js:570:32)
at Object.Module._extensions..js (module.js:579:10)
at

[2018-04-09 14:24] romanmen opened #257 "FR: Transaction Set/Create document issue"
Hi,

My project is uses in node js code that using firebase-admin package.
According to business logic of my project I need use in transaction set mechanism of firestore but I can't receive the WriteResult of firestore like in the regular (non transaction) set.
Regular Set returns Promise with Write Time value.

I needs same value from firestore by transaction.set.

Can some one help me how can I

[2018-04-09 16:47] hiranya911 commented on #257
What exactly are you trying to do? It is not normal to access the write result of a transaction from within the same transaction. This is not usually available since the transaction commits all writes at the end in one atomic operation.

[2018-04-09 16:49] hiranya911 commented on #247
What's in your package.json?

[2018-04-09 17:39] bojeil-google commented on #256
I tested with 5.12.0 and couldn't replicate this. Please upgrade to the latest version and try again.

[2018-04-09 17:41] kumarkeviv commented on #247
I am trying to use Firebase admin for my Alexa app.
So, my final package.json is like:

[2018-04-09 18:01] bojeil-google commented on #256
I tested both and both work in the latest version. There was some issue with that validation which I fixed before the 5.12.0 release. I think that may be the cause.

[2018-04-09 18:11] hiranya911 commented on #256
You're indeed right. My working copy was out of sync. It works fine on the latest master (and also 5.12.0):

[code]

[2018-04-09 18:11] #256 closed

[2018-04-09 18:39] mkozl commented on #256
On version 5.12 works fine.

My bad. I didn't check releases before posting issue.

Thanks for help.

[2018-04-11 04:11] romanmen commented on #257
I want to measure the real time (without network issues) of writing documents to firestore, because I need the firestore's real time of written document. The clock on my machine is different from firestore's clock, so I need measure according to firestore's time.
Basically, my business logic requires to achieve the storage/update of 1000 documents per second to same collection. It should be perfor

[2018-04-11 18:26] hiranya911 commented on #257
@schmidt-sebastian for more information.

I do not believe it is possible to access the result of an individual write within the same transaction. Transactions are atomic, and the enclosing writes are not saved to the remote database until the whole transaction is committed. So the intermediate state of a transaction is not accessible without violating the atomicity and isolation properties of Fir

[2018-04-11 18:35] schmidt-sebastian commented on #257
As Hiranya pointed out, Firestore transactions commit all writes only after you exit the transaction callback. No write takes place when you call `transaction.set`. We commit the transaction automatically when your function returns, and make sure that none of the documents you read as part of your transaction were modified in the meantime.

If you need to access the WriteTime of a document that wa

[2018-04-12 21:01] kumarkeviv commented on #247
Any help?

[2018-04-12 22:33] hiranya911 commented on #247
@samtstern who may have some ideas.

[2018-04-12 22:38] samtstern commented on #247
@kumarkeviv check out this blog post I wrote about using Cloud Firestore on AWS Lambda, which will tell you how to get `firebase-admin` set up.

[2018-04-12 22:38] samtstern commented on #247
https://medium.com/@samstern_58566/how-to-use-cloud-firestore-on-aws-lambda-4bf6d3a473d9

[2018-04-12 22:50] hiranya911 commented on #247
@samtstern  I believe he's following that article, but running into this weird issue (@kumarkeviv can you confirm?)

[2018-04-18 22:53] mqln commented on #157
I'm also crying blood from the pain of trying to purge a test migration environment of its 300,000 users.

The max rate of 10/s is just the worst.

gimme this feature plz

[2018-04-19 03:23] mdgagne opened #258 "Notification Channel for Android O"
* Operating System version: Ubuntu 16.04
  * Firebase SDK version: 5.12
  * Library version: 5.12
  * Firebase Product: messaging

I want to send a push notification to a specific android notification channel, as described here:
https://developer.android.com/guide/topics/ui/notifiers/notifications.html#ManageChannels

#### Steps to reproduce:
`Error: Invalid JSON payload received. Unknown name "an

[2018-04-19 16:38] hiranya911 commented on #168
You can still use the [legacy APIs](https://firebase.google.com/docs/cloud-messaging/admin/legacy-fcm) for this. The new REST API doesn't support it as far as I can tell: https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#AndroidConfig

SDK's `admin.messaging.send()` API cannot support it until it's exposed in the REST interface.

[2018-04-19 16:43] hiranya911 commented on #258
This is not supported in the backend REST API: https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#AndroidConfig

SDK cannot support it until it's exposed in the REST interface. I have an internal bug tracking this request with the FCM team.

[2018-04-20 08:55] LogansUA commented on #239
Hello.

I'm also suffering from this. I want to add type hinting for firebase message payload (i.e. [MessagingPayload](https://github.com/firebase/firebase-admin-node/blob/9fe20f0c64e35f2daeaa0df2c45ffce186804c0a/src/index.d.ts#L474) type, but since the `index.d.ts` export only admin namespace - I can't use anything from it 😞

Here's an example
[code]
Error message:
[code]

Do you have any solutio

[2018-04-20 18:37] hiranya911 commented on #239
The above code sample compiles fine. And VSCode wires the type definitions correctly. Are you sure it's the above code snippet that triggers the given error? It is rather strange since the code makes no references to `App`, which is indicated in the error message.

[2018-04-23 08:57] LogansUA commented on #239
@hiranya911 I'm using WebStorm 2018.1. Regarding `app`, you're right, I get this code slightly out of context of my application, but the problem still the same, the `admin` not exporting anything useful.

Here's the screenshot from my IDE
<img width="528" alt="screen shot 2018-04-23 at 11 56 23 am" src="https://user-images.githubusercontent.com/7515743/39116568-76bec488-46ed-11e8-97d8-2a0942ffaddf

[2018-04-23 18:28] hiranya911 commented on #239
But if the code compiles with tsc (which it does), and works fine in some IDEs (e.g. VSCode), I can't see this as a problem in the SDK:

<img width="1030" alt="vscode_nodejs" src="https://user-images.githubusercontent.com/2375201/39145702-66c6e4ec-46e9-11e8-8cf1-c5d92e79d808.png">

[2018-04-23 20:06] vahidsheikhalizadeh opened #259 "Error adding email, ...@gmail.com is already in use"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-04-26 02:13] douglaszaltron opened #260 "FR: startPhoneNumberVerification(String phoneNumber)"
One method I have missed is sending the validation code to authenticate via phone number, on the server side. With this I pass validations before the user logs into the application, for example in enterprise applications I need to validate the information in another database before releasing the access. Do you have any ideas for that?

[2018-05-01 08:28] crossRT commented on #84
I installed firebase-admin on a brand new project which running webpack4 + typescript, getting these dependencies issue as well.

[code]

Any idea how could these happened?

[2018-05-01 10:49] crossRT commented on #143
@esparkman I using firebase-admin on server side with webpack.
But still having such errors:

[code]

Do you have any idea?

[2018-05-01 17:31] hiranya911 commented on #143
@crossRT when do you get this error? Install time or run time?

[2018-05-01 18:52] bojeil-google commented on #260
Hey @douglaszaltron, our phone auth system depends on app verification before sending the SMS code. We need to verify the app identity (reCAPTCHA, APNs push notifications, etc) before sending the SMS code for security reasons. This is why, unlike the email verification case (which we can support), we don't offer this option in the Admin SDK.

For now and if this is a blocker to your application, y

[2018-05-01 19:08] tommed opened #261 "Unable to provision custom bucket, error "does not have storage.buckets.create access to project ...""
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Windows 10 (latest updates)
  * Firebase SDK version:  3.18.4 (firebase --version)
  * Library version:  5.12.0 (firebase-admin in packages.json)
  * Firebase Product: storage (via npm package firebase-admin)

#### Steps to reproduce:

Trying to create a custom bucket via the `firebase-admin` npm module and even though

[2018-05-01 20:09] hiranya911 commented on #261
Can you try the same directly with the GCS client library?

[code]

This will help us localize the error a little bit better.

[2018-05-02 01:07] crossRT commented on #143
Hi @hiranya911 during webpack compile time.

[2018-05-02 17:11] hiranya911 commented on #143
I don't know enough about webpack to be helpful here. But I'd see if the above can be ignored altogether. After all they are logged as warnings. If there is a compilation failure, it may be due to some other reason.

Try posting this on Stackoverflow. There are more than a few developers who use Admin SDK with Webpack, and somebody might have a clue. Alternatively provide a detailed repro (code an

[2018-05-03 10:33] tommed commented on #261
Thanks. I still get this:

[code]

[2018-05-03 22:47] hiranya911 commented on #261
Ok, I managed to reproduce this error. I believe this happens because the Admin SDK does not specify a project ID when [initializing](https://github.com/firebase/firebase-admin-node/blob/master/src/storage/storage.ts#L77) the Storage client. This is good enough to access an existing bucket (whose names are global), but not sufficient to create new buckets. I think there's a simple fix.

@tommed ca

[2018-05-04 02:14] yoiang commented on #217
It looks like gRPC has updated to resolve this issue, so are @google-cloud/common-grpc and @google-cloud/firestore the last two culprits before `firebase-admin-node` can be updated?

Would it be useful to keep this issue open until it is resolved?

[2018-05-04 09:40] tommed commented on #261
Ok thanks!! Next error: `The bucket you tried to create is a domain name owned by another user.` - though I used a domain which I do own (and Google DNS is managing), though I haven't updated the DNS to point to storage.google..... - do I need to do this prior to creating the bucket?

[2018-05-04 09:43] tommed commented on #261
...Ok so quick update, I tried this with the domain name `tomklmnb.vipro.online.`  which has a CNAME registered with `c.storage.googleapis.com.` (within the same Google Cloud project) and got the same error:

[code]

In my service account, I am using the project `vapps-online` which is the same project that owns and manages the `vipro.online` domain name.

[2018-05-04 18:59] hiranya911 commented on #261
GCP support should be able to help you out. We have limited experience dealing with this particular issue. Firebase users typically use the default bucket associated with the project, which is what's exposed via the Firebase Storage client API.

The Cloud Storage Node.js client team might also have a rough idea what's going on here. They can be reached at https://github.com/googleapis/nodejs-stora

[2018-05-05 10:26] logesh45 opened #263 "d"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-05-05 10:27] #263 closed

[2018-05-05 10:28] logesh45 commented on #263
Can somebody remove this? I was typing something and GitHub created this here.

[2018-05-08 12:43] tommed commented on #261
Thanks. I emailed them on the 4th, but had no response yet. Unfortunate as I was really hoping to get a workaround for this for a work project. If you have any way of nudging them about this - I'd be extremely grateful!

[2018-05-08 17:50] hiranya911 commented on #261
@tommed I filed a bug report internally as well. I'll keep an eye on it.

[2018-05-09 21:52] #261 closed

[2018-05-09 22:12] adirzoari commented on #59
@brunolemos  I'm looking to do similar thing. did you succeed to do that?

[2018-05-09 22:37] brunolemos commented on #59
@adirzoari I'm doing the way I mentioned above https://github.com/firebase/firebase-admin-node/issues/59#issuecomment-316647790

[2018-05-09 22:48] adirzoari commented on #59
But think about this situation. User sign in with phone for first time, you get his uid then into Authentication table in firebase console it add his phone number and uid. Then user remove app and install again then try to sign in with same phone number,firebase generate new uid. But not update this uid in Authentication table

[2018-05-09 22:49] adirzoari commented on #59
I open my issue here, you can see https://github.com/invertase/react-native-firebase/issues/1064

[2018-05-10 17:39] sbnon commented on #224
Coming from <https://github.com/firebase/firebase-functions/issues/3>.

With Firebase Functions v1.0 no longer supporting manually setting the certificate; is there any update on this? Alternatively, can support be added back to the Admin API to allow manually setting the certificate?

Is there an alternative way to enable createCustomToken on Firebase Functions?

[2018-05-11 13:52] yerassyl commented on #105
Hello all, have this issue been resolved? I am getting it too. Any suggestions?

[2018-05-11 20:43] #259 closed

[2018-05-13 19:46] jbeckton opened #266 "UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1)"
### [READ] Step 1: Are you in the right place?

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: macOS 10.13.4
  * Firebase SDK version: 5.12.0
  * Library version: 5.12.0
  * Firebase Product: admin.firestore

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

What happened? How can we make the problem occur?

 passing an object instance to admin

[2018-05-14 00:33] raymondma1 commented on #224
+1

[2018-05-14 03:30] hiranya911 commented on #224
`admin.initializeApp()` still accepts the [same parameters](https://firebase.google.com/docs/reference/admin/node/admin#.initializeApp) as before -- nothing has changed here. You can parse a service account file, and specify a certificate credential as shown here: https://firebase.google.com/docs/admin/setup#initialize_the_sdk

Firebase Auth and Admin SDK will make this use case easier to implemen

[2018-05-14 04:03] raymondma1 commented on #224
@hiranya911 Yup, did that instead and works fine! Thanks

[2018-05-14 23:36] schmidt-sebastian commented on #266
Our input validation logic that does not reject the returned Promise. Instead, it throws an exception immediately as you provide the invalid input. This allows us to return a stacktrace of where the problem occurred. It usually points to problems that should be addressed during development.

If your code relies on using our input validation (for example, you are passing objects from an end user),

[2018-05-14 23:36] #266 closed

[2018-05-16 03:40] jbeckton commented on #266
@schmidt-sebastian  Thank you for addressing this issue. I was expecting your code to reject the promise and I could handle it with a failed callback or catch. Your reasoning makes sense so i have wrapped my code in a try catch and I am able to handle any errors as expected. I was not planning on relying on your code to validate mine but I did want to make sure I had error handling working properl

[2018-05-17 06:58] dronfree opened #271 "Firestore Query.onSnapshot listener stops being called after receiving "Stream ended unexpectedly" error"
Describe your environment

  * Operating System version: NodeJS 6.5.0 in docker container
  * Firebase SDK version: 5.12.0
  * Library version: 0.13.1
  * Firebase Product: Firestore

We have two docker containers. First one performs set operations for two documents in one collection (/test) every 30 seconds. The seconds container runs Query listener to receive updated document from the same colle

[2018-05-17 07:03] akilinomendez commented on #271
A similar error, after 20h it does not detect the changes:

`Error: Error 14: The service is temporarily unavailable.
    at DestroyableTransform.stream.on.proto (/home/adm_cgl/workspace/MovilidadAlphaBackend/MovilidadBackend/node_modules/@google-cloud/firestore/src/watch.js:724:25)
    at emitOne (events.js:116:13)
    at DestroyableTransform.emit (events.js:211:7)
    at addChunk (/home/adm_cgl/

[2018-05-17 19:13] boon4376 opened #272 "Deployments Suddenly Failing: `GLIBCXX_3.4.21' not found (required by firebase-admin)"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-05-17 19:20] dbartel opened #273 "Firebase deploy fails due to grpc dependency in firebase-admin"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: macOS 10.13.4
  * Firebase SDK version: 5.12.0
  * Library version: 5.12.0
  * Firebase Product: functions

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

1. Run ```firebase deploy --only functions```

Expected Behavior: functions get deployed

Actual: The following gets logged

[code]

#### Rel

[2018-05-17 20:05] dbartel commented on #273
Duplicate of #272, I'll close this out

[2018-05-17 20:05] #273 closed

[2018-05-17 21:25] hiranya911 opened #274 "Improve HTTP Client Implementation"
We need to  improve and refactor our HTTP client code. Currently we are using a `SignedApiRequestHandler` abstraction that uses the `https` package under the hood. This implementation is quite complex to understand and extend. It is also not very amenable to testing. I propose we explore alternatives, and come up with a simpler, more readable and more testable abstraction for making HTTP calls.

A

[2018-05-17 22:10] hiranya911 commented on #272
This issue, the gRPC issue and the disruption recorded in the Firebase dashboard all seem to be related.  gRPC team has pulled the 1.12.0 distribution from npmjs.org. Can somebody verify if that helps alleviate the problem?

[2018-05-17 22:17] schmidt-sebastian commented on #271
@dronfree Thank you for this very actionable bug report. We will look at this internally and hopefully address this soon.

[2018-05-17 22:44] eharango commented on #272
I still have the problem with `firebase-admin: 5.12.1` works fine with` firebase-admin: 5.12.0`

[2018-05-17 23:13] hiranya911 commented on #272
5.12.1 uses the latest version of Firestore. @eharango when does the error occur? When deploying a function?

@schmidt-sebastian FYI.

[2018-05-18 01:58] eharango commented on #272
@hiranya911 sorry for the late response. The error occurs when I try to run `firebase deploy --only functions` locally Ubuntu 18.04 with `firebase-admin: 5.12.1`

[2018-05-18 09:31] kumarkeviv commented on #247
Can anyone help me on this? Its over a month.

[2018-05-18 14:42] TeaSeaLancs commented on #217
@yoiang It looks like the dependencies listed above are now solved?

[2018-05-18 17:25] hiranya911 commented on #272
@laurenzlong @schmidt-sebastian any idea what could be causing this?

@eharango I'd also recommend dropping your node_modules directory and any package lock files and rebuilding the project from the scratch.

[2018-05-18 18:48] laurenzlong commented on #272
This was an incident yesterday and should be resolved now. If you're still experiencing issues, try deleting the node_modules folder locally before deploying again:

[code]

[2018-05-19 13:12] eharango commented on #272
@hiranya911  @laurenzlong I've done the test again with `firebase-admin: 5.12.1`, it's resolved, thanks guys

[2018-05-19 18:47] #272 closed

[2018-05-19 18:49] hiranya911 commented on #224
I've started making some progress towards supporting this use case (creating custom tokens without a service account). My first attempt is now undergoing testing in the https://github.com/firebase/firebase-admin-node/tree/hkj-jwt-sign branch. Stay tuned.

[2018-05-20 19:02] olastor opened #275 "nsp alerts security vulnerability for protobufjs <=6.8.5"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2018-05-20 20:31] PulpoEnPatineta opened #276 "admin.auth(...).createSessionCookie is not a function"
* Operating System version: Windows 10
  * Firebase SDK version: 3.18.4
  * firebase-admin: 5.8.1
  * NodeJS: v8.9.3
  * Firebase Product: Auth

I was trying to create a session cookie as [documentation ](https://firebase.google.com/docs/auth/admin/manage-cookies#create_session_cookie) says
and when i request '/sessionLogin' node JS return me this error
(Serving from my computer)
[code]
This is ho

[2018-05-20 20:34] hiranya911 commented on #276
You need 5.12.0 or higher... https://firebase.google.com/support/release-notes/admin/node#5.12.0

[2018-05-20 20:34] #276 closed

[2018-05-23 19:51] holoduke opened #277 "Conditions with multiple topics not working. Not arriving at device"
**setup**

Debian 7.11
Firebase 15.0.2
Library version v5.12.1
Firebase Product: Cloud messaging

**Problem:**
I am using the node firebase admin to send messages to Android devices. All works. Except when I try to send messages to multiple topics. In the example code below I simply subscribe to 2 topics and directly afterwards i send a notifications to multiple topics in a condition. Nothing arri

[2018-05-23 20:51] hiranya911 commented on #277
This might be related https://stackoverflow.com/questions/47569891/topic-name-case-sensitivity-and-condition-not-working