[2019-04-13 20:47] hiranya911 commented on #504
Thanks @jsayol. Just a few random points of information, in no particular order:

1. Up until now we were mostly interested in adding an API for managing Firebase security rules (i.e. Firestore and Storage). RTDB rules are bit of a black sheep (different syntax, different API), but it's not terribly difficult to support them in a new Admin API.
2. Adding new methods to `admin.database()` is not re

[2019-04-13 22:24] ariofrio commented on #499
I am able to reproduce it reliably. Here's the log:

[code]

[2019-04-13 23:24] wilhuff commented on #499
To others that are experiencing this issue: given what we've seen here, this doesn't appear to be an SDK bug, so there isn't much we can do about this here. This is likely data- or project-specific so the best course of action is to file a [direct support request](https://firebase.google.com/support/) with your project details and what you're trying to do.

@ariofrio: The log essentially says that

[2019-04-15 17:32] schmidt-sebastian commented on #504
@jsayol Thanks for this suggestion! I am very supportive, but would like to trick you into also thinking about the rule upload/retrieval for Firebase Storage. If we cover Firestore, the RTDB and Storage, then this feature would be exhaustive and indeed a very good candidate for the Project Management API.

With that said, I think we should also consider a more generic API that allows us to set the

[2019-04-15 17:53] hiranya911 commented on #504
I've been thinking along the following lines:

[code]

Doesn't take RTDB into consideration. But we can certainly add it to the mix.

[2019-04-17 16:37] rachelmyers commented on #504
This is an interesting. What use case are you solving for? It _sounds_ like you're dynamically updating Security Rules? If so, I'm curious what kinds of rules you're updating.

My initial take is that fetching the current rules would be straightforward. Setting the rules could lead to unexpected behavior because an update takes several seconds, and I have some concerns about the workflows it enabl

[2019-04-17 17:34] jsayol commented on #504
Hi @rachelmyers! That's what I'm doing, updating the RTDB rules. The use case might be a bit tricky to explain here, since it's in relation to a Firebase product that's still in EAP and not public. The gist of it is that I have a set of Cloud Functions that get deployed to a user's project. These functions need to store some temporary data in the database (at a path chosen by the user when deployi

[2019-04-17 17:54] jsayol commented on #504
@hiranya911 & @schmidt-sebastian I like that approach of going for a more generic API, although I think it should be simplified.

I expect the most common operations to be setting new rules and getting the current ones, so those should be the main methods.

At the moment it's not possible to use more than one rules file. And even though the backend API seems to allow it, neither the Console nor th

[2019-04-17 20:43] stamler commented on #370
@Narkle In your `test.js` try `listAllUsers().then(process.exit(0))`. This will end the node process when the promise resolves.

[2019-04-18 16:16] jsayol commented on #504
Just a quick amendment to my proposal. I think the `Ruleset` interface should be split in 2, one that includes files and one that doesn't, and used accordingly. For example:

[code]

Or something along those lines.

[2019-04-18 17:46] rachelmyers commented on #504
Quick correction:

This is true for Firestore. Storage supports different rules files for each storage bucket. The RealTime Database supports multiple instances per project, where each instance has it's own rules file. It's fair that these are not as documented as they should be.

[2019-04-18 18:10] jsayol commented on #504
Ah, you're right! If I'm not mistaken though, this shouldn't be an issue since the options object passed to `admin.initializeApp()` already contains the `databaseURL` and `storageBucket` to use, or the default ones are picked otherwise. Would that cover it?

Maybe I misunderstood, though. When I said that it's not possible to use more than one rules file I was referring to uploading 2 or more sepa

[2019-04-18 23:47] schmidt-sebastian commented on #499
@ariofrio We just received the report that you filed via Google's external support. I will ask the backend team to take a look at your project.

In the meantime, do you have a rough estimate on how many active listeners you have? We currently only support 100 operations per GRPC channel, and if you have 100 active `onSnapshot` listeners, any further operations on this channel will be block. That b

[2019-04-19 05:05] ariofrio commented on #499
@schmidt-sebastian Currently we roughly have 1,000 active listeners at a time. We aim to be able to scale it up to 20,000 or more.

[2019-04-19 18:29] #497 closed

[2019-04-19 18:30] hiranya911 commented on #489
Hi @egilmorez. Lets make this clear in the new documentation you're currently working on.

[2019-04-19 19:17] rachelmyers commented on #504
Yeah, you can absolutely implement these methods with multiple buckets. My bottom line is that I think this enables interesting workflows and would like to see it implemented.

One thing to be aware of: There's a max number of `Ruleset`s for Firestore and Storage instances (in the hundreds), and when someone hits it, they can't update their rules until they delete an old rules version. (There are

[2019-04-19 20:24] jsayol commented on #504
That's a good point. I think this means the SDK should definitely include the "extended" API to allow managing releases and rulesets, besides the `getRules()` and `setRules()` methods.

The CLI handles the quota exceeded error by offering the user to delete the 10 oldest unreleased rulesets (as in, the ones that are not currently associated with a release). I think the admin SDK should simply retu

[2019-04-20 16:04] jsayol commented on #504
Hey @rachelmyers, I've got a few of questions about the rules API. I want to make sure I handle the responses correctly to detect any possible errors :)

  1. **When listing rulesets**: if there are none, does it return a `rulesets` field with an empty array or is the `rulesets` field not present in the response?

  2. **When listing releases**:
    2.1. If there are none, does it return a `releas

[2019-04-21 23:30] jsayol commented on #504
Since I managed to figure out most of the questions I had, I just opened the Pull Request: https://github.com/firebase/firebase-admin-node/pull/507

[2019-04-22 10:16] vpishuk opened #508 "@firebase/app dependency is not installed together with firebase-admin"
* Google AppEngine
  * Firebase SDK version:7.3.0
  * Firebase Product: firebase-admin

#### Steps to reproduce:
I've updated the package to the latest version.
And then at logs in GCP I saw:
{ Error: Cannot find module '@firebase/app'
     at Function.Module._resolveFilename (module.js:548:15) A
     at Function.Module._load (module.js:475:25) A
     at Module.require (module.js:597:17) A
     at

[2019-04-22 19:17] ariofrio commented on #499
Any updates on this?

[2019-04-22 20:33] schmidt-sebastian commented on #499
Not yet, I will keep you posted!

[2019-04-24 02:15] ariofrio commented on #499
Ping. We're waiting on this to be resolved for a critical feature in our software.

[2019-04-24 10:20] polRk opened #511 "Add RxJs"
Я предлагаю добавить возможность работать с Observeble.
I suggest adding the ability to work with Observeble.

[code]

Now i can use rxjs wrapper, but it's not cool

[code]

[2019-04-24 13:50] 1amageek opened #512 "14 UNAVAILABLE: Getting metadata from plugin failed with error: fetch is not a function"
firebase-admin has been changed from 7.2.0 to 7.3.0 and an error is issued with the following code.

__Code__
[code]
__Error__
[code]

__package.json__
[code]

[2019-04-24 23:58] schmidt-sebastian commented on #499
Sorry for the long delay. The backend team was able to look at your project. While we were not able to find the root cause for your issues, we do see elevated latencies during the time window of your last test run (2019-04-13). We haven't seen any recent latency spikes. If you are able to re-run your tests and let us know the exact time window during which you encounter issues, we might be able to

[2019-04-25 02:04] ariofrio commented on #499
A request that finished with "deadline exceeded" was ongoing at Wed Apr 24 19:04:00 PDT 2019.

[2019-04-25 15:43] wilhuff commented on #512
Could you share your package lock file? This seems like it could only happen if you're somehow using an incompatible version of something that the firestore client in the admin SDK depends upon.

[2019-04-25 17:40] schmidt-sebastian commented on #511
@polRk Thanks for sending this over! We do not have any immediate plans to add native support for Rx, but we will consider it in the future. Our API should already be usable with the Observer pattern, but it is true that you do have to jump through some hoops (as shown in your code snippet).

If anyone else would like to see better support in either the Admin SDK or the Mobile SDK, please do let u

[2019-04-25 18:44] rachelmyers commented on #504
I had the concern that programmatic rules changes don't allow you to use a TDD workflow when writing rules. I want to offer one option that would allow programmatic rules updates: If we expose the TestRuleset API, it would enable people to test a Ruleset change, wait for the response, and if it succeeds, update the rules. The TestRuleset API takes an array of use cases and returns an array of resu

[2019-04-25 19:31] albertvolkman commented on #247
Docker worked, but this works as well-
`nvm exec 8.10 npm install`

[2019-04-25 20:38] hiranya911 commented on #504
Personally I think it's a very good addition (and something we should do). But in that case we should probably house the Admin SDK rules API in a whole new module (`admin.rules()`). That gives us more room for further rules-related integrations in the future, without any impact on the existing projectManagement module.

[2019-04-26 03:07] 1amageek commented on #512
@wilhuff https://gist.github.com/1amageek/649a0073d805b37e9069032c2cbe147e

[2019-04-26 08:22] TongBro opened #514 "Deploy issues, Code in file index.js can't be loaded."
### [READ] Step 1: Are you in the right place?
I think so.

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: _____
  * Firebase SDK version: _____
  * Library version: firebase --version: 6.7.1
  * Firebase Product: _____ (auth, database, storage, etc)

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

English in not my mother language, I use goo

[2019-04-26 09:46] chungweileong94 commented on #514
Myself as well faced the same issue, but I'm able to deploy to the cloud functions, and one of my function throwing the same error all the sudden, and it was working just fine before that.

**ERROR**
/user_code/node_modules/firebase-admin/node_modules/gaxios/build/src/index.js:28
async function request(opts) {
      ^^^^^^^^

SyntaxError: Unexpected token function

[2019-04-26 10:32] brettcallanan commented on #514
We managed to get around the issue for now by changing the node engine version in the package.json .

` "engines": {
    "node": "8"
  },`

[2019-04-26 10:34] brettcallanan commented on #514
We managed to get around the issue by changing the node engine version in the package.json.

` "engines": {
    "node": "8"
  },`

[2019-04-26 10:56] kechkibet opened #515 "Gaxios 1.8.5 stopped supporting Node 6, cand deploy functions using admin"
As per this issue:
https://github.com/JustinBeckwith/gaxios/issues/86

Kindly advise a workaround.

[2019-04-26 14:49] SamuelSaltzmann commented on #118
Just to let you know, I got the same message and when I updated my node engine within the package.json it worked.

So I added to package.json:
`"engines": {"node": "8"}
`

[2019-04-26 17:17] hiranya911 commented on #515
They have unpublished gaxios 1.8.5 as per the same issue you've referenced above. That should take care of any problems.

[2019-04-26 17:17] #515 closed

[2019-04-26 17:22] hiranya911 commented on #514
[code]

You're trying to use async/await syntax in Node 6. You have to use Node 8  for that. Solution suggested by @brettcallanan is correct.

Also note that Node 6 support is deprecated in Cloud Functions. Node 8 is the recommended runtime.

[2019-04-26 17:22] #514 closed

[2019-04-26 17:23] hiranya911 commented on #508
Not sure why this would happen. Do you know what version of Node and NPM get used in App Engine?

[2019-04-26 20:28] wilhuff commented on #512
Just wanted to let you know I've been able to reproduce what you've seen and I'm now digging deeper. Thanks for the self-contained reproduction.

[2019-04-26 21:37] wilhuff commented on #512
This issue is an incompatibility between jest and the gaxios project. gaxios is used as a low-level portable plumbing for interacting with Google APIs from JavaScript. Gaxios uses a simple test for whether or not it's running in the browser that fails in this case because jest is defining `window`.

This is https://github.com/JustinBeckwith/gaxios/issues/87.

I'm not entirely sure exactly which ve

[2019-04-26 22:17] wilhuff commented on #512
You can work around this problem by forcing a downgrade to gaxios 1.8.3. If you're using yarn, you can do so by adding an explicit dependency on gaxios and adding a resolutions block, like so:

[code]

The next release of the packages that depend on gaxios (e.g. google-auth-library) will be updated to gaxios 2.0.1, which includes a fix for this.

[2019-04-26 22:17] #512 closed

[2019-04-27 00:44] schmidt-sebastian commented on #499
Thanks for the additional update. We are still looking into this with our backend team.

[2019-04-27 04:11] JamieCorkhill commented on #81
@hiranya911 For approach number one, are you just using the jsonwebtoken NPM module to sign your own custom token based on the parameters that the Firebase Admin SDK expects?

After generating that custom token, would it be correct to say that passing it into the Admin SDK for Node to verify the token would come back verified and the auth middleware would consider the request authenticated, or, do

[2019-04-27 05:29] 1amageek commented on #512
@wilhuff
Thank you🤩

[2019-04-28 02:01] m-spyratos opened #517 "FR: admin.auth().generateRecoverEmailLink"
**Feature request:**

I'd like to be able to generate a link that allows email address change revocations (similar to the other link methods: `generateEmailVerificationLink`, `generatePasswordResetLink` and `generateSignInWithEmailLink`).

Following the generated link, `recoverEmail` mode can be handled as specified in the [Create custom email action handlers](https://firebase.google.com/docs/auth

[2019-04-29 07:03] bojeil-google commented on #517
Recovery email is tied to an email update operation. It doesn't work on its own.

[2019-04-29 07:19] mattiagalati commented on #315
Are there some previsions for support this feature in Admin SDK for Python?
related to https://github.com/firebase/firebase-admin-python/issues/196

[2019-04-29 08:23] FVilli commented on #499
I report the same issue of **ariofrio**. the problem is that all the next **set** fail with **"deadline exceeded"**. My workaround is to restart the process. In my case the frequency is really low (1 time per minute), the document size, the size of entire db are so small that the issue can't depends on that. It seems that the first **"deadline exceeded"** corrupt the connection deadly.

[2019-04-29 17:14] hiranya911 commented on #315
@mattiagalati, yes eventually we want to support it in Python. I will reopen the above issue, and open it up for pull requests, in case somebody would like to contribute us some code.

[2019-04-29 21:47] wilhuff commented on #499
@FVilli Please send me your project id and some time intervals where you've been seeing this by email (to mcg@firebase.com) and I'll add them to the internal issue tracking this.

[2019-04-30 18:44] hiranya911 commented on #517
@bojeil-google I'll assign this to you to update (or close) as necessary.

[2019-04-30 18:52] hiranya911 commented on #472
@schmidt-sebastian what is the best place to address this? Change the Firestore Node.js client to support the env variable, or change `firebase-admin`?

[2019-04-30 18:55] hiranya911 commented on #43
Just sent #518 for review, which implements the retry framework for the SDK.

[2019-05-01 07:04] ariofrio commented on #499
@wilhuff I gathered some more time intervals where this occurred. I sent them by e-mail.

[2019-05-01 12:42] zkiiito commented on #469
@schmidt-sebastian where could one track the progress of this transition?

[2019-05-01 16:57] jsayol commented on #504
That sounds like a great idea @rachelmyers! I see 2 ways to approach this:

### Option 1: Make it integral to the `setRules()` method
The method would take the new rules to apply along with the array of test cases, create a new ruleset, test it, and if the tests all succeed then immediately apply the new ruleset to the appropriate release.

For the developer it would work like this:
[code]

If goi

[2019-05-01 17:05] rachelmyers commented on #504
Testing should be possible but not mandatory; if it's mandatory, people will write fake `if true` kind of tests to enable their workflow. 😏 I like the idea of building out a new `admin.rules` module, and I'm happy to help out with that after next week.

[2019-05-01 17:11] jsayol commented on #504
Yeah, you're definitely right. Is there any public documentation on the TestRuleset API so that I can start looking into it? And which of the 2 approaches do you think would work best? I guess the first one is the simplest for the developer, specially if you want to prevent exposing the whole rulesets/releases internals.

[2019-05-01 18:08] hiranya911 commented on #469
Not sure if there's an open bug to track this. But just to give an update, we are working on 2 action items to make this happen:

1. Remove gRPC C Core (expected size reduction: ~40MB)
  1.1 Drop Node 6 support
  1.2 Drop gRPC C Core from google-gax
2. Remove unused proto files from google-gax (expected size reduction: ~10MB)

Item 2 is already committed to google-gax: https://github.com/googleapi

[2019-05-03 20:57] hiranya911 commented on #508
Closing this due to lack of activity. Let us know more details if you need us to take another look.

[2019-05-03 20:57] #508 closed

[2019-05-05 00:18] m-spyratos commented on #517
@bojeil-google With [Admin Auth SDK](https://firebase.google.com/docs/reference/admin/node/admin.auth.Auth), you can use the `updateUser` method to change a user's email. You could even use `importUsers` for the same purpose.

It would be nice to programmatically be able to send the recover email link, when I decide to change the user's email from within my service. Currently, I am forced to use t

[2019-05-07 00:05] dgobaud opened #522 "ServiceAccount interface definition errors"
the ServiceAccount interface specifies the member variables using camel case but they come in from Google Cloud JSON download as snake case and if changed in the JSON file to match the interface, when exporting the JSON file path in GOOGLE_APPLICATION_CREDENTIALS to work with other Google Cloud services locally in the emulator https://firebase.google.com/docs/functions/local-emulator#set_up_admin_

[2019-05-07 01:43] ariofrio commented on #499
Is there an update to this issue?

[2019-05-07 08:11] tuledev commented on #346
I got duplicated notifications with sendAll(), frequently.

[2019-05-07 13:27] merlinnot commented on #496
Thanks, that seems to work.

[2019-05-07 14:37] gnarco opened #523 "arrayUnion fail in 7.3.0"
Hi

I was using firebase-admin@7.0.0

I updated to firebase-admin@7.3.0

I use arrayUnion.
Working perfectly in 7.0.0

Got
Error: Update() requires either a single JavaScript object or an alternating list of field/value pairs that can be followed by an optional precondition. Argument "dataOrField" is not a valid Document. Couldn't serialize object of type "ArrayUnionTransform" (found in field even

[2019-05-07 15:38] wilhuff commented on #499
We're still working on trying to understand why this is happening. It's not coming easily, unfortunately :-(.

[2019-05-07 18:02] bojeil-google commented on #517
This is a bit tricky to support as this is directly tied to another operation (`updateEmail`). Though I do agree we should provide a channel to customize these type of emails, but it won't be as trivial as generating other type of email links. Feel free to file a [feature request](https://firebase.google.com/support/) for it.

[2019-05-07 22:19] baristaGeek commented on #320
@smashah thanks. This is the most straightforward solution

[2019-05-07 23:38] hiranya911 commented on #522
`ServiceAccount` interface is used by the `admin.credentials.cert()` function. And that function is programmed to accept both camel case and snake case attributes. Therefore you don't have to modify downloaded service account JSON files to satisfy the interface. If you do it will most certainly break the OAuth flow.

One of the following should work for pretty much any use case:

[code]

[code]

[

[2019-05-07 23:38] #522 closed

[2019-05-07 23:50] MateusZitelli commented on #522
@hiranya911 - I am facing this issue when trying something similar to the last code snipped you posted.

[code]

Here is the linter message:
[code]

Basically it expects camel case keys, while the json file come with snake case, as described by @dgobaud .

[2019-05-08 01:08] jdimond commented on #499
You are likely running into an internal limitation of how many RPCs can be active on a channel (aka connection). As a workaround (until the right limit is found and adjusted) you can make sure to remove the onSnapshot listeners, and make sure to never exceed more than 100 of them.

You can see this behavior with a minimal example:
[code]

This will print deadline exceeded errors starting with docu

[2019-05-08 01:38] wilhuff commented on #499
Hrm. What's supposed to be happening here is that the Node SDK [pools the clients](https://github.com/googleapis/nodejs-firestore/blob/master/dev/src/pool.ts#L56) and creates new ones once the number of active RPCs exceeds the limit of 100. Something's not working right in this case. I'll look into this.

@ariofrio Is there any chance that the ever growing list of listeners is not intended? If so

[2019-05-08 02:06] hiranya911 commented on #522
Just `require()` the file instead of importing it (see my example above). If you insist on importing, then you should do something like the following:

[code]

[2019-05-08 03:09] dgobaud commented on #522
But this must be a bug right? We want the type checking shouldn't the type match the data?

[2019-05-08 03:51] hiranya911 commented on #522
It seems a conscious effort has been made to keep snake-cased attributes out of the typings. I'm not sure why, but I guess it's a style-related choice made by the original developers of this library. This interface is quite old (last modified over 2 years ago), and it hasn't changed since I joined the project.

We can add the snake-cased properties to the interface as a solution. But given that th

[2019-05-08 04:08] dgobaud commented on #522
I think think this is it and thinking about it more I think you have a good enough point it isn't necessary the JSON format match the interface so probably can leave it. Below I think makes sense as the way to do it.

[code]

[2019-05-08 08:57] FVilli commented on #499
I have one process that register (only) 4 onSnapshot listeners.
Maybe the Node SDK (under the hood) creates new ones without destroy olds, but this happens only after the first timeout ...

[2019-05-10 08:01] c-2002 opened #527 "Password validation can be improved"
### [READ] Step 1: Are you in the right place?

Yes :)

### [REQUIRED] Step 2: Describe your environment

- Operating System version: OSX 10.14.4
- Firebase SDK version: 7.3.0
- Library version: 6.9.1
- Firebase Product: auth

[code]

### [REQUIRED] Step 3: Describe the problem

The password check of admin.auth().createUser(...) does not consider a password value of "undefined". If the password is

[2019-05-10 17:08] hiranya911 commented on #527
Password is optional for user accounts. Therefore it's perfectly valid to create a user account without any password. Our validation therefore triggers only when something other than `undefined` is specified as a password.

[2019-05-10 17:08] #527 closed

[2019-05-10 17:10] #499 closed

[2019-05-10 18:04] tfesslerCWC opened #528 "firebase functions:config:set fails with uppercase environment variables"
* Operating System version: Macos 10.14.4
  * Firebase SDK version: 6.9.1
  * Node JS Version: 8.16.0
  * Firebase Product: functions

Description:
UPPER CASE characters are required for some environment variables from some GOOGLE API's.    The current version of the firebase admin for node prevents the use of uppercase characters.

Setting this configuration:
firebase functions:config:set GOOGLE_

[2019-05-10 18:26] wilhuff commented on #499
The Node 6 deprecation has made the timing of releasing this fix somewhat challenging so my best advice right now is that if this fix is critical to you, you should pin to the commit that implements the fix. If you're using `npm` to install you can do something like this:

[code]
Note that order matters, as far as `npm` is concerned. Also, you may need to remove your `node_modules` and `npm instal

[2019-05-10 18:59] wilhuff commented on #349
OK, if this does come back, let us know.

[2019-05-10 18:59] #349 closed

[2019-05-10 20:27] hiranya911 commented on #528
You're in the wrong repo. Function SDK and the associated tooling are in https://github.com/firebase/firebase-functions and https://github.com/firebase/firebase-tools

AFAIK the `functions:config:set ` is not meant to be used for regular environment variables. It is used to configure parameters that are then accessed from the Functions code. See https://firebase.google.com/docs/functions/config-en

[2019-05-10 20:27] #528 closed

[2019-05-10 21:41] rsgowman commented on #523
I don't believe there's been any change between the two... Could you provide a code snippet demonstrating how you're using it?

For reference, here's how we expect it to be used (switch the language to node.js):
https://firebase.google.com/docs/firestore/manage-data/add-data#update_elements_in_an_array

When I use the following, it seems to work fine with both 7.0.0 and 7.3.0:

[code]

Output:
[co

[2019-05-12 16:16] muclipse opened #529 "Creating Android apps in projectManagement does not create corresponding OAuth2 client ids in Google Cloud Console."
* Operating System version: Ubuntu, MacOS
  * Firebase SDK version: 7.3.0
  * Library version: 7.3.0
  * Firebase Product: Admin SDK Project Management API

## Problem

In Project Management API in the Admin SDK, creating an Android App through [createAndroidApp](https://firebase.google.com/docs/reference/admin/node/admin.projectManagement.ProjectManagement#createAndroidApp) does not create the co

[2019-05-12 18:07] ariofrio commented on #499
A large number of long-lived listeners is the intended behavior of our application. Confirmed that this fixes our issue.

[2019-05-14 19:58] fabiogmartins commented on #478
Hi guys.
Any news?

I have the same situation.

Tks,

[2019-05-16 04:01] schmidt-sebastian commented on #472
I'd say this should be done by the GCloud Firestore SDK.

[2019-05-16 13:33] Ivkaa opened #531 "Error message/code not passed into error"
* Operating System version: macos mojave 10.14.4
  * Firebase SDK version: latest - 7.3.0
  * Library version: 7.3.0
* Firebase Product: auth

### Describe the problem

#### Steps to reproduce:
Call:
```await firebase.auth().verifySessionCookie(token, true);```
with invalid token
ex.
```await firebase.auth().verifySessionCookie("a", true);```

Which throws error
[code]
(the code has line ```this.c

[2019-05-16 15:53] Harshad-Akhani opened #532 "when i am set data with doc id as number. it is not setting(adding) data or not throwing error"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-05-16 16:41] hesselbom commented on #349
I just got this error suddenly when running `database.doc('orders/1234').set(data, { merge: true })`.

Just happened one time so far.

[2019-05-16 16:59] wilhuff commented on #349
If you can come up with something that reproduces this or if you can capture logs while this is happening we'll be able to look at it.

Note that there was a connection pooling bug addressed as part of #499. That bug would manifest in circumstances where there were many long-lived listeners running in the application.

If you start seeing this more often, try the fix we there (a new release contai

[2019-05-17 03:38] daniel-farina commented on #495
in your packages.json

[code]

[2019-05-17 18:17] rsgowman commented on #523
I'm going to close this issue for now, but if you're still having trouble, please feel free to reopen it.

[2019-05-17 18:17] #523 closed

[2019-05-17 20:27] SephReed opened #533 "FR: Divide "messaging/registration-token-not-registered" error into more specific parts."
I'm not sure if this is the correct repo for this pr, but it is the codebase I'm working in.

I'm currently running into the error `messaging/registration-token-not-registered`, and found the documentation on it:

Given the documentation above, it would seem this error is quite broad, requiring an in-depth understanding of "app registration to FCM," "APNS tokens," "Expiration," and mis-configured

[2019-05-20 09:53] tuledev commented on #346
Confirmed this issue comes from google services

[2019-05-20 14:11] chong-shao commented on #346
Hi @tuledev can you file a support ticket in https://firebase.google.com/support ? From there we can start get for information from your requests etc.

[2019-05-20 14:11] #346 closed

[2019-05-22 14:14] jimmykane opened #536 "Firestore.Blob is not accepted on document set via the admin.firestore"
### [READ] Step 1: Are you in the right place?
YES

### [REQUIRED] Step 2: Describe your environment

  * Firebase SDK version:  ^6.0.2
  * Firebase Component: Firestore
  * Component version: _____

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Cannot save Blob to document

#### Relevant Code:

This is an issue with the Admin firestore. On the client side it works.

While

[2019-05-22 15:10] jimmykane commented on #536
I have double checked and the `firestore.Blob.fromBase64String` indeed does return a Blob instance but the admin.firestore() does not know how to serialize it ?

[2019-05-22 18:23] hiranya911 commented on #536
Duplicate of https://stackoverflow.com/questions/56259153/cannot-save-custom-blob-to-firestore-admin-sdk

[2019-05-22 18:23] #536 closed

[2019-05-23 21:51] nbegley commented on #529
Hi @muclipse, in order to provision an OAuth client for your Android app, we need you to specify a SHA certificate to be used. We don't support doing that during Android app creation in the REST API or Admin SDK, but you can call [addShaCertificate](https://firebase.google.com/docs/reference/admin/node/admin.projectManagement.AndroidApp#addShaCertificate) to do so after app creation. That will res

[2019-05-23 21:51] #529 closed

[2019-05-24 07:27] jimmykane commented on #536
@hiranya911 Is the a streamlined way to store blobs so client and backend code looks the same?

[2019-05-24 17:25] hiranya911 commented on #536
I don't think so. But you can try asking at https://github.com/googleapis/nodejs-firestore

[2019-05-24 17:58] hiranya911 commented on #533
SDK error codes aren't really hierarchical. They just look that way because they have the general form `<service prefix>/<error code>`. Plus I don't think the FCM service currently sends enough details in the error to distinguish between above 4 cases. So perhaps what we need a set of new error codes.

* messaging/apns-invalid
* messaging/app-not-configured
* messaging/registration-token-expired
*

[2019-05-24 18:00] hiranya911 commented on #532
Can you provide some code that reproduces this? It's difficult to picture your use case/issue without an example.

[2019-05-24 18:09] hiranya911 commented on #531
Are you using some kind of a framework (I see appllo-server-core in the stacktrace)? This is most likely an issue in your environment or the framework. I tried the following code, and it works as expected:

[code]

Output:
[code]

In your case the apollo-server-core tries to JSON stringify the error, but is not able to for some reason. Can you provide us a complete, minimal repro of this issue?

[2019-05-24 18:12] schmidt-sebastian commented on #532
It would help us to know if you are converting the Timestamp to a String before you use it as a document ID. Document paths only support strings.

The following should work:

[code]

On the other hand, this should throw a validation error:

[code]

[2019-05-27 08:50] florent1933 opened #540 "Auth error:FetchError: request to https://www.googleapis.com/oauth2/v4/token failed, reason: socket hang up"
### Describe your environment

  * Library version:
"firebase": "5.7.0",
"firebase-admin": "5.13.1",
  * Firebase Product: database

### Describe the problem

I am running a server in production and regularly I have this error:
[code]

This error happens randomly (~1 week or ~2 weeks after the server has started) and when it's happen, I have to restart the server.

[2019-05-28 14:53] schmidt-sebastian commented on #478
@fabiogmartins Sorry for the delay. We have a PR for this fix pending and will push it as part of the next release.

[2019-05-28 14:53] #478 closed

[2019-05-28 17:03] SephReed commented on #533
Is there anywhere I should re-post this issue?  It's has become a huge blocker for me.

[2019-05-28 17:54] goodpic commented on #512
Hello, @wilhuff
Thanks a lot for the workaround.
I ran into the simillar issue and downgrading gaxios to 1.8.3 did fix the issue. But I still have the issue with the latest versions?
Has this recognised as fixed in the latest version of firebase-admin-node and gaxios?

- "firebase-admin": "7.4.0",
- "gaxios": "2.0.1",

Here is the overview of my issue and the code.

https://stackoverflow.com/quest

[2019-05-29 14:56] PurnimaNaik commented on #533
This doesn't exactly match your case but see if it helps-

I was facing the same issue. Here is how I fixed it (iOS specific, android was working out of the box)-

 1. Uninstall the app from your phone
 2. Clear ALL the tokens stored in your database for this particular account(or however you have set it up in your backend. In my case, tokens are tied to the account)
 3. In componentDidmount-

[co

[2019-05-29 16:10] SephReed commented on #533
I'll have to try this out.  I'm currently using nativescript, so it'll end up being a bit different, but I should still be able to apply a lot of this logic.  Thank you very much!

[2019-05-29 17:15] gsunit commented on #157
You can use this: stackoverflow.com/a/56365233/8682568 This does not require the use of your browser's developers tools (which is unbearably slow). Rather, it uses Firebase Admin SDK to nuke all users quickly.

[2019-05-30 13:51] rodrigoreal opened #545 "WHERE clause not working properly on 8.0"
I'm not sure what is happening but my where clauses on firestore collections are not working properly on 8.0 version, i upgraded to 8.0 and lot of the queries don't return the correct results, but when i downgraded back to 7.4 it started working again.
I tried to find some breaking changes but i couldn't find anything related to this.
I'm using cloud functions with node 8.

`
 "@google-cloud/fires

[2019-05-30 17:16] hiranya911 commented on #545
Can you provide more details? Some sample code, and sample results before and after the upgrade would be useful.

[2019-05-30 17:24] schmidt-sebastian commented on #545
See https://github.com/googleapis/nodejs-firestore/issues/667

TL/DR: There is an issue with grpc-js 0.4.1, which has since been unpublished from NPM. We are also pushing a Firestore release to downgrade our GRPC dependency to the previous version. While this release is pending, you can either manually install `@grpc/grpc-js` or remove your node modules and install again.

[2019-05-30 17:24] #545 closed

[2019-05-30 20:50] hiranya911 commented on #504
@rachelmyers and I have been pushing this forward. We still have ways to go but for now this is what we are thinking:

[code]

Following types are proposed to support the rules testing use cases:

[code]

[2019-05-31 20:19] hiranya911 commented on #540
I believe the JS SDK automatically re-connects after a failure like this. @schmidt-sebastian @Feiyang1 can you take a look?

[2019-05-31 20:21] hiranya911 commented on #531
Closing due to lack of information.

[2019-05-31 20:21] #531 closed

[2019-05-31 20:22] hiranya911 commented on #532
I assume the last comment provides enough context to answer the original question. Feel free to reopen if there's a bug that should be further investigated.

[2019-05-31 20:22] #532 closed

[2019-05-31 20:25] hiranya911 commented on #463
I think we should just document these keywords and call it a day. @chong-shao can you work with the docs team to get the necessary page updated? We might want to update our API references too.

[2019-05-31 20:25] hiranya911 commented on #454
@wilhuff can you take a look?

[2019-05-31 20:29] hiranya911 commented on #242
I don't think search functionality is really in the roadmap for Firebase Auth. Full text search is always a complicated use case, and even the Firebase database solutions don't support it natively. I guess the only solution I can think of is indexing the user information in a separate system like Algolia or ElasticSearch, and then facilitating search through that. You can use a Cloud Function to a

[2019-05-31 21:00] bojeil-google commented on #242
As @hiranya911 mentioned, we don't have any plan to allow rich query searching in Firebase Auth. We will allow searching by providing list of emails, uids, phone numbers or federated IDs, nothing beyond that. I recommend the alternatives already suggested by @hiranya911.

[2019-06-02 00:51] Yonom opened #548 "Firestore numbers greater than 2^53 are all stored as 9223372036854776000"
#### Describe your environment

  * Operating System version: Firebase Functions, Node 8
  * Firebase SDK version: Unsure
  * Library version: "firebase-admin": "^8.0.0", "firebase-functions": "^2.3.1"
  * Firebase Product: Firestore Database

#### Steps to reproduce:

Run the relevant code in a Firebase function. A document will be created in firestore under test/test. The value of `testValue` wi

[2019-06-03 03:03] Oskang09 commented on #454
totally this fixed ady by reinstalling all node_modules due to swapping from ubuntu to windows.

[2019-06-03 03:03] #454 closed

[2019-06-03 03:56] jetaimefrc opened #549 "FirebaseError : Function Firestore.settings() requires its first argument to be of type object, but it was: a custom Object object"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Majove 10.14.2
  * Library version: ^6.1.0
  * Firebase Product: firestore

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

When i tried to setting firestore, i used both SSL and timestampsInSnapshots but have the same result as the title. And after i refresh page => TypeError: Can not read prope

[2019-06-03 10:13] tspoke opened #550 "Firebase Authentification - Delete trigger and revoking tokens"
### Environment

  * Operating System version: macOS mojave
  * Firebase Product: auth & firebase web interface (auth section)
  * Libraries :

[code]

###  Problem

Firebase auth seems to have an unwanted behavior when deleting a user from the Firebase web interface in the Authentification section.

If I delete a user from there, my trigger is called (node) and I can cleanup user data. But, the u

[2019-06-03 17:09] hiranya911 commented on #549
Wrong place. This is the repo for the `firebase-admin` Node.js library. Above code sample is for the Firebase JS SDK.

[2019-06-03 17:09] #549 closed

[2019-06-03 17:40] bojeil-google commented on #550
The last ID token is likely still valid until its natural lifetime. The refresh token is automatically revoked on deletion (there is not need to manually revoke). You can detect revocation (due to deletion) as described in the [official docs](https://firebase.google.com/docs/auth/admin/manage-sessions#detect_id_token_revocation).

[2019-06-03 23:32] schmidt-sebastian commented on #548
Hi! Thanks for filing this issue. This looks like it's happening inside of ProtobufJS. I will see if there is something we can do about it - but the optimal behavior we can achieve over 2^52 is precision loss.

[2019-06-04 00:26] schmidt-sebastian commented on #548
I did some more Math, and it looks like the number you are quoting is actually 2^63: https://www.google.com/search?q=log(9223372036854776000)%2Flog(2)&rlz=1C5CHFA_enUS849US849&oq=log(9223372036854776000)&aqs=chrome.0.69i59j69i57j6.10022j0j7&sourceid=chrome&ie=UTF-8

In this case, this is a limitation with our backend. For signed integers, we only support 63 bit precision (https://firebase.google.c

[2019-06-04 09:06] #550 closed

[2019-06-05 05:34] Yonom commented on #548
Thank you for your reply.

This check cannot be bypassed for any number greater than 2^53, as the double precision will not allow anything but full integers.

Do you have an ETA of when a fix will be made available?
Are there any workarounds we can use in the meantime?

[2019-06-05 05:41] schmidt-sebastian commented on #548
This should be fixed as part of the next release.

[2019-06-05 20:45] #472 closed

[2019-06-05 23:27] #548 closed

[2019-06-06 00:34] brewster1134 opened #555 "nested require prevents import with rollup"
i am trying to build an admin interface to my firestore and using rollup to generate the bundled assets. when i follow the steps in the [documentation](https://firebase.google.com/docs/admin/setup#add_the_sdk) (and additionally trying to use my local emulators based on this [github issue](https://github.com/firebase/quickstart-nodejs/issues/59)), however when either `firebase-admin` or `@google-cl

[2019-06-07 15:19] maxim-xu commented on #478
Hi @schmidt-sebastian, would this PR also fix the retry on a normal snapshot `.get()`? I've been experiencing the same abort exception more often recently... Thank you!

[2019-06-07 20:36] schmidt-sebastian commented on #478
Unfortunately, it doesn't. Our `get()` retries are handled by a different configuration that is shared among all Firestore clients. I'll reach out to the backend team and see if we can retry on ABORTED for all clients.

[2019-06-07 21:20] hiranya911 commented on #555
Not sure I fully understand what's going on. Are you trying to use these libraries in a client-side application?

[2019-06-10 11:34] langleyd opened #560 "Use of legacy metadata endpoints"
* Library version: latest (Currently 8.0)
  * GKE 1.12

#### Steps to reproduce:

Use of the admin api within GKE 1.12 failed with error:
Your client does not have permission to get URL <code>/computeMetadata/v1beta1/instance/service-accounts/default/token</code> from this server. Legacy metadata endpoint accessed: /computeMetadata/v1beta1/instance/service-accounts/default/token

As noted here the

[2019-06-10 19:44] guikaercher opened #561 ""Requested entity not found" for half of the messages sent trough FCM"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-06-10 20:20] hiranya911 commented on #561
Please contact Firebase support, and provide your project ID and some example tokens that causes the error. There's nothing that can be done in this repo to debug or resolve this issue.

https://firebase.google.com/support

[2019-06-10 20:20] #561 closed

[2019-06-12 21:13] ramzimaalej commented on #560
I'm facing the same issue too

[2019-06-13 01:30] Mangosteen-Yang opened #566 "Tokens type with MongooseArray conflict with android TTL"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: MAC OS 10.14
  * Firebase SDK version: 8.1.0
  * Library version: Node 12, Mongoose 5.5.14
  * Firebase Product: messaging

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

I send notifications with `admin.messaging().sendMulticast(message)`
However, If I set android TTL and `toknes` as a `Mongoos

[2019-06-13 02:27] hiranya911 commented on #566
Can you provide a standalone repro? I tried the following and it works fine for me:

[code]

This generates the output:
[code]

The error you're seeing is thrown by the following code: https://github.com/firebase/firebase-admin-node/blob/6c0204c0e4893bfd8157b1c6fe567296bd38f67d/src/messaging/messaging-types.ts#L517-L521

This can only happen when the TTL value is set to something other than a JS n

[2019-06-13 02:32] hiranya911 commented on #566
Ok, was able to reproduce this using an array with more than 1 element. This happens because elements in mongoose do not get deep copied properly. You will have to use a regular array of tokens.

[2019-06-13 04:01] rhyek commented on #349
I'm getting this error a bit frequently. Stack trace on Sentry does not show where in my code this is happening. I'm assuming this is being emitted inside internals of firestore running in the background. Is there a way for me to determine what query is failing?

[2019-06-13 05:42] rhyek commented on #349
I have a few endpoints on my api that are timing out and am getting a 502 from cloudflare, while having no idea what's causing this behavior. It sounds from what I read here is the queries are just never resolving and these deadline exceptions are happening in the background?

Here is a stack trace from one of the errors Sentry caught for me:
[code]

[2019-06-13 06:32] rhyek commented on #349
I should not that my node logs show the following. These don't immediately precede the above error. Sometimes they're hours apart:
[code]

[2019-06-13 16:05] schmidt-sebastian commented on #349
@rhyek Regarding the `MaxListenersExceededWarning`. This should be addressed by the latest release of grpc-js. If you re-install your modules, you should automatically get 0.4.3 of `@grpc/grpc-js`. In versions prior to 0.4.1, these warnings showed up especially when it took longer than normal to establish a GRPC channel.

[2019-06-13 20:08] bageren commented on #440
Did you find a solution? Facing the same problem.

[2019-06-14 05:34] hiranya911 commented on #566
I spent some more time tinkering with this issue, and I've found an interesting discrepancy. The problem here is that `MongooseArray` is a custom class that extends the JS `Array` type. And the SDK doesn't deep copy such custom types correctly, which is what causes this error. So I've been trying to reproduce the issue using a test case, and it appears when the code is written using TypeScript, th

[2019-06-14 05:48] Mangosteen-Yang commented on #566
@hiranya911 Interesting findings! Thanks.
Do you think it is a bug or not?

Right now I get data as `CustomArray ` then transfer to `Array` to avoid the error.
We may refactor our application with TypeScript in the future.

[2019-06-14 05:58] hiranya911 commented on #566
@Mangosteen-Yang, I think it can be interpreted both as a bug and a user error :) But I'm open to fixing the SDK code to handle custom array types in `MulticastMessage` gracefully. So please stand by.

In the meantime you can do this in your code:

[code]

[2019-06-14 20:36] #560 closed

[2019-06-14 22:30] hiranya911 commented on #43
As of #556 the SDK automatically retries on 503 errors (up to 4 retries), and it also honors the Retry-After header when available. Otherwise it would use regular exponential backoff.

[2019-06-14 22:30] #43 closed

[2019-06-17 16:05] ramzimaalej commented on #560
can you please make theses changes available?

[2019-06-17 22:35] #566 closed

[2019-06-17 23:30] ccorcos opened #571 "Calling `Firebase.initializeApp` more than once causes `default Firebase app already exists` error."
ProductName:	Mac OS X
ProductVersion:	10.14.4
BuildVersion:	18E226
"firebase-admin": "5.12.1",

When I call `Firebase.initializeApp()` more than once, I get this error:

[code]

Its really annoying because I want to create isolated servers for each test without having to run a separate instance of Node. Can you please fix this so more than one can run side-by-side?

[2019-06-17 23:48] hiranya911 commented on #571
There's nothing to fix. This is how this API is expected to work. If you want to run multiple instances of FirebaseApp, you need to give them different names. See https://firebase.google.com/docs/reference/admin/node/admin.app.App.html#name for some examples.

[2019-06-17 23:48] #571 closed

[2019-06-18 04:08] ccorcos commented on #571
Interesting. So I can make up a random string each time?

[2019-06-18 04:12] hiranya911 commented on #571
That's up to you. As far as the SDK is concerned, each instance of FirebaseApp must have a different name.

[2019-06-18 23:55] elucidsoft commented on #157
This is by the most annoying thing ever, can you just ad a button to the admin console for god sake? Why is this so difficult?

[2019-06-19 03:33] mpalmerlee commented on #512
@goodpic I was hitting this issue with firebase-admin 7.3.0, with the latest version 8.1.0 the issue is resolved for me.

[2019-06-19 15:45] ChromeQ opened #575 "Does Firebase Admin SDK support Firestore Emulator?"
I have a project using firestore, functions and hosting.
Until recently I was happily working locally with `firebase serve --only functions,hosting` and that would work with the production firestore.
Using the new firestore emulator I read loads suggesting to use emulator over serve, and my functions have firestore triggered functions which I would like to test locally.

When I `firebase serve --o

[2019-06-19 17:16] schmidt-sebastian commented on #575
@ChromeQ The easiest way to achieve this to use the recent version of `@google-cloud/firestore`. Starting with version 2.2, we support the environment variable `FIRESTORE_EMULATOR_HOST`. If you set this environment variable to the host entry provided at emulator startup (such as `localhost:8080`), Firestore will connect to the emulator instead of to the backend.

[2019-06-19 18:08] ChromeQ commented on #575
Thanks, but that also didn't work as I get another problem:
`npx firebase emulators:start --only firestore` runs in one process and shows `FIRESTORE_EMULATOR_HOST=localhost:5002`

Then in a new process I run:
`FIRESTORE_EMULATOR_HOST=localhost:5002 npx firebase serve --only functions`

[code]

[2019-06-19 18:15] schmidt-sebastian commented on #575
We will get that fixed! Sorry for the trouble.

[2019-06-19 18:18] ChromeQ commented on #575
Thanks, but ideally it would work with simply: `firebase emulators:start --only firestore,functions` or `firebase serve --only firestore,functions`
Can it be fixed to work like that without the need of the extra variable or extra process running firestore emulator?
Thanks

[2019-06-21 10:34] goodpic commented on #512
@mpalmerlee Thank you for letting me know. The version 8.1.0 did work for me as well!

[2019-06-21 16:57] hiranya911 opened #577 "Enforce UserImportOptions when importing users with passwords"
When importing users with passwords, `UserImportOptions` must be specified. But the SDK does not check for this condition correctly. Instead it generates the following error when the user records contain passwords and `UserImportOptions` is not specified:

[code]

See https://stackoverflow.com/questions/56680087/firebase-admin-import-users-doesnt-work

[2019-06-21 16:59] hiranya911 commented on #575
@schmidt-sebastian where did we land with this one?

[2019-06-21 17:01] hiranya911 commented on #555
I'm going to assume this happened because the SDK was used in a client-side framework (the original post mentions an "admin interface"). Please provide more details if that's not the case.

[2019-06-21 17:01] #555 closed

[2019-06-21 17:02] schmidt-sebastian commented on #575
Waiting on https://github.com/googleapis/nodejs-firestore/pull/696, which will fix the issue in https://github.com/firebase/firebase-admin-node/issues/575#issuecomment-503673385

[2019-06-21 17:45] bojeil-google commented on #577
Just to confirm, is the issue that we are not validating `options` is `nonNullObject` first?

[2019-06-21 17:50] hiranya911 commented on #577
@bojeil-google. Yes, I think we should check `options` is specified before checking `options.hash`.

[2019-06-21 18:34] ChromeQ commented on #575
Just out of curiousity, what is the difference between firebase serve and firebase emulators:start?
I'm only switching over to using emulators:start cos it allows me to config a port in the firebase.json since my port 8080 is used

[2019-06-22 12:40] lkostrowski opened #579 "FR: Enum with errors"
I find useful having this
https://firebase.google.com/docs/auth/admin/errors

as an enum exported from typings.

Is this something you are fine with? I can open a PR

[2019-06-23 22:59] xuaninbox opened #580 "FR:analytics_label support in FCM"
Got the warning on FCM Reports Console saying we should add analytics_label to the messages but it seems it's only available in REST api. Is there a plan to add it in node sdk?

https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages?authuser=0#fcmoptions

[2019-06-24 00:21] burtonator opened #581 "getUserByEmail should return undefined if a user does not exist."
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Ubuntu 19.04
  * Firebase SDK version: 8.2.0
  * Library version: 8.2.0
  * Firebase Product: firestore

### [REQUIRED] Step 3: Describe the problem

getUserByEmail('fakeuser@example.com')

will throw an error if the user isn't present.

This isn't a failure but is a totally rational situation.  There's no way to looku

[2019-06-24 13:11] fastfedora commented on #575
FYI, I'm getting the same `ERR_HTTP2_HEADER_SINGLE_VALUE` when executing Firestore code using `firebase emulators:start --only functions`.

In my case, I'm not trying to emulate the hosting or the Firestore database, only the functions. This previously worked for me in v6.5.0.

[2019-06-24 15:56] schmidt-sebastian commented on #575
@ryanpbrewster Ryan, can you look at these (comment https://github.com/firebase/firebase-admin-node/issues/575#issuecomment-504528452 and https://github.com/firebase/firebase-admin-node/issues/575#issuecomment-505003527)?

[2019-06-24 17:27] ryanpbrewster commented on #575
`firebase serve` is an old-school command that's usually used to emulate Firebase Hosting (i.e., serve your static web assets).

`firebase serve --only firestore` additionally starts the Firestore emulator. It is very simple and does not integrate well with other emulators or provide useful logging.

`firebase emulators:start` is the recommended way of running the Firebase emulators (including the

[2019-06-24 18:11] ryanpbrewster commented on #575
`ERR_HTTP2_HEADER_SINGLE_VALUE` indicates that somewhere we're setting a header more than once. From the original report it seems like this is an issue with the underlying `@google-cloud/firestore` library which will be fixed once https://github.com/googleapis/nodejs-firestore/pull/696 is merged and released.

One possible workaround, for now, is to downgrade to `@google-cloud/firestore@2.0.0`

[2019-06-24 18:20] ChromeQ commented on #575
Thanks for the explanation @ryanpbrewster.
That's kind of what I thought, so will it be possible to run the firestore and functions emulators as I asked in https://github.com/firebase/firebase-admin-node/issues/575#issuecomment-503673385

[2019-06-24 18:25] ryanpbrewster commented on #575
Unfortunately no. `firebase emulators:start --only functions,firestore` and `firebase serve --only functions,firestore` both actually start the Firestore emulator (in addition to the Functions emulator). This is very hard to work around. If you want to test functions that are triggered by Firestore operations, you'll need to run the Firestore emulator.

[2019-06-24 21:08] hiranya911 commented on #581
You should check the error code for `auth/user-not-found`. That is how these APIs are meant to be used:

https://github.com/firebase/firebase-admin-node/blob/1086515e34cab653ec4b4fa29c19d96f4600de4b/test/integration/auth.spec.ts#L281-L284

[2019-06-24 21:08] #581 closed

[2019-06-24 21:10] hiranya911 commented on #580
Yes, it's planned. Don't have a time frame yet.

[2019-06-24 21:13] hiranya911 commented on #579
Error handling in Admin SDKs is about to undergo a major overhaul (this is already in progress with Python and .NET). New error code enum types will be introduced as part of this change. In the meantime, we don't want to introduce any other changes, since almost any change we do at this point will have to be either revised or overwritten as part of the upcoming changes.

[2019-06-25 16:40] vomchik opened #583 "Send `thread-id` and `tag` via sendToDevice method"
If it possible to send `thread-id` and `tag` via `sendToDevice` method?

[2019-06-25 21:08] DamnMerc opened #585 "onSnapshot exceeds retries?"
* Operating System version: _1809____
  * Firebase SDK version: __8.2.0___
  * Library version: ___8.2.0__
  * Firebase Product: __database___ (auth, database, storage, etc)

### [REQUIRED] Step 3: Describe the problem
After I'd say 2-3 hours, it'll error that I exceeded maximum retries. I've searched for any relevant encounters with this to try to fix but couldn't find any.
![image](https://user-

[2019-06-26 23:12] brewster1134 commented on #555
the admin interface, refers to a CRUD web app interface to manage the firestore data. i am trying to set it up to run via firebase hosting. i'm not sure what you mean about a client-side application, but if this is considered one, what should i be using instead?

[2019-06-26 23:22] hiranya911 commented on #555
Yes, your use case seems like a client-side usage. Both `firebase-admin` and `@google-cloud/firestore` are designed for server-side Node.js applications. They do not work in scenarios where the code executes in end user's web browser.

You should be using the regular `firebase` package, which is designed for client-side web apps.

[2019-06-27 13:15] ChromeQ commented on #575
I have updated to the latest version (v2.2.3 of @google-cloud/firestore) and can confirm that this is working as expected, I can now run `firebase emulators:serve --only firestore,functions` and it will use the expected ports from `firebase.json` and both emulators work together without errors. Thanks @ryanpbrewster & @schmidt-sebastian

[2019-06-27 19:56] #583 closed

[2019-06-28 19:06] #577 closed

[2019-06-28 20:06] hiranya911 commented on #575
@schmidt-sebastian can this be closed? Is there any action items for the firebase-admin package?

[2019-06-28 22:02] #575 closed

[2019-07-01 15:53] sgrigorev commented on #533
@SephReed, where you found that registration token can expire? I can't find it in the documentation.

[2019-07-01 17:29] schmidt-sebastian commented on #585
@DamnMerc Thanks for reporting this. Can you send us logs from your client? You can enable logging by invoking

[code]

Thanks!

[2019-07-02 06:52] sferencik commented on #560
I had the same issue when running `firebase list` but that's because I had forgotten to pass the `--token`. Without the token, firebase defaults to authentication via app default credentials, and ends up here. Woth the token you don't encounter this v1/v1beta1 issue.

[2019-07-03 03:57] benwinding commented on #512
Upgrading firebase-admin to version 8.1.0 did not fix the issue for me...

But @wilhuff 's solution did!

[2019-07-03 11:33] Cdik opened #587 "collectionGroup() and query with FieldPath"
Hi all,

_Sorry if this issue shouldn't be posted here. I can't find the right place to post it._

is there a good reason why I can't query a collectionGroup() with FieldPath.documentId()??

It's working fine if a query on a specific collection but when I try querying from collectionGroup I get

and of course if I try adding a '/' at the end of the FieldPath, I get

Here are the tested codes:
Does

[2019-07-04 05:09] Thaina opened #590 "Are there anyway that we could used to check that the credential existed but not create new account?"
Since we could get and link credential with many sources. Google, Facebook, GooglePlay, GameCenter, github, etc. I need to have some way to verified that, is the credential already existed and linked with some ID or not

But I don't want to signed in with that credential immediately. Because I need to generate custom userID. If it linked I will let it signed it. But if it not I would like to have

[2019-07-04 23:08] SephReed commented on #533
Whatever it was that was wrong, fixed itself.  Didn't change anything, just started working.  My guess is that it was the `messaging/registration-token-not-registered/apns-invalid` error.

[2019-07-05 02:28] hiranya911 commented on #590
Authentication and account linking are all client-side APIs. I think this should be reported in the JS SDK repo.

[2019-07-05 02:31] hiranya911 commented on #587
Ideally this should be reported at https://github.com/googleapis/nodejs-firestore

Assigning to @schmidt-sebastian to review and triage as necessary.

[2019-07-06 18:37] nilinyi opened #591 "Pagination does not work properly"
### Environment
  * Operating System version: macOS 10.14.5
  * firebase-admin version: 7.4.0
  * google-cloud/firestore version: 2.2.3
  * Firebase Product: Cloud Firestore & Cloud Functions

### Describe the problem
Whenever I call `startAfter`, it will always show me the below error in the log. The error does not make sense to me because even if I chose to return the documents whose `id` field,

[2019-07-07 11:39] matej-svejda commented on #585
Im not the original reporter, but Im experiencing the same issue and I managed to reproduce it with logging enabled (basically I just have to wait a few hours). Here are the logs:
[firestore_max_retries.txt](https://github.com/firebase/firebase-admin-node/files/3365562/firestore_max_retries.txt)

[2019-07-07 17:30] DamnMerc commented on #585
Thanks for this! Everytime this happened I wasn't at home, so I couldn't catch the errors without it already passing in console.

[2019-07-08 17:21] schmidt-sebastian commented on #587
@Cdik Thanks for reporting this! From the error message, it appears that you are passing a single string value (`oOuEOw2BFeqypiJmEDuj`) which we treat as a collection reference for a root collection.

Collection group queries with document filters require full document paths and must include the collection for the document you are querying. Notice that  for `db.collection('myRootCollectionName')`,

[2019-07-08 17:21] #587 closed

[2019-07-08 18:18] schmidt-sebastian commented on #585
I'm not 100% sure I found the root cause for your issue, but the logs do show that we are performing extra retries for each error. The retries can then again cause more retries, which could explain why you are quickly exceeding the retry limit of ten. Once https://github.com/googleapis/nodejs-firestore/pull/713 we can try and see if the behavior improves.

[2019-07-08 22:23] schmidt-sebastian commented on #585
@DamnMerc / @matej-svejda Can you update to v2.2.4 to see if this improves the behavior?

[2019-07-09 00:03] matej-svejda commented on #585
@schmidt-sebastian I upgraded, lets see what happens :)

Do you have any ideas what is causing the connection to get lost in the first place? Im running this on an AWS server, so my guess is connectivity shouldnt be an issue ;)

[2019-07-09 16:35] schmidt-sebastian commented on #585
My theory is that you are either seeing a random connection drops, which can happen even over a strong network link, or you are running into our authentication deadline, in which case our backend terminates your connection (it should however not return GRPC Error Code 13) and we should retry seamlessly.

From your logs, however, it seems like we did not handle these connectivity issues correctly.

[2019-07-10 09:00] matej-svejda commented on #585
If I understand you correctly, this means that for this error to have happend, connecting should have failed multiple times in short succession (too short in this case). Can this then even be random connection drops or authentification deadlines?

Can I provide you with any more info to find out why the Errror Code 13 happened in the first place?

[2019-07-10 15:54] schmidt-sebastian commented on #585
Unfortunately, there is no metadata for the internal error you are seeing. If these errors occur repeatedly, you can file a [Google Support Ticket](https://firebase.google.com/support/troubleshooter/contact/) with your Project ID and get more information from the backend team.

[2019-07-10 16:29] schmidt-sebastian commented on #591
@nilinyi Thanks for contacting us! I think what you are seeing is the expected behavior. I filed a bug with the backend team to improve our error message, which hopefully will make it more clear what is going on.

`startAfter` uses the values in the order specified by the `orderBy`. If you have two orderBys, the mapping is as follows:

[code]

The error message you are seeing is because the value

[2019-07-10 16:29] #591 closed

[2019-07-11 09:37] dibikhin commented on #533
@sgrigorev https://firebase.google.com/docs/cloud-messaging/send-message#admin_sdk_error_reference
ctrl+f `messaging/registration-token-not-registered`

[2019-07-11 22:12] Nunobpinto commented on #127
That would make sense if neither sdk had an explicit way of creating an anonymous user. It would mean that if we wanted to have something like that on our platform, we'd have to implement it ourselves. But for the sole fact that there is a `signInAnonymously` that results in a user without any unique information besides the id, that's establishing what an 'anonymous' user is.

It's true that you c

[2019-07-13 08:44] CodierVersuche commented on #320
both these not working for me

[2019-07-13 12:28] matej-svejda commented on #585
So far the reconnects on v2.2.4 seem to always be successful, so that part appears to be fixed.

[2019-07-13 16:26] mikemilla opened #592 "FR: Ability to run a cloud function forever"
Hey team!

Adding a feature request here for the ability to run a cloud function indefinitely. The goal here is to get the ability to continuously listen to stream of external data, perform some logic forever, or something else that will not get cleared by firebase after a certain amount of time.

I am aware that Google Cloud VM instances can do something similar, but it would be very nice to have

[2019-07-14 00:26] schmidt-sebastian commented on #585
Glad to hear! I'm closing this for now.

[2019-07-14 00:26] #585 closed

[2019-07-15 17:23] hiranya911 commented on #592
This is what Cloud Functions for Firebase is for: https://firebase.google.com/docs/functions

Also look at the `firebase-functions` package: https://npmjs.com/package/firebase-functions

[2019-07-15 17:23] #592 closed

[2019-07-16 12:06] liamdanielduffy opened #593 "TypeError: Cannot read property 'INTERNAL' of undefined at FirebaseNamespace.initializeApp"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: macOS 10.14.4 (18E226)
  * Firebase SDK version: 8.2.0
  * Library version: unclear what this means
  * Firebase Product: initialization of admin app

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Clone the following repository:
https://github.com/liamdanielduffy/firebase-admin-bug-repro

Run `

[2019-07-16 18:05] liamdanielduffy commented on #593
resolved through the steps described in this spectrum thread:
https://spectrum.chat/firebase/general/typeerror-cannot-read-property-internal-of-undefined-at-firebasenamespace-initializeapp~a839b2c8-2349-4bf9-9b21-b4163a916119

[2019-07-16 18:05] #593 closed

[2019-07-16 18:52] rachelmyers commented on #504
Great news! We can move forward with the API changes for the SDK, with a few modifications:
  - The database methods will live in existing namespaces.
  - We had to drop support for testing.
  - We're holding off on some new methods in hopes that we can make the backend API for them more efficient.

The SDK changes we can go forward with now are:
[code]

[2019-07-16 21:15] michaelReyder commented on #540
Has there been any new developments with this issue? I'm running "firebase-admin" version 7.4.0, and as mentioned in the OP, when running on our remote servers I'm seeing the following error:

'Error Credential implementation provided to initializeApp() via the "credential" property failed to fetch a valid Google OAuth2 access token with the following error: "Error fetching access token: Error whi

[2019-07-17 18:23] danmdinu opened #594 "Disabling sound/vibration on notification does not work"
* Operating System version: Android 8.0 (issue reproduces on more devices)
  * Firebase SDK version:  7.0.0
  * Library version: 7.0.0
  * Firebase Product: messaging

### [REQUIRED] Step 3: Describe the problem
I'm trying to disable sound/vibration on specific notifications sent via firebase admin package. I've tried using the sound property described in the documentation here (https://firebase.g

[2019-07-17 23:05] chong-shao commented on #594
Hi @danmdinu , my understanding is that since Android 8 the sound parameter does not control the sound: there's concept of notification channels and each channel's sound and vibration behavior can be configured separately.

For older versions of Android, when the sound field is null, empty string, non-existing resource name, or missing, the default sound setting on the device will be used. I think

[2019-07-19 22:05] chong-shao commented on #594
Correction: setting empty string for the sound field before Android 8 should silent the notification.

[2019-07-20 09:27] danmdinu commented on #594
thanks @chong-shao for the reply. Is there any example how to use notification channels with firabase admin sdk?
Thanks!

[2019-07-20 12:01] danmdinu commented on #594
I've tried this:

[code]

  return app.messaging().sendToTopic(topic, message);

but getting

[2019-07-21 11:29] chemidy opened #598 "FR: add image option in notification"
There are new options for image in notification : https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages?authuser=0#notification

[2019-07-22 07:04] abhishekp1996 opened #599 "typescript - Initializers are not allowed in ambient contexts"
* Operating System version: Ubuntu 16.04
  * Firebase SDK version: Not sure
  * Library version: 8.2.0
  * Firebase Product: firebase-admin (auth, database, storage, etc)
  * Typescript version: 3.5.3

### the problem
I am working on typescript project and after installing this library my typescript is not compiling. It shows the following error,

[code]

#### Steps to reproduce:

1. Install the f

[2019-07-22 14:30] kkukshtel commented on #46
@bojeil-google this is great! Is this considered "done" from the FB team? I'd personally love to not have to rely on a third party service for this, it should just be built into Firebase or have some setting that lets you toggle it.

[2019-07-22 17:04] hiranya911 commented on #599
This is an issue that occurs on older versions of TypeScript (older than 3.1). Your environment is probably picking an older version of the TS compiler for some reason.

[2019-07-23 08:05] abhishekp1996 commented on #599
@hiranya911 Thanks for replying.

I never had Typescript less than 3.3.X. The error first came on my system. I upgraded my typescript version to 3.5.3 and still the error persisted.

Then I moved the code on my colleague's system and again this same error. And after that I moved the code to server, and again there also same error. All of us have typescript 3.5 +

Like I said, the strange thing is

[2019-07-23 10:10] tobiasmuecksch opened #600 "Request: Add `registrationToken` to `FirebaseError`-Type"
# Introduction
When sending a push-notification to multiple registrationTokens I process the `MessagingDeviceResult`s. Some results look like this:

[code]

As you can see, this error message suggests to ` Remove this registration token and stop using it to send messages.`. The problem is, that this `MessagingDeviceResult` object does not contain any information about **which** of the many tokens

[2019-07-23 10:36] tobiasmuecksch commented on #600
As you can see in this StackOverflow answer https://stackoverflow.com/a/57161806/1646019 it looks like, FCM returns `MessagingDevicesResponse`s in the same order as the provided registrationTokens. I couldn't find any statement on that in the official docs. If that is **reliably** the case, I'd suggest to add this information to the docs and/or the readme of this repo.

[2019-07-23 17:47] hiranya911 commented on #600
This is already documented in https://firebase.google.com/docs/reference/admin/node/admin.messaging.MessagingDevicesResponse.html#results

An array of MessagingDeviceResult objects representing the status of the processed messages. The objects are listed in the same order as in the request. That is, for each registration token in the request, its result has the same index in this array. If only a

[2019-07-23 17:47] #600 closed

[2019-07-23 17:57] hiranya911 commented on #599
Can you share your package.json?

[2019-07-24 05:38] abhishekp1996 commented on #599
@hiranya911  Sure. Here are they. (renamed from .json to .txt)

[package.txt](https://github.com/firebase/firebase-admin-node/files/3425179/package.txt)
[tsconfig.txt](https://github.com/firebase/firebase-admin-node/files/3425180/tsconfig.txt)

[2019-07-24 06:17] hiranya911 commented on #599
As suspected you're using TypeScript v2. Your package.json defines TypeScript version as `"typescript": "^2.8.3",`. This is the compiler that gets picked up by NPM scripts.

[2019-07-24 06:17] #599 closed

[2019-07-24 06:56] abhishekp1996 commented on #599
@hiranya911 Thank you very much! This saved me. Sorry for me being silly. Have a great day!

[2019-07-24 18:17] michaelReyder commented on #540
@Feiyang1  @schmidt-sebastian  @hiranya911  Could we please get some insight into this? Or perhaps you could advise as to where one might start looking to diagnose/remedy the issue?

[2019-07-25 12:41] fabiogmartins opened #605 "[Question] - Error: 4 DEADLINE_EXCEEDED: Deadline Exceeded"
Hello there,

can you help me?

I need to create a large volume of documents (and sub-collections).

What is the best way to do this process?

I tried to split operations into batches (500 operations) and execute batches via promises.

However, I am getting the error messages:
  - TRANSACTION_TOO_BIG
  - DEADLINE_EXCEEDED

----

I created code to test and exemplify the scenario.

https://github.co

[2019-07-25 18:44] hiranya911 commented on #605
Please use Stackoverflow for usage help and advice.

[2019-07-25 18:44] #605 closed

[2019-07-26 20:47] hiranya911 commented on #594
You are using a new-format message with the legacy API (`sendToTopic`).

Old format message (accepted by methods like `sendToTopic`: https://firebase.google.com/docs/reference/admin/node/admin.messaging.MessagingPayload.html

New format message (accespted by `send`): https://firebase.google.com/docs/reference/admin/node/admin.messaging.html#message

I don't think the old format messages support sp

[2019-07-26 20:47] #594 closed

[2019-07-29 06:52] congpc opened #606 "UnhandledPromiseRejectionWarning: TypeError: documentRef.getCollections is not a function"
### [READ] Step 1: Are you in the right place?

  * For issues or feature requests related to __the code in this repository__
    file a Github issue.
    * If this is a __feature request__ make sure the issue title starts with "FR:".
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, us

[2019-07-29 07:05] congpc commented on #606
Oh, I saw you was changed method name 'listCollections', but you don't mention this method is deprecated :(, Ref: (https://googleapis.dev/nodejs/firestore/latest/DocumentReference.html#listCollections)

[2019-07-29 18:01] hiranya911 commented on #606
This is one of the breaking changes that went out with Firestore 2.0.0 and Admin 8.0.0. But the documentation still shows the old method it seems. @schmidt-sebastian FYA.

[2019-07-29 18:27] schmidt-sebastian commented on #606
It looks like we forgot to update our docs. Thanks for catching that!

@samtstern Can you update the code snippets on https://firebase.google.com/docs/firestore/query-data/get-data#list_subcollections_of_a_document to use `listCollections()` for Java and Node?

`getCollections` was deprecated as of v0.18.0.

[2019-07-29 19:09] schmidt-sebastian commented on #540
@michaelReyder Unfortunately, I don't have much in terms of insightful updates :/ As you stated, we are retrying to fetch the OAuth token, but fail to do so even after four attempts. Are you able to update your code to use a different instance of the SDK once this error occurs?

[2019-07-29 21:58] sgammon opened #608 "Firestore: INVALID_ARGUMENT"
### [READ] Step 1: Are you in the right place?

I don't know, I think so. I'm filing a corresponding issue with GCP.

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: `macOS 10.14.5`
  * Firebase *Admin* SDK version: `7.0.0`
  * ~~Library version: _____~~ using the admin SDK
  * Firebase Product: Firestore

### [REQUIRED] Step 3: Describe the problem

When using a va

[2019-07-30 04:46] LilJaaY commented on #155
This feature would be useful to me.

What I'm trying to achieve: Phone number verification (NOT phone number authentication. I use a custom auth system)

My idea is to sign the user in with his phone number for the first time (to verify he has access to his phone number). Then, on the server side, link his account with my custom auth system. And finally,
unlink the phone authentication.
I don't wa

[2019-07-30 19:03] schmidt-sebastian commented on #608
@sgammon Thanks for filing this issue and sorry for your trouble!

For the Server SDKs, we rely on two levels of validations. In codepaths that can lead to internal errors in the SDK code itself, we manually validate user input. In cases where the backend can do the validation, we usually let the backend perform its validation. This allows us to use the same validation logic in 7 different Server

[2019-08-01 16:42] #608 closed

[2019-08-07 09:00] chemidy commented on #598
I already did the feature I have to do a PR

[2019-08-07 10:24] lookfirst opened #612 "Cannot use Admin + Firestore Client API in a Cloud Function"
Related to: https://github.com/firebase/firebase-js-sdk/issues/2054

I just went through my entire codebase and carefully made sure that I'm at the latest versions of all my google dependencies.

I fixed every single one of my imports to only import **exactly** what was needed. No more `* as admin` or `* as firebase`. Also no more `import admin from 'firebase-admin'`

All my imports look like this

[2019-08-07 11:07] lookfirst commented on #612
Switching my code to use the `firebaseClientApp.databse()` works, however this doesn't allow me any way to set serviceAccount level permissions, which is what I need in this case. The reason is that when I talk to the database, I have it locked down so that the user can only modify their own data. A service account allows me to bypass that.

The problem here is:

I have an app that uses pretty muc

[2019-08-07 15:16] youngvz commented on #612
@lookfirst We are also using Firebase in that same capacity. Specifically with the custom claims and we are unable to run the Firebase shell with both Admin SDK and Firebase SDK.

[2019-08-07 18:10] lookfirst commented on #612
Closing this, see the discussion here: https://github.com/firebase/firebase-js-sdk/issues/2054

[2019-08-07 18:10] #612 closed

[2019-08-07 20:39] jhuleatt opened #614 "@firebase/app as dev dependency causes npm install warnings"
## Describe your environment

  * Operating System version: Mac OS
  * firebase-admin SDK version: 8.3.0

## Describe the problem

Running `npm install` with `firebase-admin` as a dependency results in the following warnings:

[code]

I believe this is caused by this [change in 8.3.0](https://firebase.google.com/support/release-notes/admin/node#version_830_-_july_24_2019):

## Steps to reproduce:

[2019-08-07 21:23] thomaslc66 opened #615 "FR: updateProfile() should return the updated user values"
This issue is mostly to understand why updateProfile method doesn't return the updated user in the promise callback ?

Firebase is ok to manage user, but what's the point to update a user and not getting the new user value back ?

If i make a register form, with the first name and last name, i need to create a user with email and password, then call update profile to update the display name, but i

[2019-08-08 10:03] kiwicopple opened #618 "Cloud Firestore node.js invalid use of type “object” as a Firestore argument"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: MacOS
  * Firebase SDK version: 8.3.0
  * Library version: _____
  * Firebase Product: Firestore database
  * Node Version: 10.15.1

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

This issue (by someone else) describes both the problem and the resolution: https://stackoverflow.com/questions/5506

[2019-08-08 18:33] schmidt-sebastian commented on #618
@kiwicopple Thanks for sending this over.

Can you run the following on your local machine:

[code]

For me this prints:

[code]

[2019-08-08 21:38] hiranya911 commented on #614
Possible options under consideration:
1. Remove the peer dependency
2. Introduce a new database package specifically for this use case (`@firebase/database-standalone`)

[2019-08-08 21:51] ts-machine commented on #84
@hiranya911 @aaaguirrep This is not an issue with running in a browser.  This is using TypeScript/Node deploying to backend AWS Lambdas.  This is the same thing Netlify is doing.

To be clear, I am running a BACKEND Serverless project using the `serverless-webpack` plugin, developed with TypeScript, transpiled to JS by web pack, and deployed to AWS Lambda through the Serverless project.  All was w

[2019-08-08 22:10] hiranya911 commented on #84
The error message is complaining about built-in Node packages like fs and net:

[code]

We don't declare them explicitly, but expect the Node.js environment to provide them. I don't know how to "fix" `firebase-admin` so it can resolve these built-ins. If anybody knows of a fix, or provide some pointers I'd be happy to take a look.

The solution to this problem most likely exists in the webpack dom

[2019-08-09 04:02] kiwicopple commented on #618
Thanks for the swift response @schmidt-sebastian

After sleeping on this I think it may be better/easier to solve this within the library using `firebase-admin` (found here: https://github.com/sichangi/node-red-contrib-cloud-firestore/blob/master/src/Write/WriteNode.js).

For more context and anyone who reads this, here was my solution

The issue is with the library above is that they do an `Objec

[2019-08-09 04:02] #618 closed

[2019-08-09 19:00] hiranya911 commented on #606
I've created an internal bug to track the documentation update. Closing this since there's no action items for this repo.

[2019-08-09 19:00] #606 closed

[2019-08-09 19:01] hiranya911 commented on #511
I'm going to close this since I don't see any pending action items for this repo. If Rx support is ever implemented for Firestore, it should be done in https://github.com/googleapis/nodejs-firestore where the Firestore code lives.

[2019-08-09 19:01] #511 closed

[2019-08-12 14:44] liho98 commented on #540
same issues here! any firebase experts here to solve the issue?

[2019-08-13 17:46] Jeremywhiteley commented on #614
I ran to get around it.
npm install @firebase/app
npm install @firebase/app-types

Then ran install npm install

[2019-08-13 18:10] hiranya911 commented on #614
Yes, this happened because we downgraded the dependency on `@firebase/app` to a dev dependency. The `@firebase/database` package is designed to work without `@firebase/app`, but it still declares a peer dependency on it. The JS SDK team (@Feiyang1 et al) are already on the case. In the meantime, you're free to ignore the warning. I don't think there are any negative consequences.

[2019-08-15 01:32] ralfiannor commented on #580
I have a problem when running firebase admin SDK. All notification analytics don't work. Is there no analytic notification in firebase admin sdk ?

[2019-08-15 04:19] CyrisXD opened #620 "Possible memory leak? Memory increasing with every collection().add()"
#### Describe your environment

  * Operating System version: Heroku
  * Firebase SDK version: 8.3.0
  * Firebase Product: Database

#### Describe the problem

I'm parsing a CSV with 130k lines and as I'm iterating through each row I'm adding it to the collection, this is rated limited to 450/s. However with each CSV parse it seems Firestore is using more and more memory and stays. Removing the co

[2019-08-15 21:40] CyrisXD commented on #620
I can confirm 24 hours later the memory is still present.

![image](https://user-images.githubusercontent.com/3248638/63128660-9810fe80-c009-11e9-9402-38266a6070ff.png)

Upon my 4th CSV upload, Firestore pushed the memory above Heroku limits and crashed the Dyno, once restarted the Dyno memory went back to ~50mb.

[2019-08-15 22:43] hiranya911 commented on #580
Implemented in #597

[2019-08-15 22:43] #580 closed

[2019-08-16 00:43] afestein commented on #580
Thanks @hiranya911 - we're really excited to use this feature. Any chance we could get a release? 😄

[2019-08-16 12:04] TheDuc opened #624 "[TypeScript] Initialize types too strict"
### Describe your environment

  * Firebase SDK version: 8.3.0
  * Firebase Product: firebase admin
  * Node.js version: 10.16.0
  * NPM version: 6.10.3

### Describe the problem

When initialising firebase admin with standard downloaded service account json, typescript error incompatible types when `"resolveJsonModule": true,` in compiler

#### Relevant Code:

[code]
#### **`tsconfig.json`**
[cod

[2019-08-16 17:15] hiranya911 commented on #624
Duplicate of #522. See the explanations and workarounds discussed there.

[2019-08-16 17:15] #624 closed

[2019-08-16 17:33] schmidt-sebastian commented on #620
@CyrisXD Thanks for reporting this! There are a couple things that could be going on here, but I can only think of one possible leak in the Firestore library itself rather than in its dependencies. To narrow that down, I am preparing a PR that adds logging. It would be nice if you could try again once we have released a client with this PR (I'll follow up).

If this is an issue with our dependenci

[2019-08-16 17:34] LilJaaY commented on #501
Is there any other way to get the password hash?

[2019-08-16 19:54] CyrisXD commented on #620
Thanks @schmidt-sebastian I'm happy to help out where I can. I'm working on a project that's supposed to hit production Monday so I'm really hoping we can figure this one out. Let me know what to do once you're ready. Cheers

[2019-08-16 22:24] schmidt-sebastian commented on #620
The logging has been added and released. Do you mind updating to 2.2.7 of `@google-cloud/firestore` and enabling logging (via `admin.firestore.setLogFunction(console.log)`). Note that this is just a first step in diagnosing your issue and that we will likely not be able to resolve it by Monday.

[2019-08-17 04:24] jpelton-stroud commented on #320
just ran into this in my own project, discovered that the data I was grabbing did, in fact, have an object with an empty key:
[code]

[2019-08-17 07:49] CyrisXD commented on #620
Thanks @schmidt-sebastian, here is the logs. [Pastebin](https://pastebin.com/G1ibSfDY).

Just did a small amount ~ 250 records. Let me know if you need anything else.
Cheers

[2019-08-17 12:20] smashah commented on #320
If you have issues with empty properties then please try stringifying the object then immediately parsing it then sending it to Firestore.

E.g

.....update(JSON.parse(JSON.stringify(objectToSend)))

[2019-08-18 04:31] schmidt-sebastian commented on #620
From looking at the logs, everything seems to be operating somewhat normally. It does seem though that some part of the system can't keep up with your workload, and hence I would recommend throttling your update rate. By the time you issued your 250 write requests, none of them have been sent to the backend, which means that we cannot release any memory.
Furthermore, once the backend receives the

[2019-08-18 04:32] schmidt-sebastian commented on #620
I'm going to close this issue for now as I believe that everything operates to our expectations. I will re-open this issue if throttling does not alleviate the rise in memory consumption.

[2019-08-18 04:32] #620 closed

[2019-08-18 04:54] CyrisXD commented on #620
Hi @schmidt-sebastian, the function is rate limited. I've now got it at 450/s. As from what I read Firestore supports up to 500/s.

My code runs as follows.

Send 450 requests.
Wait 1 second.
Send next 450 requests.
Wait 1 second.
And So forth....

Testing locally I can see the RAM usage increasing with each upload as well, some of it does get garbage collected but still continues to grow on each

[2019-08-18 20:46] hiranya911 commented on #620
Does using batch writes help make things a little better?

[2019-08-19 15:49] schmidt-sebastian commented on #620
It looks like preparing the uploads alone takes up almost all of the CPU and none of the continuations get a chance to run. If WriteBatches and further throttling doesn't help, you might have to spawn multiple Node processes.

[2019-08-20 14:51] jpelton-stroud commented on #320
Awesome, I'll give it a shot; thanks for the heads up!

On Sat, Aug 17, 2019, 8:20 AM S.M.A.Sh <notifications@github.com> wrote:

[2019-08-21 17:11] amit00978 commented on #84
After installed  ```  "firebase-admin": "^8.3.0" ``` it gives an error ```While trying to resolve module `fs````  . any help really appreciated.

[2019-08-22 16:35] ahmadawais commented on #372
Deleting and reinstalling the node_modules did it for me 🙌

[2019-08-24 15:36] jhorlima opened #631 "[FR] How to use RealtimeDatabase emulator in sdk admin?"
I would like to use the realtimedatabase emulator to test some hooks I am creating without having to submit to production.

[2019-08-25 18:11] lookfirst commented on #132
Given that the transaction API of the client sdk doesn't match the transaction api of the admin sdk, I can't even replace the sdk usage in my functions with the client sdk. =(

https://github.com/firebase/firebase-js-sdk/issues/2112

[2019-08-25 18:19] lookfirst commented on #575
Can someone provide a detailed explanation of how to get this running? The documentation is missing imho. I found this project https://github.com/firebase/quickstart-nodejs/tree/master/firestore-emulator/typescript-quickstart

But that uses the firestore js sdk and not the admin sdk.

So, what exactly do I need to do pass to initializeApp for the admin sdk so that it hits the local emulator?

[2019-08-26 07:10] lookfirst commented on #575
Ok, I finally figured this out, I wish someone at google would document this better because in the end, it isn't very hard to setup...

Start the emulator:

`firebase emulators:start --only firestore`

[code]

[2019-08-26 08:36] lookfirst opened #632 "[Firestore] emulator is falling over with transactions"
Apologies if this is the wrong issue tracker. I'm using the Admin Node SDK to run tests against the firestore emulator.

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: OSX 10.14.6
  * Firebase SDK version:  7.2.4
  * Firebase Product: Firestore
  * Node.js version: 12.8.1
  * NPM version: 6.10.3
  * cloud-firestore-emulator-v1.8.0.jar
  * openjdk version "12.0.2" 2

[2019-08-26 11:58] lookfirst commented on #632
Ok, this one is really perplexing. I can't reproduce it reliably. I've gone through my code and all I can tell is that sometimes it happens and sometimes it doesn't. I can run it 20 times and have it work and then 21 it fails.

I'm using a single transaction. I'm doing some reads that are mostly failing to find any matching content (cause the database is empty).

I can comment out my code down to

[2019-08-28 07:21] MattGson opened #634 "Authenticating using a service account from a different GCP project causes createCustomToken to sign the wrong project."
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: GKE node:10-alpine image
  * Firebase SDK version: 8.2.0
  * Firebase Product: Firestore
  * Node.js version: 10
  * NPM version: 6.9.0

### [REQUIRED] Step 3: Describe the problem

I have a Google Cloud Platform project that needs to sign custom tokens from GKE compute instances via the node-admin SDK for multiple fir

[2019-08-28 21:25] ryanpbrewster commented on #631
This works for me:
[code]

[2019-08-28 22:25] MattGson commented on #634
The application default credentials on GKE should be using the default compute service account according to [this](https://cloud.google.com/docs/authentication/production). This service account has been given permissions to sign tokens for both Firebase projects so I would expect this to work.

re Option 1: I was trying to avoid using service account JSON files as all my other access to google ser

[2019-08-28 22:47] MattGson commented on #634
Just tested option 2 and it seems to work as expected. Thanks for the help.

[2019-08-28 22:54] hiranya911 commented on #634
A service account can only sign tokens for one and only one project. Any token signed by service account Foo is only valid within the parent project of Foo.

You need to specify a `serviceAccountId` that belong to your project B. Then you have to ensure that the default compute service account of project A has the "Service Account Token Creator" role on that `serviceAccountId`. I would expect some

[2019-08-29 17:15] deremer commented on #243
@hiranya911 I googled for `fcm idempotency` and found my own Github issue again, which I had forgotten about. Any update on the feature request?

[2019-08-29 20:40] olieydt commented on #540
same issue here! using the firebase-admin npm package and every week or so a request will fail randomly with this error
Error: Request had invalid authentication credentials. Expected OAuth 2 access token

[2019-08-30 06:06] 0x80 opened #637 "MessagingDeviceResult does not include canonicalRegistrationToken"
Using Firebase admin SDK 6.1.0.

According to the documentation found [here](https://firebase.google.com/docs/reference/admin/node/admin.messaging.MessagingDeviceResult.html) the response of `messaging.sendToDevice` should contain information about canonical tokens.

A long time ago I've seen this working but it was removed at some point. I don't know if the documentation is outdated or it should

[2019-08-30 17:14] hiranya911 commented on #637
@chong-shao can you take a look?

@0x80 any reason why you haven't migrated to the new FCM APIs? The new APIs have clear and well-documented semantics IMO. And if something's missing, we can work on it.

[2019-08-30 17:16] hiranya911 commented on #631
@ryanpbrewster is there any docs page we can point developers to? If not shall we work on putting together one?

[2019-08-30 17:19] hiranya911 commented on #540
Can you folks describe your use case and environment a bit? Where is this code running (Cloud Functions, your own server etc)? What kind of operations are they executing (simple reads and writes, event listeners)?

@olieydt your issue seems to be quite different from the other cases reported here. In other cases, the SDK is failing to fetch a token from the Google OAuth2 servers. In your case some

[2019-08-30 17:50] ryanpbrewster commented on #631
We're actively working on expanding this guide: https://firebase.google.com/docs/emulator-suite

I do not believe it currently has any information on how to connect with the Node.js SDK, but it will shortly.

[2019-08-30 17:54] hiranya911 commented on #631
Sounds good. Thanks @ryanpbrewster.

I'll close this issue since there's no action item for this repo.

[2019-08-30 17:54] #631 closed

[2019-08-30 21:29] rorymc opened #638 ".info/serverTimeOffset does not work in latest firebase-admin@8.4.0"
Ian from Firebase Support has also verified the issue started with v8.2.0 of the Node.js Admin SDK

problem:
* https://github.com/firebase/firebase-js-sdk/issues/2043
* doesn't seem to have a corresponding issue listed in `firebase-admin`, but this definitely is an issue in the latest firebase-admin@8.4.0 -- hence filing this issue, per Firebase Support suggestion.

workaround is:
* downgrade to f

[2019-08-31 00:11] hiranya911 commented on #638
In which version of `@firebase/database` are you seeing this bug? It seems the issue has been fixed on v0.5.0.

[2019-08-31 09:43] moulikcipherX commented on #504
@hiranya911 I think this issue request is completed? If there is anything to work please let me know..

[2019-08-31 19:54] 0x80 commented on #637
@hiranya911 Last time I looked I concluded that there is no modern API to address individual devices. I need to be able to send notifications to hundreds of devices at once, but topics are simply not an option because I send notifications to a sub-selection of users which is calculated dynamically.

Or did I miss something and the new FCM APIs do include batch sending with registration tokens?

[2019-09-01 02:23] olieydt commented on #540
@hiranya911 You are right, in my case it seems like the token isnt refreshed correctly. The rate of failures is similar to the issue referenced above.
We are running firebase-admin 8.4.0 on Node.js 10.16.0. A cron job runs every minute which makes use of a few _get_ calls, every week or two one of the calls produces the error "Request had invalid authentication credentials. Expected OAuth 2 access

[2019-09-02 08:33] rorymc commented on #638
@hiranya911 , thank you for the question -- perhaps it's a broken issue with `firebase-admin` itself (being a meta-package of sorts), as it's not pulling in the proper `@firebase/database` higher than 0.3.11 for us.

we have no specific version of `@firebase-admin` pulled in -- as an example, this is the extent of the `firebase` related deps in our package.json:
[code]

[2019-09-03 17:11] hiranya911 commented on #638
I think it's because the database package has a 0.x.x version. In any case this will get resolved once #635 is released.

[2019-09-03 17:11] #638 closed

[2019-09-03 17:14] hiranya911 commented on #637
Check the documentation on `sendAll()` and `sendBatch()` APIs (released several months ago).

[2019-09-04 04:40] rorymc commented on #638
thank you so much for triaging and helping us figure out what is going on.  helps with us creating a workaround, in the meantime.

[2019-09-04 05:32] angeria opened #639 "Sending localized push notifications to iOS doesn't work"
## Environment

  * Operating System version: macOS Mojave 10.14.6
  * Firebase SDK version: 8.4.0
  * Firebase Product: Cloud Messaging
  * Node.js version: 12.6.0
  * NPM version: 6.9.0

## Problem

It's not possible to send localized push notifications to iOS in an apns payload. There's an error about incorrect types. I've also tried with `body_loc_key` and `title_loc_key` but with same error.

[2019-09-04 09:18] 0x80 commented on #637
@hiranya911 Aha I missed that. I found your article [here](https://medium.com/@hiranya911/firebase-introducing-the-cloud-messaging-batch-apis-in-the-admin-sdk-2a3443c412d3)

It is unclear to me what the benefits are of this new API compared to the old one. I currently send messages in batches of 500. This new API is limited to 100 tokens at a time, so that doesn't appear to be an improvement.

Wha

[2019-09-04 17:10] hiranya911 commented on #639
ApsAlert takes locKey and locArgs. Please check the documentation: https://firebase.google.com/docs/reference/admin/node/admin.messaging.ApsAlert.html

[2019-09-04 17:10] #639 closed

[2019-09-04 17:12] hiranya911 commented on #637
The improvements are in the backend architecture. We can look into increasing the message limit per batch in the future. Also we'd probably deprecate the old API at some point.

[2019-09-05 07:33] Sandeeprao69 commented on #349
I am on blaze plan and I have about 90K documents and when i do admin.firestore().collection(collectionName).doc(id).collection('xxxx').get().then(()=> { //do something })

in my firebase function i get `Error: Deadline exceeded`
Please not i am running my function with 2gb memory and 540 sec of timeout.

[2019-09-06 14:53] lucasSzavara opened #642 "collection.onSnapshot not retrieving all documents [Firestore]"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Container using node:11.15-alpine
  * Firebase SDK version: 8.2.0
  * Firebase Product: Firestore
  * Node.js version: 11.15
  * NPM version: Npm default version for image node:11.15-alpine

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

I have a search in my app that get all users and then appl

[2019-09-06 18:07] hiranya911 commented on #504
I'm basically keeping this open until the new `admin.securityRules()` module is released. Code is currently sitting in https://github.com/firebase/firebase-admin-node/tree/rules.

[2019-09-06 19:22] schmidt-sebastian commented on #642
@lucasSzavara Thanks for filing this report. This does sound a little scary - the Server SDKs should never raise a snapshot before we have received all documents. While the backend sends us documents one at a time, we buffer these changes until the backend tells us that it has delivered a consistent snapshot.

Since you are not able to reproduce it, I would suggest that you file a support ticket w

[2019-09-06 20:36] lucasSzavara commented on #642
@schmidt-sebastian I just created a case at [https://firebase.google.com/support/](https://firebase.google.com/support/) > Database issues > Cloud Firestore > Queries > Queries help > Different problem and selected admin SDK. I'll keep this thread updated. Thanks for the help!

[2019-09-08 20:15] garalimedkarim4 commented on #144
.push({...}).then(onsuccess, onfailure)

Yeah This is the Solution (y) Happy!

[2019-09-09 11:24] the-real-mrcs commented on #580
This is now available since v8.4.0.

[2019-09-09 12:16] 0x80 commented on #637
Alright, I will plan to update in the near future then. We do get errors occasionally so if the backend architecture is better that would be enough reason to do so.

[2019-09-09 20:27] slinkstep commented on #349
Having the same issue when it comes to read and iterate over large collections (+100 docs)

[2019-09-09 21:34] slinkstep opened #644 "Error: Deadline exceeded at Http2CallStream.call.on"
### Related issues

### [REQUIRED] Version info

**node: 8**

**firebase-functions: ^3.2.0**

**firebase-tools: 7.0.2**

**firebase-admin: ^8.5.0**

### [REQUIRED] Test case

We are working in a project with google cloud functions for Firebase. We have the blaze plan but we are facing some execution problems with background functions when it comes to deal with read/write and iterate a good deal of

[2019-09-10 01:01] schmidt-sebastian commented on #349
We are preparing a release of `@google-cloud/firestore` v2.3.0 that will increase the timeout for all of our operations to 60s. This applies to all operations issued by the SDK, and is independent of the timeout set by any runtime environment (such as GCF). We hope that this alleviates some of the issues you are encountering.

[2019-09-10 01:15] slinkstep commented on #349
I started an issue with the error details and some code. I hope you can help me to find out a solution, since it's a critical feature for our project.

https://github.com/firebase/firebase-functions/issues/556

Thanks a lot. @schmidt-sebastian

[2019-09-10 06:25] Sandeeprao69 commented on #349
Hi,

I was testing my app with about 180k records and i was trying to generate csv from json. since firebase query throw this error after 60k records what i did is break my operation into multiple steps.

I wrote a recursive function which paginate and fetched only 50k in each call.

First query will be like
` db.collection('XXX').doc('id').collection('xxx').orderBy("createdAt").limit(50000);`

Se

[2019-09-10 10:15] rohitjmathew commented on #598
@hiranya911 could you roughly estimate when this feature would be taken up?

[2019-09-10 15:41] slinkstep commented on #349
@schmidt-sebastian Still getting the same error after @google-cloud/firestore update to v2.3.0

[2019-09-10 16:56] schmidt-sebastian commented on #349
@Sandeeprao69:  Even with 60s, you will likely not be able to read 60,000 documents. Your options are to split the query up using cursors (as shown in your comment) or to increase the deadline manually to suit your needs:

[code]

[2019-09-12 12:27] navneetgarggate6 opened #646 "How can I logout a user"
I have user token now i want to logout this user or reset its token so client automatically logout.

Is there is any method or approach for the same?

[2019-09-12 17:49] proppy opened #647 "[FR] add support for reusing firebase-tools credentials"
firebase-admin already lookup gcloud application default credentials out of the box:
https://github.com/firebase/firebase-admin-node/blob/1a7f722d2f4a9d918a29dbf6f088f0752cb74391/src/auth/credential.ts#L45 which is great!

It would awesome if it could also look up `firebase-tools` credentials in a similar fashion, so that:
[code]
could just work for `firebase-tools users without requiring the user

[2019-09-12 17:49] #646 closed, assigned to nobody

[2019-09-13 21:17] hiranya911 commented on #647
I don't see a ton of usage since this will only help developers running the SDK locally. If we make the existing `applicationDefault()` support the CLI credentials we would be deviating from the standard ADC protocol which is somewhat risky. That change is also not portable to other languages like Java and Python since their implementations of `applicationDefault()` are provided by the respective

[2019-09-13 23:49] proppy commented on #647
@hiranya911 another option could be to have firebase-tools store its credentials in the ADC format (i.e: same as gcloud),

That would have the benefit to stick to the standard and works out of the box with `GOOGLE_APPLICATION_CREDENTIALS` env var.

[2019-09-14 04:57] danielfein opened #649 "Module not found: Can't resolve 'child_process'"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: ___10.14.6 MacOS X__
  * "firebase": "^6.6.1",
  * "firebase-admin": "^8.5.0",
  * Firebase Product: Auth
  * Node.js version: v10.16.0
  * NPM version: 6.9.0

#### Steps to reproduce:

What happened? How can we make the problem occur?
Upon importing firebase-admin I'm getting a module not found issue that I can't reso

[2019-09-14 05:03] danielfein commented on #649
This was being called on the client somehow, ignore this :)

[2019-09-14 05:03] #649 closed

[2019-09-16 18:34] #598 closed

[2019-09-17 11:45] rohitjmathew commented on #598
Thank you @lahirumaramba @hiranya911 👍

[2019-09-17 12:20] joshdifabio opened #652 "[FR] Allow full cloud function config via FunctionBuilder API"
**Is your feature request related to a problem? Please describe.**
When deploying firebase functions to new projects, I have to manually edit the functions via the GCP web console in order to set timeouts, enable retries, etc., for different functions. It's easy to make a mistake when doing this and, after deploying functions for the first time, there is a period during which they are live with th

[2019-09-19 05:54] Sandeeprao69 commented on #349
I was able to fetch 60k records in less than 60s actually in firebase cloud function.
I faced deadline exceeded error after 65k.

[2019-09-19 13:38] rohitjmathew opened #655 "[FR] Documentation for Image option in notifications"
With the latest v8.6.0, the option to send [images](https://github.com/firebase/firebase-admin-node/pull/648) in notifications has been added. The existing [reference document](https://firebase.google.com/docs/reference/admin/node/admin.messaging.Notification) has not been updated.

Would be great if the documentation could be updated. If this will takes time then do mention how this would work he

[2019-09-19 15:44] momoDragon opened #656 "Issue with viewing logs"
I am not able to view the whole functions log when using google chrome.
But i am able to view it only when using firefox.

Issue occurs when using mac and chrome
Issue does not occur when using windows with chrome

*image from chrome*
<img width="1026" alt="Screenshot 2019-09-19 at 11 37 47 PM" src="https://user-images.githubusercontent.com/40727575/65259447-404d4200-db37-11e9-841e-45ff3b95bb25.pn

[2019-09-19 18:02] hiranya911 commented on #655
Option name is `imageUrl`.

https://github.com/firebase/firebase-admin-node/blob/4ae950d895c69442561990195566a90882f24890/src/index.d.ts#L4176-L4179

Our docs are frozen at the moment, so expect the updates to be published in a week or so.

[2019-09-19 18:02] #655 closed

[2019-09-19 18:04] hiranya911 commented on #656
Please file a ticket at https://firebase.google.com/support/troubleshooter/report/bugs/

This repo has nothing to do with  Functions or the Firebase Console.

[2019-09-19 18:04] #656 closed

[2019-09-20 09:48] rohitjmathew commented on #655
@hiranya911 thanks for the quick response. I have tried with the option imageUrl and still don't seem to be getting an image in my notification on my device. This is my notification payload:

[code]
I have checked that the image is a PNG and is less than 1 MB as per the requirements present in the [API documentation](https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#notifica

[2019-09-20 18:14] hiranya911 commented on #655
Can you share a complete code snippet? With the full message and the send API call.

[2019-09-23 16:08] morgs32 opened #657 "[Firestore] firestore.Timestamp.now() different in admin/web"
Let me know if I should report this at [nodejs-firestore](https://github.com/googleapis/nodejs-firestore) GitHub repo

### [REQUIRED] Step 2: Describe your environment
  * Operating System version: Mac OSX
  * Firebase SDK version: 8.6.0
  * Firebase Product: Firestore admin/web
  * Node.js version: 10.15.1
  * NPM version: 6.11.2

### [REQUIRED] Step 3: Describe the problem
Timestamps from admin

[2019-09-24 16:37] diegonzs commented on #156
The image doesn't show because it uses the download URL and if you see the details of the image it doesn't have one.

I found the solution to the problem in stackoverflow. [https://stackoverflow.com/a/43764656/7332915](url)

[2019-09-25 05:37] Lordofcodes opened #658 "Is it possible to subscribe or unsubscribe user from multiple topics in one call?[FR]"
[code]
I know I can run a for for loop for all instance Ids and subscribe them or unsubscribe them there. But that approach takes too much time.
**Is there any alternative? Or It's not possible yet?**

[2019-09-25 08:02] hiranya911 commented on #655
Can you also log the message to the console and share the output?

[code]

Feel free to redact any sensitive parts. @lahirumaramba did some testing where he verified the `imageUrl` is being correctly sent to the FCM service. So this might be a backend issue.

[2019-09-25 08:05] hiranya911 commented on #658
IID service (the backend system that handles this functionality) doesn't support it. I'd recommend you to file a feature request at https://firebase.google.com/support.

[2019-09-25 08:05] #658 closed

[2019-09-25 10:04] rohitjmathew commented on #655
Sure. Here is the message object that we send to FCM:
[code]

[2019-09-25 10:26] hiranya911 commented on #655
I just verified again, that the SDK is sending the right message to the backend:

[code]

That looks good. @rohitjmathew please verify you're indeed using v8.6.0 of the Admin SDK. Older versions will silently drop the imageUrl parameter altogether.

@chong-shao @lahirumaramba can you folks take a look and see what's going on? (we might need to move this thread to a support request or an internal b

[2019-09-25 10:46] rohitjmathew commented on #655
Yes, I have checked that I'm using v8.6.0 and have also deleted node_modules and tried again.

Also attaching the firebase-admin dependency from package.json for my service :
[code]

[2019-09-25 23:56] chong-shao commented on #655
Hi Rohit, to investigate the issue on our backend, I would suggest filing a support ticket to Firebase. From there you can share the information including the token and message id necessary for the debugging. Thanks!

[2019-09-27 12:00] hiranya911 commented on #504
`admin.securityRules` module is available as of v8.6.0 release.

[2019-09-27 12:00] #504 closed

[2019-09-29 08:48] 0x80 commented on #637
@hiranya911 I switched to the new API yesterday, but I see no improvements in performance. In fact the v1 legacy API reported an average latency of 63ms and the new FCM API reports 223ms average latency.

Also since I've upgraded firebase-admin from v6 to v8 the messaging API (both legacy and new) seems to be leaking memory. My cloud function responsible for sending the messages is increasingly us

[2019-09-29 09:50] 0x80 commented on #637
@hiranya911 never mind the latency. I misread the chart. The 223ms was the 99 percentile. The 50 percentile is exactly the same as that of the legacy api.

[2019-09-29 14:32] hiranya911 commented on #637
@0x80 I don't think there are any measurable performance improvements. What I said was there are improvements in the backend architecture -- resulting in better scalability, load balancing and observability at our end.

[2019-09-30 22:15] schmidt-sebastian commented on #657
@morgs32 Thanks for filing this issue! While we try to match the APIs and feature set between the Firestore Mobile Web SDK (https://www.npmjs.com/package/@firebase/firestore) and the Firestore Server SDK (https://www.npmjs.com/package/@firebase/firestore), they are inherently different products and don't share any common code or functionality. As such, we currently cannot guarantee that the intern

[2019-10-01 08:20] 0x80 opened #662 "Memory leak in v8 messaging"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Firebase functions
  * Firebase SDK version: ^8
  * Firebase Product: messaging
  * Node.js version: tested both 8 and 10 (beta)
  * NPM version: N/A

### [REQUIRED] Step 3: Describe the problem

I have a cloud function which used the old FCM API `sendToDevice()`. Then upgrading firebase-admin from 6 to 8 I started to

[2019-10-02 09:47] tamngonesv030 opened #663 "Messaging: Notifications not delivered to iOS"
I using Firebase Admin sdk for dotnet.
I send notification to Android is ok but I can't send notification to iOS.

var mess = new Message()
            {
                Token = token,
                //Notification = new Notification()
                //{
                //    Body = notificationBody,
                //    Title = title
                //},
                Apns = new ApnsConfig()

[2019-10-02 15:48] schmidt-sebastian commented on #663
@tamngonesv030 Thanks for filing this issue. Can you let us know what version of our products you are using?

There is likely a device-specific issue here, but since this is specific to In-App Messaging, I will have to hand you over to that team.

[2019-10-02 16:56] hiranya911 commented on #662
I'm not able to reproduce this. I can send very large volumes of messages (tested with up to 10K) with no impact on memory usage. Also the FCM code (especially the legacy code) hasn't changed between v7 and v8, so there' no reason why it would cause a memory leak. Are you using any other APIs (Firestore for example, which has a known memory leak issue in latest versions)?

Here are my test results

[2019-10-02 17:03] hiranya911 commented on #663
I think this issue is reported in the wrong repo. Description mentions .NET. I'm going to close this. @tamngonesv030 please report in the .NET SDK repo or better yet -- file a support request. This is not the kind of issue that can be debugged and fixed at the SDK code.

https://firebase.google.com/support

[2019-10-02 17:03] #663 closed

[2019-10-03 02:56] tamngonesv030 commented on #663
I'm using firebase admin SDK server-side .NET version 1.9.0 to push notification to client (iOS/Android)
I created message push to android then it's ok but when I create a message to push iOS client then it don't. I could not find the cause of the error from the error message:

A first chance exception of type 'FirebaseAdmin.Messaging.FirebaseMessagingException' occurred in mscorlib.dll

[2019-10-04 05:11] 0x80 commented on #662
@hiranya911 Thanks for the detailed analysis! I never used memory stats and the garbage collector like that. This example will come in very handy if I ever run into such a situation again 👍

I believe you are right. I am also using Firestore in that same cloud function. Because I hadn't noticed any issues in all of my other code using Firestore, and this function was primarily about using the mess

[2019-10-04 09:36] jamie-chapman opened #664 "Wanting to create a system admin page for my Firebase project, is there any way I can break the rules and use the firebase-admin SDK on a client side browser? Or will all my efforts to workaround the warnings be for nothing?"

[2019-10-04 10:16] jamie-chapman commented on #664
N.B The the problem I ran into was using the firebase/database SDK after successfully initialising with the admin initializeApp function, I got the error "TypeError: rtdb.initStandalone is not a function".

[2019-10-04 12:40] khaledosman commented on #238
I have a similar use-case where I only need the firebase-sdk for cloud messaging feature/ to send push notifications, I found the SDK overkill so I decided to go with the REST API implementation instead.

[2019-10-04 16:10] hiranya911 commented on #662
Hi 0x80. Thanks for confirming that you're also using Firestore in your implementation. Things make more sense now. The primary differentiator between v7 and v8 SDKs is the use of `grpc-js` by Firestore. And it is in this dependency we are currently observing memory leaks.

I'm going to point you to https://github.com/googleapis/nodejs-firestore/issues/768 and close this issue. I would advise you

[2019-10-04 16:10] #662 closed

[2019-10-04 16:25] hiranya911 commented on #664
Use Stackoverflow for questions.

[2019-10-04 16:25] #664 closed

[2019-10-04 21:48] morgs32 commented on #657
Ok that makes sense. I'm trying to do something special on the server (like checkout) and send the data back to the client via JSON. Then I was going to let the client pretend it got the data from firebase directly. Right now I'm not able to do an update from the client with that JSON, even though I THINK it looks the same. I'm not yet finished setting up an emulator to test exactly which rules se

[2019-10-04 21:48] #657 closed

[2019-10-06 00:03] naissa12 opened #666 "csrf token not being set"
I want to do the following
1. User logs in on client side
2. We save their session on server
3. Session persists on server side.

I've been trying to do this for the last 5 hours, but no luck.

Here's my code

[code]
It does not seem that Firebase is actually saving the csrfToken on the browser because the line               ` const csrfToken = this.getCookie('csrfToken'); returns a null value`

C

[2019-10-07 06:48] lookfirst opened #667 "[docs] setCustomUserClaims declaration doesn't match documentation"
![image](https://user-images.githubusercontent.com/85355/66290297-12267b00-e909-11e9-91c0-80b83ab3fd8a.png)

https://github.com/firebase/firebase-admin-node/blob/master/src/index.d.ts#L1599

"If null is passed, existing custom claims are deleted."

[code]

Would need to be defined as `customUserClaims?: object`

No test for passing in null.

https://github.com/firebase/firebase-admin-node/blob/mas

[2019-10-07 16:37] hiranya911 commented on #667
Here's the unit test for passing null: https://github.com/firebase/firebase-admin-node/blob/cc2c7047deba8030703f825e2a395edf23c75e93/test/unit/auth/auth-api-request.spec.ts#L1847-L1862

How null checks are validated in TypeScript is determined by your tsconfig. By default it allows null values for all objects. You seem to have strictNullChecks enabled for your project which is why it's throwing th

[2019-10-07 16:38] hiranya911 commented on #667
Actually I'm going to reopen this and ask @bojeil-google if we can declare the type to be `object | null` so this doesn't happen when the developer enables strictNullChecks.

[2019-10-07 17:18] bojeil-google commented on #667
Yeah good point, we should allow nulls for `customUserClaims`:

    setCustomUserClaims(uid: string, customUserClaims: Object | null): Promise<void>;

[2019-10-08 04:34] lookfirst commented on #667
Thank you @bojeil-google

[2019-10-08 04:35] lookfirst commented on #667
Should also encourage setting strictNullChecks.... more typesafety is a good thing.

[2019-10-08 22:11] hiranya911 commented on #271
Closing due to lack of activity. Please reopen with more details and a repro if this continues to occur.

[2019-10-08 22:11] #271 closed

[2019-10-08 22:12] hiranya911 commented on #361
This is being tracked at https://github.com/googleapis/nodejs-firestore/issues/746. Please follow up there.

[2019-10-08 22:12] #361 closed

[2019-10-08 22:13] hiranya911 commented on #642
This is being tracked via our support system.

[2019-10-08 22:13] #642 closed

[2019-10-08 22:29] hiranya911 commented on #156
I assume this is fixed now. Or at least the workarounds mentioned in the previous comment helps alleviate it. If the problem still occurs, please file a support issue as this is something that needs be be investigated and fixed at a higher level as opposed to the code in this repo.

[2019-10-08 22:29] #156 closed

[2019-10-10 22:09] hiranya911 commented on #463
This is documented for the v1 API at https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#Message

Let's also document it for the legacy API.

[2019-10-10 22:59] chong-shao commented on #463
The legacy API documentation update is submitted and it will be live soon.

[2019-10-10 22:59] #463 closed

[2019-10-14 16:43] tahmina8765 commented on #247
Docker works only when I use javascript, but if I use serverless framework with nodejs-typescript, then docker does not work for me. But the following works -

https://medium.com/mtlserverless/firestore-the-serverless-framework-the-easy-way-262e574581d0

[2019-10-14 23:50] vitriolix commented on #355
This is something I'm curious about as well, if we know we have a bunch of orphaned sub collections from older code that was not properly doing deletes, how can we purge that orphan data?  We won't know the ref or path to those orphaned collections as they used to be subcollections of previously deleted documents

[2019-10-15 18:39] Wokoro commented on #436
On windows, I was able to fix the issue by navigating to **change date and time settings > Internet time > change settings > Update now ** with the **synchronize with the internet server checkbox** checked.

[2019-10-15 21:05] schmidt-sebastian commented on #355
With `listDocuments()` and `listCollections()` you should be able to traverse and find any document in your Firestore hierarchy. Note that you might have to traverse your project's data from the root if you don't know where your orphaned documents are located.

[2019-10-17 19:22] vitriolix commented on #355
is there a property we can check on a document to see if it's orphaned?

[2019-10-17 20:25] schmidt-sebastian commented on #355
Since a document can be considered "orphaned" only when one of its parent documents does not exist, a way to do this would be to walk up the document hierarchy (via `.parent`) and call `get()` on every DocumentReference. You can then use `DocumentSnapshot.exists` to check whether there is a backing document in Firestore.

[2019-10-17 20:30] vitriolix commented on #355
great suggestion, works for me 👍

[2019-10-18 05:53] panchalAlpit commented on #258
Can you please send the payload format for the notification channel.

[2019-10-19 02:22] howardmalec opened #679 "api-request module not installed in utils"
[code]

Added api-request to the /utils/ folder which seems to resolve the issue. However getting additional errors for other missing modules.

[2019-10-19 06:02] howardmalec commented on #679
The package doesn't require updates. Needed to change ownership and write permissions for several directories. Here were the recommendations from yarn that resolved the challenge:

[code]

[2019-10-19 06:02] #679 closed

[2019-10-19 13:34] fatihkurnaz commented on #46
Create user and send verification email. I think that these 2 features are almost inseparable. While you may consider merging under single cloud function, it was disappointed  that we can not even use them separately.

[2019-10-19 22:52] imjared opened #680 "[FR] - Ability to set auth domains"
**Is your feature request related to a problem? Please describe.**
We're trying to deploy preview branches onto appengine using versioning. This results in URLs like `http://[VERSION_ID]-dot-[YOUR_PROJECT_ID].appspot.com`. We want to be able to run E2E tests against preview branches and send links to stakeholders for previewing. Unfortunately with Firebase authentication, we have to manually set e

[2019-10-22 15:48] sharno opened #683 "[Firestore] irrelevant error: "The Cloud Firestore API is not available for Cloud Datastore projects.""
### Describe your environment

  * Operating System version: windows 10
  * Firebase SDK version: v8.6.1
  * Firebase Product: Firestore
  * Node.js version: 10
  * NPM version: 6.x

### Describe the problem
Trying to connect with any of the methods described in: https://firebase.google.com/docs/admin/setup#initialize_the_sdk
results in this error:
[code]

Although trying to connect through the me

[2019-10-22 17:29] jlara310 commented on #587
I have a similar question:

[code]
`Error getting documents:  { Error: 3 INVALID_ARGUMENT: Resource name "projects/my-db/databases/(default)/documents/bar" lacks "/" at index 51.`

I have documents organized into `companies/{company}/users/{userid}`, and I want to find take a `userid` and find out what companies employ that user.

I see that I can add `userid` as a field and it will work:

`db.col

[2019-10-22 17:36] dweekly commented on #540
We are also seeing this issue in our project.

[2019-10-22 19:47] Cdik commented on #587
@schmidt-sebastian

Better late than never 😄 but it looks like @jlara310 has the same issue.

I get what you mean by not knowing the document path but it will make no sense to pass the full path as it is what I am looking for.

`db.collection('myRootCollectionName').where(`/myRootCollectionName/{someId_that_I_do_not_know}/{mySubCollectionName}/${firebase.firestore.FieldPath.documentId()}`, '==', m

[2019-10-22 21:54] sharno commented on #683
@hiranya911
The error isn't because the Firestore was not enabled, because I had it enabled on my project. It was for some reason not reading the serviceAccount.json file.

So the snipped you actually wrote doesn't work and throws the same error reported here even with the correct environment variable in place. The only snipped that worked is specifying `admin.credential.cert(serviceAccount)` like

[2019-10-22 22:23] schmidt-sebastian commented on #587
You should be able to pass a DocumentReference, and the SDK will do the right thing (or attempt to).

[2019-10-22 22:26] hiranya911 commented on #683
Snippet works fine (tested on multiple environments). You just need to set the environment variable correctly. Otherwise, the SDK will connect to an incorrect project (I believe it connects to some default project used by the gcloud command line tools), where Firestore is not enabled.

[2019-10-22 23:01] sharno commented on #683
Oh I see, maybe that's what's happening, the default project in gcloud command line tools is indeed different from this project that I was trying to run Firestore for.

Thanks for clarifying

[2019-10-23 02:08] atulshukla commented on #540
This is very frequent , We are using firebase functions.

[2019-10-23 15:50] fsproru opened #685 "TypeError: rtdb.initStandalone is not a function"
### [READ] Step 1: Are you in the right place?

  * For issues related to __the code in this repository__ file a Github issue.
  * If the issue pertains to Cloud Firestore, read the instructions in the "Firestore issue"
    template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, use

[2019-10-23 18:30] hiranya911 commented on #685
Looks like `resolve.mainFiles` is some Webpack configuration? AFAIK firebase-admin cannot be used with Webpack (at least not easily). Also Webpack is usually used with front-end applications. Since you're using Electron and Vue.js, I get the feeling that you're trying to use firebase-admin in a front-end application. That's not supported. It can only be used in backend Node.js environments.

[2019-10-23 18:30] #685 closed

[2019-10-24 11:07] JuanRamino commented on #540
Same here. We get an ECONNRESET error.

[2019-10-24 13:28] wilk opened #686 "[FR] ProjectManagement ios/android apps pagination"
**Is your feature request related to a problem? Please describe.**
The `firebase-admin-node` SDK has the `projectManagement.listPlatformApps` that returns the first 100 apps and there's no way to use the pagination provided by the REST APIs (https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.androidApps/list and https://firebase.google.com/docs/projects/api/reference/res

[2019-10-24 17:31] hiranya911 commented on #540
If anybody's seeing this error frequently, please file a support request at https://firebase.google.com/support. And please provide more information than provided here (exact environment, Node.js version, SDK version, example code, and ideally a debug log).

[2019-10-24 20:26] nbegley commented on #686
Thanks for the feature request, Vincenzo. I agree this would be a good idea for us to implement in the future (and of course, we also accept pull requests if someone in the community wants to work on this).

[2019-10-24 23:08] FunFetched commented on #157
Is anything happening on this? With anonymous login, the database fills up FAST. I have an overwhelming number of ghost accounts that I need to get rid of. Also, why on earth does listUsers() have no filters of any kind? If my service worker fails, it has to start all over again and parse through every single account, anonymous or not.

[2019-10-25 14:17] rlee1990 opened #687 "Cannot set custom claim in Firebase Admin"
When I run the setCustomUserClaims from inside a cloud function it never sets the claim.
Here is the code:
`exports.addAccess = functions.https.onCall((data, context) => {
    const isAdmin = data.admin;
    const isStaff = data.staff;
    const email = data.email;

    return admin.auth().getUserByEmail(email).then((user) => {
        return admin.auth().setCustomUserClaims(user.uid, {

[2019-10-25 16:39] hiranya911 commented on #687
Code looks fine and also works fine for me.

[code]

Output:
[code]

Have you checked the Functions log output? Specifically, how did you determine that it is not working?

[2019-10-25 16:54] rlee1990 commented on #687
@hiranya911 this is what I get in the output:
`{}`

[2019-10-25 16:55] rlee1990 commented on #687
@hiranya911 I shouldn't have to be on the blaze plan for this right?

[2019-10-25 17:43] hiranya911 commented on #687
No you don't.

Can you also log the following:

[code]

[2019-10-25 17:57] rlee1990 commented on #687
@hiranya911 Thanks for that they were undefined had a typo on getting that data. All works now

[2019-10-25 17:57] #687 closed

[2019-10-25 21:36] dweekly commented on #540
Thanks, @hiranya911 - I've filed Case 00018754 with details.

[2019-10-28 17:36] rhodgkins opened #688 "Firebase database transaction fails with maxretry when using Number.MAX_SAFE_INTEGER"
### [READ] Step 1: Are you in the right place?

Yes.

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: `macOS 10.14.6`
  * Firebase SDK version: `8.6.1`
  * Firebase Product: `database`
  * Node.js version: `v10.16.3`

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

When using a transaction to set an already set property to `Number.MAX_SAFE_INT

[2019-10-29 21:56] hw2zheng opened #690 "Firebase-admin auth ignores httpAgent"
### [REQUIRED] Step 1: Describe your environment

  * Operating System version: macOs Mojave
  * Firebase SDK version: firebase-admin 7.2.0
  * Firebase Product: auth
  * Node.js version: 12.9.0
  * NPM version: 6.10.2

### [REQUIRED] Step 2: Describe the problem

We have an app that uses `firebase-admin` for authenticating users and accessing firestore.
We initialize `admin` with an httpAgent, as

[2019-10-30 07:54] koooge opened #691 "typescript: got error in compile time when npm install --no-optional"
### [READ] Step 1: Are you in the right place?

  * For issues related to __the code in this repository__ file a Github issue.
  * If the issue pertains to Cloud Firestore, read the instructions in the "Firestore issue"
    template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, use

[2019-10-30 18:28] hiranya911 commented on #691
Those dependencies are required to compile the types. They are declared as optional so that any errors that may occur while installing them (which used to happen often in past) doesn't prevent the SDK installation from completing. You will have to either drop the --no-optional flag, or declare dev dependencies on Firestore and Storage.

[2019-11-01 18:07] paulsUsername commented on #325
@chriseenberg How did you resolve this? I am experiencing the same issue. This matter what metadata I attach, it isn't visible through firebase. If I go into the Google Cloud console, I can see the image fine but in Firebase it won't appear.

[2019-11-01 18:30] paulsUsername opened #694 "Images uploaded through Firebase Admin SDK not displaying properly in the Firebase Console"
### [REQUIRED] Step 2: Describe your environment

Mac OS 10.14.6
firebase-admin : 8.7.0
Firebase Admin SDK
Firebase Storage
Node v10.16.0
Npm 6.12.0
### [REQUIRED] Step 3: Describe the problem

I am uploading images to Firebase Storage from a Node.js app that I have built. The upload seems to go fine, but any image upload through the Firebase Admin SDK will not open in the Firebase Console. If I t

[2019-11-01 20:53] hiranya911 commented on #690
This is because the `fetchPublicKeys()` method doesn't use the HTTP Agent: https://github.com/firebase/firebase-admin-node/blob/5595dc26645dd5031c08cbec29f6ad3533acd7fe/src/auth/token-verifier.ts#L273

We can fix it in a future release.

[2019-11-02 00:47] paulsUsername commented on #694
Just an extra note in relation to:

`contentType: "image/png", metadata: {contentType: "image/png"}`

I have added and removed many combinations of this, all with the same result as above.

[2019-11-05 18:08] paulsUsername commented on #694
Update, its working to download the images through the Firebase iOS sdk and display in an app, but when trying to download the image on our ruby back end (using admin privileges) it's getting an MD5 verification error.

[2019-11-06 10:11] iwikal commented on #579
Will this work also change how the grpc errors with integer codes work? I'm relying on code like this right now, and it feels kind of fragile:
[code]

[2019-11-06 16:35] antpuleo2586 opened #697 "[FR] Customise expiration on email links"
**Is your feature request related to a problem? Please describe.**
We need to be able to set the expiration time when generating an email link from our backend, because some users take some time before they actually click on the link.

**Describe the solution you'd like**
Is it possible to customise the expiration time, or at least have some visibility into what the current expiration time for the

[2019-11-06 19:38] hiranya911 commented on #579
@iwikal that looks like JS code. We haven't figured out how this will look like in JS yet. But chances are good, you will at least be able to compare error codes defined in `firebase-admin` against the ones thrown by grpc clients.

[2019-11-06 20:34] rsgowman commented on #697
This is largely a duplicate of https://github.com/firebase/firebase-js-sdk/issues/1884.

tl;dr: Unfortunately, it's not currently possible to set the expiration time for any of the generated email links. And unfortunately, we don't publish the expiration times either. (It's subject to change.) Sorry! :(

However, it's relatively safe to assume that the email verification links will expire after a

[2019-11-06 20:34] #697 closed

[2019-11-07 00:14] onexdata commented on #449
I'm getting this issue too, and I'm just using the default firebase demo settings 🤔 Anyone know what I need to do? I'm using Vue.

[2019-11-07 15:27] herrfugbaum opened #698 "getSignedUrl() not working with sub-directories"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: WSL 1 running Ubuntu 18.04 on Windows 10 Pro 1903
  * Firebase SDK version: 8.6.1
  * Firebase Product: storage
  * Node.js version: 12.6.0
  * ~~NPM~~ Yarn version: 1.17.3

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

It is not possible to get a valid signed URL, if the uploaded file is insid

[2019-11-07 17:34] bojeil-google commented on #680
Can you also file an [official feature request](https://firebase.google.com/support) for this.

[2019-11-07 18:26] hiranya911 commented on #698
Please report at https://github.com/googleapis/nodejs-storage, where the Storage Node.js client is developed.

[2019-11-07 18:26] #698 closed

[2019-11-07 20:09] iouhammi commented on #540
@dweekly please any update from the support about the issue?

[2019-11-08 17:53] Elyx0 commented on #575
I'm hitting the same problem here
with `firebase emulators:start --only functions,database,firestore`
[code]
But then any code calling `admin` throws with `Can't determine Firebase Database URL.`
I run my tests with
[code]

I see from https://github.com/firebase/firebase-admin-node/commit/a4ad8288d1004b9c801dd7ee1c6b896fd7112ca8 that one of the env override got removed, am I missing something?

[2019-11-08 18:05] Elyx0 commented on #575
With `"@firebase/testing";` it sets it up correctly
[code]
The problem is that most of my code relies on
[code]
in each file for doing the database management, so I can't mock it

Should I add a wrapper around my `admin` that exports the one from `firebase/testing` if in test mode to my functions and another to live mode from the `firebase-admin` ? It feels contrived since I have a correct emulato

[2019-11-08 19:21] Elyx0 commented on #575
I ended up doing something like that:
[code]
But it feels like an ugly hack

[2019-11-12 02:06] Dinuz opened #700 "[FR] Multi-Tenancy doesn't check for existence of a tenant"
**Is your feature request related to a problem? Please describe.**
The issue is related with the creation of a tenant using the sdk server side. The sdk is missing a way to check if the tenant (the displayName to be precise) already exist in the project. The sdk will create a tenant with a different id but with the same name if the create operation is performed multiple times with the same paramet

[2019-11-12 15:04] galki opened #701 "[FR] Request for `url`-like prop/method on files uploaded to storage"
**Is your feature request related to a problem? Please describe.**
I'd like to get the URL of an image after saving it to Storage, so I can save it in Firestore and display the image later. Right now there is `getSignedUrl()` and `metadata.mediaLink` (for downloading) but apparently we can view images with the following URLs:

_Public files_

_Files viewable with access key_

But there is no prope

[2019-11-12 16:14] slinkstep commented on #349
That is the best aproach I have found for getting thorugh this error

[2019-11-12 18:55] hiranya911 commented on #700
I don't think display name is expected to be unique. And it is also pretty easy to update, if multiple tenants having the same display name is causing any confusion.

@bojeil-google what do you think?

[2019-11-12 18:59] hiranya911 commented on #701
Firebase Storage access keys and the associated URL format is not really supported in the server-side GCS client. But the GCS team might be interested in exposing the other public URL format. But please report this at https://github.com/googleapis/nodejs-storage. That's where the respective code and the team can be found.

[2019-11-12 18:59] #701 closed

[2019-11-12 19:45] wuyanna commented on #700
It's true that display name is not expected to be unique. We do have a plan to allow customers to specify tenant ID when creating tenants in the future, which could solve your problem.

[2019-11-13 00:08] arjunyel commented on #694
Try updating the storage library, heres my PR https://github.com/firebase/firebase-admin-node/pull/702

[2019-11-13 00:16] Dinuz commented on #700
@hiranya911 it is not creating so much confusion as it is, what create a bit of a mess is the following situation, using multi-tenants:

let's say I do have an app that implements a multi-tenancy strategy.
Now let's say that I do decide to use a subdomain strategy to allow the tenants to access the app in a personalized way. In this case, it is just natural to use as subdomain the name of the tena

[2019-11-13 01:01] hiranya911 commented on #700
I'll let @wuyanna or @bojeil-google from the Auth team provide a more detailed answer. But from what I can understand, displayName is just that -- a name for display purposes. Uniqueness is not guaranteed or even required. Tenant ID is the only unique key. Somebody may wish to implement their own tenant management dashboard, and group certain tenants together on the screen by assigning them the sa

[2019-11-13 01:41] galki commented on #701
Thank you. The new issue is at https://github.com/googleapis/nodejs-storage/issues/931

[2019-11-13 01:56] wuyanna commented on #700
@hiranya911 is correct. Unlike email, which is used to uniquely identify a user, displayName is just for displaying purpose, which is just like the displayName in UserRecord. While not so often, it is possible that 2 companies happen to have the same name just like users usually do.

By allowing customer-specified tenant ID, the tenant ID becomes essentially the same thing as what you referred to

[2019-11-13 02:26] Dinuz commented on #700
@wuyanna and @hiranya911 thank you very much for the answers. I then correctly understood. I am sorry I could really see a scenario where you would use different tenantsID with same display name. I am still not really convinced of the utility of it, and looks a bit a stretch, but you guys said so, and I am takin for granted.

Again you just confirmed what I thought, that the tenant Id will become

[2019-11-13 03:00] wuyanna commented on #700
Thanks for the valuable input, @Dinuz ! We will for sure take that into consideration in our planning.

[2019-11-13 20:22] paulsUsername commented on #694
The issue is actually an issue in Firebase Console UI

[2019-11-14 09:24] tienne opened #703 "[FR] messaging send with predictions"
**Is your feature request related to a problem? Please describe.**
We are using Firebase Predictions and cloud messaging (with node admin sdk). However, we want to send cloud messages to Predictions users, it is only possible in the Console. Will it be added as admin sdk?

[2019-11-14 15:16] Nicour opened #704 "⚠ Error: Cannot find module 'firebase-admin'"
Hello,

I am running my app locally and i am having this error:

"i Starting emulators: ["functions","hosting"]
? Your requested "node" version "8" doesn't match your global version "12"
? functions: Emulator started at http://localhost:5001
i hosting: Serving hosting files from: public
? hosting: Local server: http://localhost:5000
? hosting: Emulator started at http://localhost:5000
i functions:

[2019-11-14 19:02] hiranya911 commented on #704
SO is the right forum for this type of questions: https://stackoverflow.com/questions/58841887/firebase-cannot-found-the-firebase-admin-module-when-run-firebase-serve

[2019-11-14 19:02] #704 closed

[2019-11-14 20:43] ngandhy commented on #346
fwiw - I'm getting this daily using the python library.

[2019-11-15 04:34] digvan commented on #349
Still happening event with pagination

[2019-11-15 15:00] rhyek commented on #349
Stopped using firebase a while ago and this bug is one the main reasons (there were a few others). Had a really rough week in production where we had to re-architect a bunch of backend stuff as quickly as possible due to this issue and it's still not resolved.

Very interesting product, otherwise.

[2019-11-15 20:50] schmidt-sebastian commented on #349
We are tracking this internally via bug ID 139021175.

[2019-11-15 21:38] schmidt-sebastian commented on #349
@digvan / @rhyek: Can you send timestamps and project ID to `mrschmidt(at)google.com`? Thanks!

[2019-11-18 19:45] #690 closed

[2019-11-19 19:10] naclcaleb commented on #579
Is this related to #403?

[2019-11-19 22:46] naclcaleb commented on #46
The REST API allows sending an email through Firebase via this endpoint: https://firebase.google.com/docs/reference/rest/auth/#section-send-email-verification

It seems pretty easy to use: just give it an email address and it attempts to send verification to the address.

[2019-11-20 07:25] Dinuz commented on #700
@wuyanna after some more thoughts about this, I do have another point to make (that I do think it’s kind of compelling).

Without a unique tenant display name, as we agree before, the only way to connect to the tenant is to pass (and the expose) on the client side the tenantId.
This is kind of bad, as I pointed out before because in order to use a subdomain strategy:
1) or I use the tenantId as su

[2019-11-20 22:36] wuyanna commented on #700
You are right, if you are using Firebase client SDK to perform sign-in from server side the IP will not change, and all your tenants will be consuming the same quota since the requests are from the same IP. Even with Endpoints and Cloud run, the per-IP quota limit still applies. This is because the per-IP quota limit is to prevent sign-up/sign-in generated from scripts.

Firebase client SDKs are n

[2019-11-21 08:28] Dinuz commented on #700
@wuyanna thank you very much for your answer. Unfortunately you confirmed my suspicions:(

The client side sign-in it’s a no-go (believe me it would be much simpler doing it just client side), because it will require to expose the tenant id of all the tenants. I don’t see other ways to initialize firebase auth without the api_key and the tenant id.

The client side sign-in works pretty well for a

[2019-11-21 22:50] wuyanna commented on #700
Thanks for the improvement suggestions, @Dinuz! Supporting sign-in requests generated from customer's server without any per-IP quota limitation is a reasonable ask. We will definitely consider that in our future feature planning.

However, I'm not sure if server-side sign-in is the only option you have. You can initialize Firebase Auth without tenant ID, and programmatically set the tenant ID bas

[2019-11-22 01:23] Dinuz commented on #700
@wuyanna Thank you again for the answer.

I don't understand how I can perform sign-in on client side without providing the tenant id.
I know I can initialize Firebase Auth without the tenant ID, and yes this I can do client side.

However, in order to use the sign-in-with-email-and-password, and get the token for the my user (the user is under a tenant), I need to provide the tenant ID, and I don

[2019-11-23 00:24] wuyanna commented on #700
Thanks again for your feedback @Dinuz. These are very valuable inputs for us to further improve our multi-tenancy offering in the future.

Answering some of your questions:

1. Create session cookies is not currently supported in multi-tenancy.
2. You should be able to use REST API directly for multi-tenancy as well. For email and password sign-in, you will need to pass the tenantId in the post bo

[2019-11-23 01:36] Dinuz commented on #700
@wuyanna I used the rest API, it works and I wanted to let you know:) But you were faster then me and suggested the same thing.

I am kind of satisfied with the solution, the only thing that remains unclear is about the limit of the rest api.
The rest api has the same limitation of the firebase auth sdk (in terms of same IP sign-in ) or I can use it server side without incurring in the limit (we d

[2019-11-23 02:11] wuyanna commented on #700
They have the same per-IP limitations for sign-ins. The only exception currently is signUp (https://cloud.google.com/identity-platform/docs/reference/rest/client/#section-create-email-password). For signUp, you can pass a service credential (https://cloud.google.com/iam/docs/creating-short-lived-service-account-credentials) in the http header and that will bypass the IP limitation. This is essenti

[2019-11-24 11:19] timominous commented on #464
Are there any resolutions to this? I'm experiencing exactly the same problem with the difference in response formats.

[2019-11-25 07:23] digvan commented on #349
@schmidt-sebastian, sent you an email.

[2019-11-29 17:20] cargallo opened #710 "[FR] Add orderBy and filterBy optional parameters to admin.auth.Auth.listUsers"
**Is your feature request related to a problem? Please describe.**
No way of retrieving disabled users or not verified accounts

**Describe the solution you'd like**
listUsers(maxResults?: number, pageToken?: string, orderBy: string, filterBy: string): Promise<ListUsersResult>

**Describe alternatives you've considered**
As there is no option to filter or sort users, you have to create a collectio

[2019-12-02 05:38] yeldarby opened #711 "Firebase ID token has incorrect "iss" (issuer) claim."
### Describe your environment

  * Operating System version: macOS Catalina 10.15.1
  * Firebase SDK version:`firebase-admin` 8.6.1, `firebase-tools` 7.8.1
  * Firebase Product: auth, functions emulator
  * Node.js version: 13.0.1
  * NPM version: 6.13.1

### Describe the problem

Calling `admin.auth().verifyIdToken` is giving an error:
[code]
It looks like somewhere along the way the `securetoken

[2019-12-02 06:52] bojeil-google commented on #711
It appears you are passing a session cookie to `verifyIdToken`. To verify a session cookie, you need to use `verifySessionCookie`.

[2019-12-02 20:16] yeldarby commented on #711
Ahhhhh... that fixed it. Thank you so much for your help!

Would love to have had a more helpful error message -- not sure if there's a way to detect that failure case or not.

[2019-12-02 20:16] #711 closed

[2019-12-02 21:14] stari4ek opened #712 "messaging.sendMulticast does not send FcmOptions"
### [READ] Step 1: Are you in the right place?

yep

### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Linux 7u 5.3.0-23-generic #25-Ubuntu SMP Tue Nov 12 09:22:33 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
  * Firebase SDK version: 8.8.0
  * Firebase Product: messaging
  * Node.js version: 12.4.0
  * NPM version: 6.13.1

### [REQUIRED] Step 3: Describe the problem

`mes

[2019-12-03 08:56] jousi592 opened #713 "Getting: Firebase service named 'database' already registered error, even tho I am not importing firebase/database anywhere."
**Describe your environment**

  * Operating System version: Mac OS 10.15.1
  * Firebase SDK version: 8.8.0
  * Firebase Product: database (auth, database, storage, etc)
  * Node.js version: 8.15.1
  * NPM version: 6.9.0
  * "firebase": "7.5.0",
  * "firebase-admin": "8.8.0",
  * "firebase-functions": "3.3.0",

**Describe the problem**

#### Steps to reproduce:

When I call `firebase deploy --only

[2019-12-06 12:01] cgarg opened #714 "Getting: Error: Cannot find module '@firebase/component' on 8.6.0"
After moving to 8.8.0 and reverting back to 8.6.0 started getting the following error:

Error: Cannot find module '@firebase/component'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:571:15)
    at Function.Module._load (internal/modules/cjs/loader.js:497:25)
    at Module.require (internal/modules/cjs/loader.js:626:17)
    at require (internal/modules/cjs/helpers.js:20:18

[2019-12-06 12:36] cgarg commented on #714
worked after adding @firebase/component as dependency

[2019-12-06 12:48] Apurvadelaplex commented on #258
Can you help me with a payload
I am using below payload for customizing the sound
{"notification":{"title":"YOUR TITLE","body":"YOUR BODY" , "android_channel_id": "homeapp1"} }

[2019-12-06 14:26] hariprasadiit commented on #714
facing the same issue

[2019-12-06 17:34] antonvovchenko commented on #714
We also started getting this issue 2-3 hours ago. And we use latest 8.8.0 version. So seems this problem thrown by some dependency.

[2019-12-06 17:39] hiranya911 commented on #714
Seems to be caused by the JS SDK release that has gone out yesterday. @Feiyang1 @hsubox76 do you have any ideas?

[2019-12-06 18:19] parkerself22 commented on #714
Was going to file this issue last night but was busy fighting errors in production servers caused by this. The main `firebase` sdk published a new release last night, and because the dependency for `@firebase/database` in `firebase-admin` is not pinned, it installed the latest release version of `@firebase/database`.

Think the quick fix for this would be if you guys just release a new version wit

[2019-12-06 18:21] hiranya911 commented on #714
Fix underway at https://github.com/firebase/firebase-js-sdk/pull/2416

[2019-12-06 18:44] hiranya911 commented on #714
For those who are looking for an immediate workaround: https://twitter.com/plane1113/status/1203009025232654336

[2019-12-06 19:07] parkerself22 commented on #714
The fix of manually installing `@firebase/component` doesn't seem to work for `firebase-admin`, we tried that and ran into this:
[code]

[2019-12-06 19:32] Feiyang1 commented on #714
@parkerself22 Do you have `@firebase/app` in your project? If yes, you need to upgrade it to the latest.

[2019-12-06 19:49] parkerself22 commented on #714
@Feiyang1 no we do not, the only firebase dependency we have in package.json is `firebase-admin@8.8.0`

[2019-12-06 20:13] Feiyang1 commented on #714
Can you share your package.json? If you are able to inspect your `node_modules` folder,  do you see `node_modules/@firebase/app` ?

[2019-12-06 21:09] parkerself22 commented on #714
@Feiyang1 my apologies, looks like we actually do. I was not aware of the `geofirestore` dependency and it looks like we aren't still using it so I'm going to remove that and try to see if the fix of adding `@firebase/component` works
[code]

[2019-12-06 21:15] parkerself22 commented on #714
Though now it looks like the release went through, so I'll try that first. Thanks for quickly resolving this 👍 @Feiyang1  @hiranya911

In terms of preventing this in the future, would you guys consider pinning the `@firebase` dependencies for this repo? Seems like the possibility of this occurring again is still there because the `firebase-admin` release cycle does not seem to be synchronized with

[2019-12-06 21:38] hiranya911 commented on #714
I don't think we want to pin the dependency versions. We want developers to be able to get the latest dependency versions whenever possible. I'd rather have some tests in the JS SDK to detect this sort of issues before releases. Also I don't think pinning dependency versions is a reliable solution -- since we can only pin our immediate dependencies, where each of them can have transitive dependenc

[2019-12-06 21:38] #714 closed

[2019-12-06 21:39] hiranya911 commented on #713
Can you provide a minimal repro for us to try out?

[2019-12-06 22:36] parkerself22 commented on #714
@hiranya911

You could pin the `@firebase/database` dependency and then run Renovate to keep this repo synced with the JS sdk. The rest of the `@firebase` packages have their `@firebase` dependencies pinned, common practice in a monorepo. Since this package isn't included in the monorepo I'm assuming none of the `@firebase` packages have tests to ensure they dont break firebase-admin. Renovate sub

[2019-12-06 22:43] jousi592 commented on #713
Yes I was able to pin down the code causing this error, but still havent managed to remedy the situation.

Here is the code:

[code]

I have tried using `firebase/authentification` directly, but then I cant `initializeApp(config)` to prepare for the sing in call:
[code]

So I am a bit lost as to how to structure the code to get it working again.

[2019-12-06 22:56] hiranya911 commented on #713
Ok, so this is because you're trying to use both `firebase` and `firebase-admin` together. That's not really a recommended usage pattern. Those two packages are designed for different environments, targeting very different use cases.

If you insist on using these 2 packages together you will probably have to install `@firebase/app` and `@firebase/auth` instead of the aggregate `firebase` package.

[2019-12-07 01:29] hiranya911 commented on #714
@parkerself22 I'm not suggesting we don't do anything to prevent this sort of issues. It's just that I'm not convinced freezing the dependency versions is the right solution. At its face this solution sounds like we are declaring that the new JS SDK release artifacts are unreliable, and so let's work around it in the downstream projects by taking dependencies on older versions. I'd rather work wit

[2019-12-07 18:22] restuu opened #717 "TypeError: instance.INTERNAL.registerComponent is not a function"
### Describe your environment

    Operating System version: Mac OS 10.14.6
    Firebase SDK version: 8.8.0
    Firebase Product: database (auth, database, storage, etc)
    Node.js version: v10.16.3
    NPM version: 6.13.0

### Describe the problem
#### Steps to reproduce:

When I call `node index.js` it immediately throw
[code]

When I dive into `@firebase/app/dist/index.node.cjs.js` instead of

[2019-12-07 18:27] MitulGedeeya commented on #717
getting same error since evening.

[2019-12-07 21:54] parkerself22 commented on #714
@hiranya911 I agree with the first point on working closer with the JS team being the easiest solution (For the sake of the argument I mostly wrote my suggestions from a naive perspective where the two packages weren't as connected as they are). And the release process being manual explains why my Renovate fix wouldn't work to keep deps up to date automatically.

Thanks for taking the time to repl

[2019-12-08 11:12] jousi592 commented on #713
@hiranya911

So how do you suggest I structure it using `@firebase/app` and `@firebase/auth`?

I tried:
[code]

But that doesnt work unfortunately, so I dont understand how to do it using the separately imported modules.

[2019-12-08 12:08] haresh14 commented on #717
I'm also getting same error since last evening.

[2019-12-09 09:53] magician11 commented on #349
I'm getting `Error: 4 DEADLINE_EXCEEDED: Deadline exceeded`

We're on the Blaze plan and I think we have something like 10000 records in a collection.

Seems like a possible solution is to increase the timeout value.

My code looks something like this..

[code]

Just not sure how to integrate the code snippet @schmidt-sebastian is using into my code.

[2019-12-09 10:58] eheikkinen opened #719 "Messaging API not using http.Agent (proxy)"
## Describe your environment
Operating System version: Windows 10
Firebase SDK version: 8.8.0
Firebase Product: Messaging
Node.js version: v10.15.1
NPM version: 6.4.1

## Describe the problem
When using the Messaging API the request do not utilize the setted http.Agent when application was initialized. This results in the requests to fail if sending behind a proxy with the following error:

    Er

[2019-12-09 15:56] jousi592 commented on #713
Luckily my friend directed me and told me I just had to `require` the `firebase/auth` and not assign or use it.

So this configuration worked:
[code]

[2019-12-09 17:25] #713 closed

[2019-12-09 18:14] hiranya911 commented on #719
`AuthorizedHttpClient` automatically adds the `httpAgent` to all requests:

https://github.com/firebase/firebase-admin-node/blob/45905e4558afff6c7b0cc5e7b1ce73c9e1f51950/src/utils/api-request.ts#L819-L821

Here's the corresponding test case:

https://github.com/firebase/firebase-admin-node/blob/45905e4558afff6c7b0cc5e7b1ce73c9e1f51950/test/unit/utils/api-request.spec.ts#L1261-L1280

[2019-12-09 18:15] hiranya911 commented on #719
Problem here is you don't have an `httpAgent` specified in `AppOptions`. You're only specifying it for the credential, which is not enough.

[2019-12-09 18:15] #719 closed

[2019-12-09 18:23] hiranya911 commented on #717
Take a look at this comment and the subsequent discussion: https://github.com/firebase/firebase-admin-node/issues/714#issuecomment-562699156

You probably need to upgrade `@firebase/app` if it's installed directly or via some other dependency.

[2019-12-09 19:41] #712 closed

[2019-12-09 23:17] schmidt-sebastian commented on #349
If you are using the Admin SDK, you can set is as follows:

[code]

[2019-12-10 05:11] MitulGedeeya commented on #717
@hiranya911 Thanks a lot

[2019-12-10 05:48] restuu commented on #717
@hiranya911 thanks. that helps.

[2019-12-10 05:48] #717 closed

[2019-12-10 08:36] eheikkinen commented on #719
Thank you hiranya911. You are correct. It is working when the `httpAgent` was also set in the `AppOptions`.

[2019-12-10 21:40] siefix opened #722 "TypeError: instance.INTERNAL.registerComponent is not a function"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: _____
  * Firebase SDK version: _____
  * Firebase Product: admin
  * Node.js version: _____
  * NPM version: 6.13.3

Have tried with `firebase-admin` 8.8.0, 8.7.0, and 8.6.1 (the last 3 versions)
Running `firebase-functions` 3.3.0

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

I'm getting this

[2019-12-10 22:40] hiranya911 commented on #722
Duplicate of #717, #714

[2019-12-10 22:40] #722 closed

[2019-12-12 10:39] eiipaw commented on #722
I followed the linked threads but no concrete solutions were provided.

@firebase/app doesnt fix the problem

[2019-12-12 17:20] zerobytes commented on #501
You can get passwordHash and passwordSalt using the listUsers method from admin auth  api

[2019-12-12 21:35] jketcham commented on #349
FWIW, I was experiencing this error when using @google-cloud/firestore@2.6.1 to write a little over 1k documents to Firestore in a cloud function, and what seemed to fix it for me was explicitly returning a promise that resolved when all my batch write operations were complete. Before I was using the `async` syntax and it wasn't liking that (even thought that still returns a Promise). Go figure.

[2019-12-13 06:18] #637 closed

[2019-12-13 06:19] chong-shao commented on #637
Close the issue for now. Feel free to reopen if there's more to discuss :)

[2019-12-13 22:56] samoule007 commented on #714
@Feiyang1 node_modules/@firebase/app does not exist for me...
this is my package.json :
{
  "name": "firebasemessaging",
  "version": "1.0.0",
  "description": "",
  "main": "fonction.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": "",
  "license": "ISC",
  "dependencies": {
    "firebase-admin": "^8.8.0",
    "request": "^2.88.0"
  }
}

[2019-12-15 23:47] Jonarod commented on #266
Hey, sorry to comment on this closed issue but I still have the issue after wrapping my firebase calls:

[code]

then anywhere in my code:

[code]
always breaks my app with following error:

[code]

[2019-12-16 00:29] Jonarod commented on #266
Scratch that... I had a missing `catch(e)` further down the road, unrelated to `Firebase-admin`
Sorry for that...

[2019-12-16 07:29] stari4ek opened #729 "process.env.FIREBASE_CONFIG is not populated"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Linux 7u 5.3.0-24-generic #26-Ubuntu SMP Thu Nov 14 01:33:18 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
  * Firebase SDK version: 7.10.0
  * Firebase Product: firebase-functions/firebase-admin
  * Node.js version: nodejs10 runtime
  * NPM version: 6.13.1

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduc

[2019-12-16 10:01] smamun56 commented on #449
firestore.settings({ timestampsInSnapshots: true }); use this to solve your prob

[2019-12-16 13:36] D0561910 commented on #722
it's work fo me. Thank alot

[2019-12-17 01:43] Feiyang1 commented on #714
@samoule007 What error do you have?

[2019-12-17 11:40] shaibt opened #731 "[Firestore]: GOAWAY and DEADLINE_EXCEEDED errors on Firestore writes"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: GAE Flex node
  * Firebase SDK version: 8.8.0
  * Firebase Product: Firestore
  * Node.js version:  8.15.1
  * NPM version: _____

### [REQUIRED] Step 3: Describe the problem

Have been recently plagued by errors generated by the underlying grpc layer of the firestore client.
Each and every of my production servers get

[2019-12-17 23:51] arpit opened #734 "[Firestore] Type definitions are in conflict with @google-cloud/firestore v 3.0.0"
3.0.0 was only released yesterday, so not unexpected but still

[code]

  * Operating System version: Mac OS X 10.14.4
  * Firebase SDK version: 7.6.0
  * Firebase Product:  Firestore
  * Node.js version: 11.9.0
  * NPM version: 6.13.4

[2019-12-18 00:51] schmidt-sebastian commented on #734
@arpit Thanks for the report. You seem to be using two different versions of Firestore (one from `node_modules/@google-cloud/firestore` and one from node_modules/firebase-`admin/node_modules/@google-cloud/firestore`). As shown in your errors, this breaks the TypeScript compile.

We haven't yet updated Firebase Admin to include Firestore 3.0. If you want to avoid this problem, you can install Fireb

[2019-12-18 00:51] #734 closed

[2019-12-18 01:31] schmidt-sebastian commented on #731
Please install Firebase Admin from this branch for now:

[code]

This will include `@google-cloud/firestore` 3.0.

[2019-12-18 01:31] #731 closed

[2019-12-18 01:44] chong-shao commented on #703
Hi @tienne , thanks for the request. We will consider adding this feature but no timeline for now :)

[2019-12-18 01:44] #703 closed

[2019-12-18 09:46] EitanWeMatch commented on #436
i am experiencing the same issue but when i am running my Nodejs application in a docker container.

`@firebase/database: FIREBASE WARNING: {"code":"app/invalid-credential","message":"Credential implementation provided to initializeApp() via the \"credential\" property failed to fetch a valid Google OAuth2 access token with the following error: \"Error fetching access token: Error while making req

[2019-12-18 15:30] shaibt commented on #731
Hey @schmidt-sebastian ,

Tried updating the firebase-admin dependency but after installing the branch you mentioned I got this error on firebase init and cannot load firebase at all now:
[code]
This is the only change I made ("8.8.0" -> "git+https://github.com/firebase/firebase-admin-node.git#firestore-30")
I've seen this error mentioned in a few issue threads ([714](https://github.com/firebase/f

[2019-12-18 20:04] samoule007 commented on #714
@Feiyang1

TypeError: instance.INTERNAL.registerComponent is not a function
    at registerDatabase (C:\Users\Sam\Documents\_Bloc3\_rattrapage\firebaseMessaging2\functions\node_modules\@firebase\database\dist\index.node.cjs.js:15168:39)
    at Object.<anonymous> (C:\Users\Sam\Documents\_Bloc3\_rattrapage\firebaseMessaging2\functions\node_modules\@firebase\database\dist\index.node.cjs.js:15200:5)

[2019-12-18 22:29] Feiyang1 commented on #714
That's weird. Can you delete the node_modules and the lock file, then reinstall and see if the error goes away for you?

The line that gives you error only executes if `@firebase/app` is present in your project. see https://github.com/firebase/firebase-js-sdk/blob/master/packages/performance/src/services/perf_logger.ts#L95

[2019-12-18 22:35] samoule007 commented on #714
Thank you, I just solved the probleme ! @firebase/app was absent so I did :  $ install firebase
in the project and it appears (with lot's of other  (uselesses ?) things) and the error was gone.

[2019-12-19 10:17] LeoLetourneur commented on #722
More clearly
`npm install @firebase/app --save`
was the solution

[2019-12-19 19:41] deremer opened #738 ""Error: Could not load the default credentials" after upgrading to 8.0.0+"
Yes, I think I am in the right place. I've isolated our issue to changing the version of this package in our package.json.

### [REQUIRED] Step 2: Describe your environment
  * Operating System version: Deployed Firebase Functions on Node 8 runtime.
  * Firebase SDK version: this is about v8.0.0+ of this package
  * Firebase Product: Firestore
  * Node.js version: 8.15.0
  * NPM version: Whatever

[2019-12-19 20:17] deremer commented on #738
Updated comment b/c we narrowed it and realized it's a query of firestore causing the issue.

[2019-12-19 22:06] hiranya911 commented on #738
Hi @schmidt-sebastian. Any issues with ADC discovery/google-auth in the latest firestore libs?

[2019-12-19 22:22] hiranya911 commented on #738
@deremer I just realized that you're trying to upgrade to v8 from v7. I originally thought you were just trying to upgrade to the latest version that went out this week.

v8 series has already been in heavy use for nearly 7 months. So I'm inclined to think this has something to do with your specific project/deployment. Possibly some conflict with the other dependencies? What does your package.json

[2019-12-19 22:54] deremer commented on #738
Hmmm... I probably shouldn't post the full package.json here give how often `npm audit` shows red. Here are out GCP related packages...

[code]

I'd be happy to share more details over email... if you go to the link in my profile and use the contact form on our website.

This project was started back in the summer of 2017 and there's quite a bit of history to it.

[2019-12-19 23:30] hiranya911 commented on #738
Doesn't reproduce to me. Tried with a simple function that has your dependencies plus a recent version of Admin SDK.

Package
[code]

index.js
[code]

Log output from the deployed function:
[code]

[2019-12-19 23:34] hiranya911 commented on #738
Unless you can provide us a minimum repro there's not much we can do about this at the moment. I still highly doubt that this has anything to do with the SDK at all, given that the v8 series has been in heavy production use for a long time. Only thing I can suggest at this point is to contact support with more information -- ideally a scaled down version of your implementation which reproduces the

[2019-12-19 23:35] deremer commented on #738
I tried to recreate it too with a new project, but also couldn't get it to repro. Yet it's definitely happening with our deployed functions. So I'm at a loss how to resolve.

I think it _must_ have something to do with Firestore because that function does RTDB queries with no issues, but then it hits the Firestore query and fails.

[2019-12-19 23:36] deremer commented on #738
Fair enough. I suppose we can just explicitly reference a service account JSON too and see if that resolves it, even though I'd prefer to not have to do that

[2019-12-19 23:38] hiranya911 commented on #738
Error is coming from the [`google-auth-library`](https://github.com/googleapis/google-auth-library-nodejs), which is a dependency for Firestore. That explains why only the Firestore call is failing, but it doesn't explain how. Do you at least have a package-lock file you can share? I'd recommend including that in your correspondence with support.

[2019-12-19 23:39] deremer commented on #738
Ok I'll take it to support... you've been more than helpful given the vague nature of the problem.

[2019-12-19 23:40] deremer commented on #738
I can share a package-lock but not publicly b/c this is a project for a client

[2019-12-19 23:41] hiranya911 commented on #738
That's understandable. Support will provide your a means to share any artifacts and other sensitive information privately and securely.

[2019-12-19 23:41] #738 closed

[2019-12-19 23:43] deremer commented on #738
Random thought but this project pre-dates Firestore. Is it possible that the default service account is somehow messed up from an IAM perspective?

[2019-12-19 23:59] hiranya911 commented on #738
I won't rule it out.

However, having looked at the code for `google-auth-library` and `gcp-metadata` packages, it seems that the code is failing to communicate with the local metadata server: https://github.com/googleapis/gcp-metadata/blob/master/src/index.ts#L173

This could be because either your instance is messed up, or because your deployment pulled in some old/buggy versions of those depend

[2019-12-20 02:11] deremer commented on #738
Interesting! We’ve delayed upgrading the pubsub function because of some breaking changes. That one is pretty old. I wonder...

[2019-12-20 10:31] shaibt commented on #714
I found out why I was experiencing this dumbfounding error.

Clean install today (no node_modules and no package-lock.json) of new firebase-admin 8.9.0 results in error:
[code]

The code causing this is in this function: `function registerDatabase(instance)` in the firebase database module:
[code]

Although `@firebase/app`  is not a dependency in package.json and doesn't exist in the node_modules

[2019-12-20 10:38] shaibt commented on #722
If it helps anyone see my comment here: https://github.com/firebase/firebase-admin-node/issues/714#issuecomment-567877071

`@firebase/app` should not be explicitly required on server side when `firebase-admin` is included but you have to be careful  `@firebase/app` isn't somewhere in your node_modules folder hierarchy.

[2019-12-20 13:01] shaibt commented on #731
@schmidt-sebastian I upgraded all production servers to the new official firebase-admin package ver 8.9.0 that includes firebase 3.0.0. Hope this is the last I see of these connectivity issues :-)

[2019-12-21 12:14] edgesoft opened #741 "[Firestore] writeResults end up being null in node12"
* Operating System version: debian
  * Firebase SDK version: 8.9.0 and ^8.8.0
  * Firebase Product: Firestore
  * Node.js version: node:12-slim

  Getting the following error but not all the time.

[code]

This only happens in node12. Works in node8 and node11

[2019-12-22 23:53] hkchakladar opened #742 "[Firestore] Error: Cannot encode value: serverTimestamp()"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: NA
  * Firebase SDK version: "firebase-admin": "^8.2.0"
  * Firebase Product: Firestore
  * Node.js version: v10.12.0
  * NPM version: 6.9.0

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

I'm getting error for using `admin.firestore.FieldValue.serverTimestamp` inside `transaction.create`.

The

[2019-12-23 02:45] deremer commented on #738
Following up... I updated logging and pubsub to the latest and so far we have not had this issue pop-up!

So, with limited data to this point, I'm hopeful your hypothesis is correct that the old versions in the dependency tree were causing this. I'll report back with a thumbs up or down after more testing. Thank you so much for the help!

[2019-12-23 19:14] hiranya911 commented on #742
`serverTimestamp` is a function and should be invoked. Your code is passing it as a value. See https://googleapis.dev/nodejs/firestore/latest/FieldValue.html#.serverTimestamp

[2019-12-23 19:14] #742 closed

[2019-12-23 19:15] hiranya911 commented on #741
Please provide more information. At least a code sample that we can run to reproduce the error.

[2019-12-23 19:24] whaatt opened #743 "[Firestore] Types conflict between firebase-admin and @google-cloud/firestore"
#### Versions:
  * Operating System version: OSX Catalina 10.15.1
  * Firebase SDK version: 7.11.0
  * Firebase Product: Firestore
  * Node.js version: 10.15.3
  * NPM version: 6.13.2

#### Steps to reproduce:

My library has `@google-cloud/firestore@3.1.0` and `firebase-admin@8.9.0` installed (so this is the latest version that has upgraded to Firestore 3). Consider the following snippet:

[code]

[2019-12-23 19:37] hiranya911 commented on #743
Try importing `GeoPoint` from `firebase-admin`.

[code]

[2019-12-23 19:46] whaatt commented on #743
@hiranya911 Yeah, mentioned in the OP that this workaround fixes the issue. But unfortunately for pre-existing codebases where the two imports are mixed, this new error is a regression.

[2019-12-23 21:00] hiranya911 commented on #743
In general types of these two libraries won't mix. That's why `firebase-admin` re-exports Firestore types in its own `admin.firestore` namespace. We've seen similar issues with other types in the past. If GeoPoint happened to work in the old versions, that's not by design.

[2019-12-23 21:50] hiranya911 commented on #694
It doesn't look like there's anything that we can do in this repo to fix this issue. If it's indeed an issue with the Console, please file a support issue at https://firebase.google.com/support

[2019-12-23 21:50] #694 closed

[2019-12-26 02:04] schmidt-sebastian commented on #741
@edgesoft It would also be helpful if you provided client-side logs (via `setLogFunction`). Thanks!

[2019-12-26 02:22] schmidt-sebastian commented on #738
@deremer Thank you for the update. I am glad this got resolved!

[2019-12-26 02:26] schmidt-sebastian commented on #743
We have update Firebase Admin to include `@google-cloud/firestore` at version 3. While we don't recommend or officially support mixing of types between `admin.firestore` and `firestore`, the usage pattern described in this issue should be possible again.

[2019-12-26 02:26] #743 closed

[2019-12-27 12:59] Domiii opened #745 "Cannot `initializeApp` on local machine: ENOTFOUND metadata.google.internal"
NOTE: I am coming over from [this issue on `firebase-tools`](https://github.com/firebase/firebase-tools/issues/1708) (because it was the first match on Google, despite being a problem with `firebase-admin`).

## Environment
* `firebase-admin`: `v8.9.0`

## Problem

I have followed [this reference](https://cloud.google.com/docs/authentication/production#obtaining_and_providing_service_account_crede

[2019-12-27 21:51] hiranya911 commented on #745
You need to set the `GOOGLE_APPLICATION_CREDENTIALS` environment variable to use app default credentials locally. The documentation page you've linked states this:

[2019-12-27 21:51] #745 closed

[2019-12-29 07:20] Domiii commented on #745
Indeed, I initialize `dotenv` correctly. Tested it in another file where things worked out, but did not double check configuration options right before calling `initializeApp`.

Thanks!

[2020-01-02 09:53] amalshehu commented on #84
Having the same issue, Why it looks closed ? @esparkman

[2020-01-02 10:35] QuantumInformation opened #746 "[FR] Clarification on multiple DataSnapshot types, and nullable ref for snapshot"
When typing the snapshot I am not clear on what type to use from the following:

![image](https://user-images.githubusercontent.com/216566/71663005-3d7c0300-2d5c-11ea-983e-3066e8727592.png)

Also I am not clear why snapshot ref is nullable:

![image](https://user-images.githubusercontent.com/216566/71663044-60a6b280-2d5c-11ea-9f4c-dea8b5915e18.png)

[2020-01-04 13:07] purusho95 opened #747 "Issue in getRulesJSON() firebase-admin SDK 8.7.0"
Error : { code: 'database/internal-error',
     message:
      'Error while accessing security rules: Unexpected server error' }

[2020-01-04 13:49] Kronhyx commented on #157
[code]

[2020-01-04 14:41] zakaria-chahboun opened #748 "firestore on nodejs server is very slow"
i'm using Firestore (8.9.0) with Nodejs (v12.13.0) (expressjs framework) and the first simple request takes more than 30 seconds!

and if i get the same request with JavaScript in the client-side or with Rest API tool like (postman) i get the data immediately! no problem!
i also try the same example on python and no problem with it!

So what is the issue here about firestore package on nodejs?

th

[2020-01-04 15:33] zakaria-chahboun commented on #748
**Finally!**

i solve this issue by removing the new version of firebase package and replace it with an older one!

**_((but it's still just a temporary solution .. until fixed by firebase developers))_**

[2020-01-04 17:51] buddudevelopers opened #749 "publish the types to npm registry [FR]"
**Is your feature request related to a problem? Please describe.**
To use libraries with typescript, we need the types in npm registry
but typing `npm install --save @types/firebase-admin` produces an error
`npm ERR! 404 '@types/firebase-admin@latest' is not in the npm registry`
**Describe the solution you'd like**
I would like firebase-admin types to be available in npm registry for ease of use w

[2020-01-04 21:06] hiranya911 commented on #749
`firebase-admin` ships with types included. You don't need a separate `@types/*` package to use it with TypeScript.

[2020-01-04 21:06] #749 closed

[2020-01-04 21:09] hiranya911 commented on #747
Doesn't reproduce. You will have to provide more details -- environment information, sample code etc.

[2020-01-04 21:22] hiranya911 commented on #748
I tried your code on Node 8  and firebase-admin@8.9.0 where it seems to work fine. I get the response immediately. Your code also has a bug, where it will call `res.send()` multiple times for the same request, due to it being called in a `forEach` block.

[2020-01-04 21:28] hiranya911 commented on #748
Just tried it on Node 12, where it works fine too. My collection has around 7 documents. Here's my test code (I've fixed the bug in your original code) and  the curl output when calling it:

[code]

Output (first time invocation):
[code]

So around 600ms for total roundtrip.

[2020-01-04 21:30] hiranya911 commented on #748
@zakaria-chahboun can you try the above experiment and report back your observations. If you can reproduce the issue consistently, please share a Firestore log with us. Add the following to your code to enable logging:

[code]

[2020-01-05 06:04] schmidt-sebastian commented on #748
@zakaria-chahboun Can you also let us know which two versions of `@google-cloud/firestore` you are comparing? You can get the underlying version via `npm list`.

[2020-01-05 09:48] darthwalsh commented on #722
It's possible that `@firebase/app` is expected to be in your `node_modules`, like if you're using `@firebase/testing`:

[code]

In my case, the fix was updating `@firebase/testing` from version 0.13 to 0.16.

[2020-01-05 15:53] purusho95 commented on #747
Sure.
Node v10.16.3
Mac OS 10.14.1
firebase-admin : 8.9.0
firebase-functions : 3.1.0

Sample code

admin.database().getRulesJSON().then( json =>{
  console.log(json);
}).catch( err => {
  console.log('Error message : '+err.message)
})

[2020-01-05 21:12] hiranya911 commented on #747
Works fine as far as I can tell. Here's my full test code:

[code]

And I get the output as expected:

[code]

It doesn't look like there's any SDK-level bug here. Most likely a configuration issue on your end. Make sure your credential (service account) and the database URL are from the same Firebase project. If the problem occurs consistently, and all the configuration looks correct, please rais

[2020-01-05 21:12] #747 closed

[2020-01-06 11:26] diginikkari opened #750 "[Firestore] 8.9.0 version extremely slow with firestore emulator"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version:  MacOS 10.15.2
  * Firebase SDK version: 7.6.1
  * Firebase Product: Firestore / firebase-admin 8.9.0
  * Node.js version: 12.4.0
  * NPM version: 6.13.4

### [REQUIRED] Step 3: Describe the problem

firebase admin firestore calls are extremely slow compared to version 8.8.0. when running against firestore emulator. Th

[2020-01-06 16:59] schmidt-sebastian commented on #748
We have received logs in https://github.com/firebase/firebase-admin-node/issues/750. I am currently looking into this issue.

[2020-01-06 18:27] #748 closed

[2020-01-06 18:27] #750 closed

[2020-01-06 18:48] schmidt-sebastian commented on #750
This has been fixed and released as Firestore 3.3.1.

[2020-01-06 18:48] schmidt-sebastian commented on #748
This has been fixed and released as Firestore 3.3.1.

[2020-01-07 11:00] zakaria-chahboun commented on #748
7.1.0 and 8.9.0

[2020-01-07 17:04] srinivaassunil opened #753 "How to include image url in sendToTopic"
Is it possible to include an image URL in sendToTopic?
I could not see that param in the interface(NotificationMessagePayload).

Thank you.

[2020-01-07 19:14] hiranya911 commented on #753
Please use Stackoverflow for usage questions.

[2020-01-07 19:14] #753 closed

[2020-01-08 10:22] alexanderwallin opened #756 "[FR] Include raw HTTPS responses in errors"
**Is your feature request related to a problem? Please describe.**
I am converting APNs tokens to Firebase registration tokens ("FRTs") on-the-fly in a backend push service. Many converted FRTs fail with the error `messaging/invalid-argument`, with no clues of what's going on. Through some fairly time consuming debugging using the Google API Explorer I was able to get some more details on what was

[2020-01-08 10:23] alexanderwallin commented on #533
I don't know the exact contents of the raw API response, but implementing https://github.com/firebase/firebase-admin-node/issues/756 might be helpful here.

[2020-01-08 15:20] Elyx0 commented on #369
Doesn't look like a good reason to me 😒

[2020-01-09 13:59] driescroons commented on #403
Any update on this @hiranya911? I'm currently checking if my error object has a code property in my error middleware, but this interferes with other packages I'm using. (other errors thinking it's a FirebaseError by having a code property)

It would be a whole lot cleaner / easier if we could use ```error instanceof FirebaseError```. The codes on the error object work perfectly fine for me, as I c

[2020-01-09 18:55] hiranya911 commented on #403
So far the new error handling model has been released in Python and .NET. We plan to bring it to Java soon. I think we can look into implementing it in Node.js towards the 2nd half of 2020.

[2020-01-09 18:56] hiranya911 commented on #756
This is definitely the long term plan. We are currently working towards implementing the same for Java. We can pick up Node.js towards the end of 2020.

[2020-01-09 21:10] alexanderwallin commented on #756
I'm glad to hear it's on your radar! It's quite a while, a year to introduce a property. Do you accept PRs, or does it entail too much in-house coordinance?

[2020-01-10 01:57] hiranya911 commented on #756
If you can introduce the property without any other breaking changes, we can certainly accept it. The overall error handling revamp we are planning is a large-scale breaking change. That's why it's taking time.

[2020-01-10 09:00] gabrielmoncea opened #757 "***.iam.gserviceaccount.com does not have storage.objects.delete access to ***.appspot.com/***"
### Environment

  * Operating System version: macOS Catalina 10.15.2
  * Firebase SDK version: ^8.9.0
  * Firebase Product: Storage
  * Node.js version: 10.16.3
  * NPM version: 6.11.3

### Problem

#### Steps to reproduce:

I'm initialising the app with a new service account and when I'm trying to upload a file on firebase storage I get this error that the service account doesn't have access to

[2020-01-10 10:10] alexanderwallin commented on #756
Alright, good to know! I'll see what I can do. Good luck with the revamp!

[2020-01-10 12:37] driescroons commented on #403
Would you mind sharing a link of the node sdk roadmap? Cannot seem to find it 😀

[2020-01-10 18:26] hiranya911 commented on #403
@driescroons we don't publish our roadmaps publicly.

[2020-01-10 18:31] hiranya911 commented on #757
I think this is because of the way you've specified your `storageBucket` option. It should just be the name of the bucket without any prefixes like `gs://`.

[2020-01-10 20:40] Dygerati opened #758 "The "timestampsInSnapshots" option for Firestore ignored when set to false on latest version"
### [READ] Step 1: Are you in the right place?

  * For issues related to __the code in this repository__ file a Github issue.
  * If the issue pertains to Cloud Firestore, read the instructions in the "Firestore issue"
    template.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, use

[2020-01-10 22:23] hiranya911 commented on #758
No it's no longer supported. It was removed with Firestore v3.0.0

https://github.com/googleapis/nodejs-firestore/releases/tag/v3.0.0

[2020-01-10 22:23] #758 closed

[2020-01-10 22:25] Dygerati commented on #758
Ah, that being the case I'd encourage updating the documentation:
https://firebase.google.com/docs/reference/js/firebase.firestore.Settings

[2020-01-13 10:30] Mikkelet commented on #358
Im having this problem now. What's weirder is, I am using the EXACT same dependencies for the project thats tied to a test firestore database and IT has no problem deploying the functions. So weird.

[2020-01-13 23:42] whaatt commented on #358
@Mikkelet Try using exact versions instead of approximate (`~` or `^`) versions, especially if you haven't upgraded to `@google-cloud/firestore@3`.

The`firebase-admin` module may not be using semantic versioning conventions, since the minor bump from `8.8.0` to `8.9.0` depends on a major bump (`2.x.x` to `3.x.x`) for `@google-cloud/firestore`.

[2020-01-14 17:44] gabrielmoncea commented on #757
@hiranya911 the [documentation](https://firebase.google.com/docs/storage/admin/start) says what you said, but I have the same script on another branch for a different project and it works just fine.

[2020-01-14 19:48] hiranya911 commented on #757
Looks like the new versions of `@google-cloud/storage` does indeed allow prefixes. In that case we can't really speculate why your code works in one environment/project but not the other. There are couple of strange behaviors reported here:

1. Application complaining about the `storage.objects.delete` permission while your code only has `upload()`.
2. The error message mentioning an old service a

[2020-01-14 19:48] #757 closed

[2020-01-14 19:50] gabrielmoncea commented on #757
@hiranya911 is there anything I can do to make if work again? Like reseting the project or something else

[2020-01-15 00:54] bmcilw1 commented on #46
The REST API is not an ideal solution, but an ok workaround. In my opinion, ideally, the admin SDK should have a function to sendEmailVerification() for the current user.

[2020-01-15 21:24] lpellegr opened #763 "Error: Failed to initialize Google Cloud Firestore client with the available credentials. Must initialize the SDK with a certificate credential or application default credentials to use Cloud Firestore API"
Using the new version _8.9.1_ of firebase-admin, firebase-functions deployments using NodeJS 10 with the Firebase CLI fail. Reverting firebase-admin to version _8.9.0_ resolves the issue.

Here is the command used to deploy functions:

The line 10 from account-active.js is `const firestoreDatabase = admin.firestore();`.

Firebase admin initialization is made as follows:

[code]

where FirebaseAdmi

[2020-01-15 22:33] hiranya911 commented on #763
What does `npm ls firebase-admin` say after the upgrade?

[2020-01-15 23:05] hiranya911 commented on #763
This happens when the local development environment has been initialized with refresh token credentials. Since you have an `admin.firestore()` call in the global scope, it attempts to create a Firestore client at the trigger parsing phase. There are couple of different workarounds:

1. Move the `admin.firestore()` into one of the functions. You don't get any benefit from keeping it in the global s

[2020-01-16 00:19] darinw commented on #717
When i add `@firebase/app` i get a new error

Error: Failed to initialize Google Cloud Firestore client with the available credentials. Must initialize the SDK with a certificate credential or application default credentials to use Cloud Firestore API.

[2020-01-16 00:44] hiranya911 commented on #763
Managed to come up with a fix in our code.

[2020-01-16 13:53] Lucas-Geitner commented on #763
Same here

➜  functions git:(gastonerie2) ✗ npm ls firebase-admin
functions@ /Users/lucasgeitner/work/poesie/poesie.io_app/functions
└── firebase-admin@8.9.1

[2020-01-16 13:56] Lucas-Geitner commented on #763
This is how i use firestore  so i can use it with the simulator :)

thanks for your help

`
let admin = require('firebase-admin')
let firestore
let db
let storage
const projectId = 'XX'
let auth
let clean

if (process.env.NODE_ENV !== 'test') {
  admin.initializeApp()
  firestore = admin.firestore
  db = admin.firestore()
  auth = admin.auth
  if (admin && admin.storage && admin.storage()) {
    s

[2020-01-16 14:05] geeksha opened #765 "FCM notifs using firebase-admin-sdk node stopped working suddenly"
I am using firebase-admin-sdk node in three different apps with the same private key and they were working without any problem for a while (one month more or less). Suddelnly they stopped to work. Are there some restrictions in FCM? Is this the expected behavior?

Thanks in advance

[2020-01-16 16:15] Lucas-Geitner commented on #763
find a way to deploy and login by doing

export GOOGLE_APPLICATION_CREDENTIALS=/Users/lucasgeitner/work/****.json

i just get this error when runing `firebase emulators:start` :

[code]

And as soon i leave my terminal, i have to do again the export

Still thanks for the great work around firebase ;)

[2020-01-16 16:24] geeksha commented on #765
Ignore it, sorry. I was testing in firefox ESR which doesn't support notifications.

[2020-01-16 16:25] #765 closed

[2020-01-16 16:53] darinw commented on #763
temp fix:

`npm i firebase-admin@8.9.0`

issue only seems to affect 8.9.1

[2020-01-17 18:37] npomfret commented on #763
Same problem here using :

`
admin.initializeApp({
                credential: admin.credential.applicationDefault()
            });
`

Downgrading using `yarn add firebase-admin@8.9.0` seems to get it working again.

Thanks @darinw

[2020-01-18 11:46] hkchakladar opened #767 "[Firestore] IN query not working. Invalid 'opStr'"
### [READ] Step 1: Are you in the right place?
Yes

### [REQUIRED] Step 2: Describe your environment

  * Firebase SDK version: `firebase-admin": "^8.2.0"`
  * Firebase Product: Firestore

### [REQUIRED] Step 3: Describe the problem

As described in [this blog](https://firebase.googleblog.com/2019/11/cloud-firestore-now-supports-in-queries.html) and [firestore documentation](https://firebase.googl

[2020-01-20 16:10] hkchakladar commented on #767
Fixed by using :

`Firebase SDK version: firebase-admin": "^8.9.0"`

[2020-01-20 16:10] #767 closed

[2020-01-21 03:00] schmidt-sebastian commented on #767
Thanks for letting us know that you managed to make this work!

[2020-01-21 10:25] eddyoc commented on #156
This issue persists

[2020-01-21 18:58] #763 closed

[2020-01-21 21:54] pedrorau commented on #405
We're experiencing the same problem, so we cant use test account. We have to use real phone number to debug. Any news?

[2020-01-22 17:48] coolcool1994 opened #771 "createCustomToken doesn't save customClaim"
When you create a new user and sign him in with createCustomToken with customClaim, and the user later signs out and signs-in again with admin's createCustomToken this time without the optional customClaim param, the customClaim that was previously set is not returned to the client in the second sign-in.

I believe it is a bug that createCustomToken with customClaim doesn't save the customClaim to

[2020-01-22 20:48] hiranya911 commented on #771
This is working as expected. From the [documentation](https://firebase.google.com/docs/reference/admin/node/admin.auth.Auth.html):

I think that's pretty self explanatory. `createCustomToken()` does just that -- it creates a new token (JWT) with the specified claims. If a user signs in with the resulting JWT, those claims are added to the ID token issued by Firebase Auth. Beyond that the claims ar

[2020-01-22 20:48] #771 closed

[2020-01-23 14:45] rhodgkins commented on #747
@hiranya911 I'm getting the same error, I've extracted the request via debugging and turned it into a cURL and get the same error there.

Works:

[code]

[code]

Seems to be the server can't create JSON rules.

[2020-01-23 19:06] hiranya911 commented on #747
What does your rules look like in the console?

[2020-01-24 09:57] rhodgkins commented on #747
After much debugging I found this is the smallest use case to reproduce the issue:

[code]

It's obvious now that we had a bad `,` in our rules but the rules editor in the console hadn't picked it up!
We've corrected this now and it `getRulesJSON` works so I guess the issue is more so in the rules editor...

[2020-01-24 17:22] christian-miljkovic opened #773 "[Firestore] TypeError: firebase.INTERNAL.registerComponent is not a function"
### Describe your environment

  * Operating System version: _____
  * Firebase SDK version: 7.12.0
  * Firebase Product: Firestore
  * Node.js version: 12.5.0
  * NPM version: 6.10.2

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

I am running npm start which is building my react-firebase application, which compiles fine but when I look at my app on localhost I receive the

[2020-01-24 19:02] hiranya911 commented on #747
Thanks @rhodgkins for the update. I'm going to file a bug for this for our RTDB team. I think both the console and the Rules REST API should be able to handle this case gracefully.

[2020-01-24 21:39] hiranya911 commented on #741
Closing this due to lack of information or activity. Please reopen with the requested details.

[2020-01-24 21:39] #741 closed

[2020-01-25 16:21] JoeBeer commented on #763
What worked for me was to run following command again:
`$ export GOOGLE_APPLICATION_CREDENTIALS="path/to/key.json"`

For more information see this [link](https://firebase.google.com/docs/functions/local-emulator#set_up_admin_credentials_optional)

[2020-01-28 02:14] murataksu740 opened #774 "[Firestore] I get this error when i install admin-sdk."
[code]
[code]

[2020-01-28 17:21] schmidt-sebastian commented on #774
@murataksu740 Sorry to hear about your troubles! This looks like you there is a problem opening a file description during SSL initialization. As this is somewhat deep in our stack, we will likely need a reproducible case to be able to debug this. Can you provide version information for your environment as well as a small reproduction?

I will also assign this to the Admin SDK team (I only work on